﻿<div class="tab-content"
    ng-controller="AccountsController as ac">
    <div class="tab-pane fade active in">
        <div class="expiredlistings-tab">
            <div class="tab-header">
                <h3>Accounts</h3>
                <p>Manage registered users</p>
            </div>
        </div>

        <form>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Email:</label>
                    <input type="text"
                        ng-model="ac.Filter.Email" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pwd">Name:</label>
                    <input type="text"
                        ng-model="ac.Filter.Name"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pwd">Credits:</label>
                    <input type="number"
                        ng-model="ac.Filter.Credits"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pwd">Country:</label>
                    <select class="form-control" ng-options="country as country.Name for country in vm.Countries"
                        ng-model="ac.Filter.Country">
                        <option value="">Select a country</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="pwd">City:</label>
                    <select class="form-control" ng-options="country as country.Name for country in ac.Filter.Country.Subs"
                                ng-model="ac.Filter.City">
                                <option value="">Select a city</option>
                            </select>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <input type="button" class="form-control btn-primary"
                        ng-click="ac.SearchUsers()"
                        style="margin: 20px"
                        value="Find">
                </div>
            </div>
        </form>

        <div>
            <table class="table-striped table">
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Email</span></th>
                    <th><span>Name</span></th>
                    <th><span>Country</span></th>
                    <th><span>City</span></th>
                    <th><span>Credits</span></th>
                    <th><span>Action</span></th>
                </tr>
                <tr dir-paginate="account in ac.Users.List 
                    | itemsPerPage: ac.Pagination.PageSize"
                    total-items="ac.Users.Count"
                    current-page="ac.Pagination.Current">
                    <td><span>{{::account.ID}}</span></td>
                    <td><span>{{::account.Email}}</span></td>
                    <td><span>{{::account.Name}}</span></td>
                    <td><span>{{::account.Country}}</span></td>
                    <td><span>{{::account.City}}</span></td>
                    <td><span>{{::account.Credits}}</span></td>
                    <td>
                        <button class="btn-primary"
                            ng-click="ac.ModifyAccount(account)">
                            Edit User</button>
                        <button class="btn-link"
                            ng-click="ac.ShowUserLogs(account)">
                            Show User Logs</button>
                    </td>
                </tr>
            </table>
            <center>  
                <dir-pagination-controls 
                    max-size="5"
                    on-page-change="ac.SearchUsers(newPageNumber, oldPageNumber)"
                    auto-hide="true">
                </dir-pagination-controls>

            </center>

        </div>
    </div>
</div>
