﻿<div class="tab-content"
    ng-controller="AdminContactController as ac">
    <div class="tab-pane fade active in">
        <div class="expiredlistings-tab">
            <div class="tab-header">
                <h3>User Requests</h3>
            </div>
        </div>

        <!--<form>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Email:</label>
                    <input type="text"
                        ng-model="ac.Filter.Email" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pwd">Name:</label>
                    <input type="text"
                        ng-model="ac.Filter.Name"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pwd">Credits:</label>
                    <input type="number"
                        ng-model="ac.Filter.Credits"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pwd">Country:</label>
                    <select class="form-control" ng-options="country as country.Name for country in vm.Countries"
                        ng-model="ac.Filter.Country">
                        <option value="">Select a country</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="pwd">City:</label>
                    <select class="form-control" ng-options="country as country.Name for country in ac.Filter.Country.Subs"
                                ng-model="ac.Filter.City">
                                <option value="">Select a city</option>
                            </select>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <input type="button" class="form-control btn-primary"
                        ng-click="ac.SearchUsers()"
                        style="margin: 20px"
                        value="Find">
                </div>
            </div>
        </form>-->

        <div>
            <table class="table-striped table">
                <tr>
                    <th><span>Email Used</span></th>
                    <th><span>Name</span></th>
                    <th><span>Type</span></th>
                    <th><span>Logged In Email</span></th>
                    <th><span>Message</span></th>
                </tr>
                <tr dir-paginate="contact in ac.Contacts.List 
                    | itemsPerPage: ac.Pagination.PageSize"
                    total-items="ac.Contacts.Count"
                    current-page="ac.Pagination.Current">
                    <td><span>{{::contact.Email}}</span></td>
                    <td><span>{{::contact.Name}}</span></td>
                    <td><span>{{::contact.Type}}</span></td>
                    <td><span>{{::contact.User.Email}}</span></td>
                    <td><span>{{::contact.Message}}</span></td>
                </tr>
            </table>
            <center>  
                <dir-pagination-controls 
                    max-size="5"
                    on-page-change="ac.SearchContacts(newPageNumber, oldPageNumber)"
                    auto-hide="true">
                </dir-pagination-controls>

            </center>

        </div>
    </div>
</div>
