﻿<div class="tab-content"
    ng-controller="LogsController as alc">

    <div class="tab-pane fade active in">
        <div class="expiredlistings-tab">
            <div class="tab-header">
                <h3>Logs</h3>
                <p>View system logs</p>
            </div>
        </div>

        <form>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Type:</label>
                    <select ng-model="alc.Filter.Type" class="form-control">
                        <option value="">All</option>
                        <option value="0">Post</option>
                        <option value="1">Register</option>
                        <option value="2">Comment</option>
                        <option value="3">Modify Account</option>
                        <option value="4">Email Verification</option>
                        <option value="5">SMS Verification</option>
                         <option value="6">Reviews</option>
                         <option value="7">Premium</option>
                        <option value="9">Modified Post</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>From Date:</label>
                    <input type="date" ng-model="alc.Filter.FromDate" class="form-control">
                </div>
                 <div class="col-md-3">
                    <label>To Date:</label>
                    <input type="date" ng-model="alc.Filter.ToDate" class="form-control">
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <input type="button" class="form-control btn-primary"
                        ng-click="alc.SearchAuditLogs()"
                        style="margin: 20px"
                        value="Find">
                </div>
            </div>
        </form>

        <div>
            <table class="table-striped table">
                <tr>
                    <th><span>User</span></th>
                    <th><span>Message</span></th>
                    <th><span>Other</span></th>
                    <th><span>DateTime</span></th>
                    <th><span>Type</span></th>
                    <th><span>Action</span></th>
                </tr>
                <tr dir-paginate="log in alc.Logs.List 
                    | itemsPerPage: alc.Pagination.PageSize"
                    total-items="alc.Logs.Count"
                    current-page="alc.Pagination.Current">
                    <td><span>{{::log.User.Email}}</span></td>
                    <td><span>{{::log.Message}}</span></td>
                    <td><span>{{::log.Other}}</span></td>
                    <td><span>{{::log.DateTime | date:'medium' }} (<span am-time-ago="::log.DateTime"></span>)</span></td>
                    <td><span>{{::log.Type}}</span></td>
                    <td><span>No action yet</span></td>
                </tr>
            </table>

            <center>  
                <dir-pagination-controls 
                    ax-size="5"
                    on-page-change="alc.SearchAuditLogs(newPageNumber, oldPageNumber)"
                    auto-hide="true">
                </dir-pagination-controls>

            </center>
        </div>
    </div>
</div>
