<div class="ads-info">
    <div class="row">
        <div class="col-md-12">
            <div class="my-ads section">
                <h2>Payment Method</h2>
                <p>Buy credits to use on premiums</p>

                <div class="row">
                    <div class="col-md-offset-1 col-md-6">
                        <div class="page-inner-container">

                            <!--Test-->
                            <!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="KAGQD9LN2ZHUE">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="hidden" name="on0" value="Buy Credits">Buy Credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select name="os0">
                                                <option value="100 pesos">100 pesos P100.00 PHP</option>
                                                <option value="200 pesos">200 pesos P200.00 PHP</option>
                                                <option value="500 pesos">500 pesos P500.00 PHP</option>
                                                <option value="1000 pesos">1000 pesos P1,000.00 PHP</option>
                                                <option value="1500 pesos">1500 pesos P1,500.00 PHP</option>
                                                <option value="2000 pesos">2000 pesos P2,000.00 PHP</option>
                                                <option value="3000 pesos">3000 pesos P3,000.00 PHP</option>
                                                <option value="5000 pesos">5000 pesos P5,000.00 PHP</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <input type="hidden" name="currency_code" value="PHP">
                                <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                <input name="notify_url" value="http://www.searchingfor-1.s3zwkurykw.ap-southeast-1.elasticbeanstalk.com/api/Payment/ipn" type="hidden">
                            <input name="custom" value="" type="hidden">
                            </form>-->


                            <!-- Paypal/Credit/Debit Card -->

                            <div class="price-plan-box border-radius-8">
                                <div class="price-plan-box-bottom border clearfix centerplease">
                                    <div class="price-plan-content">

                                        <h4>Paypal / Credit / Debit Card</h4>
                                        <p>Proven the safest online money transfer!</p>
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="2FTLH4P9UM7MA">
                                            <center>
                                             <table style="padding-bottom:5px">
                                                <tr>
                                                    <td>
                                                        <select name="os0">
                                                            <option value="100 pesos">100 credits P100.00 PHP</option>
                                                            <option value="200 pesos">200 credits P200.00 PHP</option>
                                                            <option value="500 pesos">500 credits P500.00 PHP</option>
                                                            <option value="1000 pesos">1000 credits P1,000.00 PHP</option>
                                                            <option value="1500 pesos">1500 credits P1,500.00 PHP</option>
                                                            <option value="2000 pesos">2000 credits P2,000.00 PHP</option>
                                                            <option value="3000 pesos">3000 credits P3,000.00 PHP</option>
                                                            <option value="5000 pesos">5000 credits P5,000.00 PHP</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>  
                                           </center>
                                            <input type="hidden" name="currency_code" value="PHP">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            <input name="notify_url" value="http://searchingfor.co/api/Payment/ipn" type="hidden">
                                            <input name="custom" value="" type="hidden">
                                        </form>


                                        <div class="centerplease" style="margin: 20px">
                                            <!--                                            <i>Then print reciept then email to jeo.talavera@gmail.com with </i>
                                            <br />
                                            Subject: "Searchingfor Premium Payment"
                                                <br />
                                            Message/Body: "Username : {{::vm.Profile.Email}}"
                                             <br />
                                            <br />-->
                                            Then wait 1-5 hour/s to process to your credits.
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="price-plan-box border-radius-8 centerplease">
                                <div class="price-plan-box-bottom border clearfix">
                                    <div class="price-plan-content">

                                        <h4>BPI Bank Deposit (Philippines)</h4>

                                        <p>coming soon...</p>
                                        <!--<ol>
                                            <li>To any BPI Branch and secure a bills payment slip.</li>
                                            <li>On the BPI bills payment slip, write the amount, company name and subscriber's account no. as indicated below and submit to the cashier to complete the payment. Click to view sample</li>
                                            <li>Once made, your payment will be processed within 1-3 business days.</li>
                                        </ol>

                                        <h4>Instructions:</h4>

                                        <ol class="centerplease" style="list-style-type: none; margin: 10px">
                                            <li>Subscriber`s Name: (Your Name)</li>
                                            <li>Amount : (200)</li>
                                            <li>Company Name : Searchingfor</li>
                                            <li>Subscriber`s Account No : 09179667084</li>
                                        </ol>

                                        <a class="btn-primary anchortagtobutton"
                                            href="https://www.mybdo.com.ph/">Pay Online via BDO</a>


                                        <div class="centerplease" style="margin: 20px">
                                            <i>Then print deposit slip then email to jeo.talavera@gmail.com with </i>
                                            <br />
                                            Subject: "Searchingfor Premium Payment"
                                                <br />
                                            Message/Body: "Username : {{::vm.Profile.Email}}" 
                                            <br />
                                            <br />
                                            Then wait 1-3 Business days to process to your credits.
                                        </div>-->
                                    </div>
                                </div>
                            </div>


                            <!--Credit card-->
                            <!--      <div class="price-plan-box border-radius-8">
                                <div class="price-plan-box-bottom border clearfix">
                                    <div class="price-plan-content">
                                        <div class="card-container">
                                            <div class="card-wrapper"></div>

                                            <div class="form-container active">
                                                <form action="">
                                                    <input placeholder="Card number" type="text" class="form-control">
                                                    <input placeholder="Full name" type="text" class="form-control margin-top-5">
                                                    <input placeholder="MM/YY" type="text" class="form-control margin-top-5">
                                                    <input placeholder="CVC" type="text" class="form-control margin-top-5">
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    $("input[name=custom]").val(auth.UserData.ID);
</script>

<style>
    .centerplease {
        margin: auto;
        text-align: center;
    }

    .anchortagtobutton {
        padding: 5px;
        border: thick;
        border-radius: 2px;
        cursor: pointer;
    }
</style>
