﻿<div class="ads-info" ng-controller="ProfileMyAdsController as pd">
    <div class="row">
        <div class="col-md-12">
            <div class="my-ads section">
                <h2>My Advertisments</h2>


                <div class="row">
                    <!--Type-->
                    <!-- <select ng-model="AdType" class="form-control col-md-2">
                        <option selected>All</option>
                        <option>Active</option>
                        <option>Pending</option>
                        <option>Reported</option>
                        <option>Inactive</option>
                    </select>-->
                </div>
                <!-- ad-item -->
                <div class="row">
                    <div class="separator2">
                        <span class="separator-text">Searching</span>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <post-list posts="vm.BuyPosts"
                        pagination-setting="vm.BuyPagination"
                        pagination-id="1"
                        func="vm.SearchBuyPosts(newPageNumber,oldPageNumber)"></post-list>
                </div>
                <div class="row">
                    <div class="separator2">
                        <span class="separator-text">Selling</span>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <post-list posts="vm.SellPosts"
                        pagination-setting="vm.SellPagination"
                        pagination-id="2"
                        func="vm.SearchSellPosts(newPageNumber,oldPageNumber)"></post-list>
                </div>
                <!--  <div class="row">
                    <div ng-include="'app/Views/Shared/AdsList.html'"></div>
                </div>-->
                <!-- row-->
            </div>
            <!-- my ads-->
        </div>
        <!-- col 12-->
    </div>
    <!-- row -->

</div>
<!-- ads-info -->
