﻿<div class="ads-info" ng-controller="ProfileReviewsController as rc">
    <div class="row">
        <div class="col-md-12">
            <div class="my-ads section">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <h2>Reviews</h2>
                                <div class="dropdown category-dropdown review-dropdown">
                                    <select ng-model="rc.Selected.Type" class="form-control" ng-change="rc.SearchReviews()">
                                        <option value="">All</option>
                                        <option value="Seller">Seller</option>
                                        <option value="Service Provider">Service Provider</option>
                                        <option value="Employer">Employer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-10">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- reviews -->
                    <div ng-if="rc.Review.List.length<=0 || !rc.Review.List">
                        <div class="row text-center padding-top-30 padding-bottom-60">
                            <a class="btn btn-primary"
                                ng-href="/Profile/{{vm.Profile.ID}}/Dashboard">Be the first to write a review</a>
                        </div>
                    </div>

                    <div class="row">
                        <!-- review 1-->
                        <div class="col-sm-6"
                            dir-paginate="review in rc.Review.List | itemsPerPage: rc.Pagination.PageSize"
                            total-items="rc.Review.Count"
                            current-page="rc.Pagination.Current">
                            <div class="ad-item row">
                                <div class="item-info">
                                    <!-- ad-info -->
                                    <div class="ad-info">
                                        <h5>Reviewed as a/an {{::review.Type}}
                                        </h5>
                                        <h3 class="item-price">
                                            <!--<span ng-repeat="rating in review.RatingArray">
                                                <i class="fa fa-star" ng-if="rating.Value==1"></i>
                                                <i class="fa fa-star-half-o" ng-if="rating.Value==.5"></i>
                                                <i class="fa fa-star-o" ng-if="rating.Value==0"></i>
                                            </span>-->
                                            <fieldset class="bs-rating-font-30">
                                                <uib-rating ng-model="review.Rating" readonly="true" style="font-size: 30px"
                                                    state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
                                            </fieldset>
                                            <span class="pull-right reply"><a href="#!"><i class="bi_web-report-a"></i>Report</a></span>
                                        </h3>
                                        <h4 class="item-title"><a ng-href="Profile/{{review.Reviewer.ID}}">{{::review.Reviewer.Name}}</a>
                                        </h4>
                                        <br>
                                        <div style="line-height: 24px">
                                            {{::review.Description}}
                                        </div>
                                    </div>
                                    <!-- ad-info -->
                                </div>
                                <!-- item-info -->
                            </div>
                        </div>
                        <!-- col-->

                        <!--Pagination-->
                        <div class="col-xs-12" ng-if="rc.Review.List.length>0">
                            <div class="text-center">
                                <dir-pagination-controls
                                    class="pagination"
                                    max-size="10"
                                    on-page-change="rc.SearchReviews(newPageNumber, oldPageNumber)"
                                    auto-hide="true">
                            </dir-pagination-controls>
                            </div>

                        </div>
                    </div>
                    <!-- my ads-->
                </div>
            </div>
            <!-- col 12-->
        </div>
        <!-- row -->

    </div>
    <!-- ads-info -->
