﻿<div class="tab-content"
    ng-controller="ProfileLogsController as plc">

    <div class="tab-pane fade active in">
        <div class="expiredlistings-tab">
            <div class="tab-header">
                <h3>Logs</h3>
                <p>View system logs</p>
            </div>
        </div>

        <div>
            <table class="table-striped table table-responsive">
                <tr>
                    <th><span>Message</span></th>
                    <!--<th><span>Other/Link</span></th>-->
                    <th><span>DateTime</span></th>
                </tr>
                <tr dir-paginate="log in plc.Logs.List 
                    | itemsPerPage: plc.Pagination.PageSize"
                    total-items="plc.Logs.Count"
                    current-page="plc.Pagination.Current">
                    <td><span><a ng-href="{{::log.Others}}">{{::log.Message}}</a></span></td>
                    <!--<td><span><a ng-href="::log.Others">{{::log.Others}}</a></span></td>-->
                    <td><span am-time-ago="::log.DateTime"></span></td>
                </tr>
            </table>

            <center>  
                <dir-pagination-controls 
                    ax-size="5"
                    on-page-change="plc.SearchAuditLogs(newPageNumber, oldPageNumber)"
                    auto-hide="true">
                </dir-pagination-controls>
            </center>
        </div>
    </div>
</div>
