<div class="ads-info">
    <div class="row">
        <div class="col-md-12">
            <div class="my-ads section">
                <h2>Pricing Plan</h2>

                <div class="row">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="page-inner-container">
                                <!-- ../price-plan-box -->
                                <div class="price-plan-box border-radius-8">
                                    <div class="price-plan-box-upper">
                                        <h1 class="clearfix">
                                            <span class="pull-left">Your Ad at the top!</span>
                                            <span class="pull-right">₱ 100.00 </span>
                                        </h1>
                                        <p class="clearfix">
                                            <span class="pull-right">Duration 30 days</span>
                                        </p>
                                    </div>
                                    <div class="price-plan-box-bottom border clearfix">
                                        <div class="price-plan-content  pull-left">
                                            <ul class="list-style-none">
                                                <li>
                                                    <span>Get the best deals! Top of the list catches the worm!</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="price-plan-button  pull-right">
                                            <a href="#!" class="btn btn-default pricing-button">Get Started Now</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col 12-->
        </div>
        <!-- row -->

    </div>
    <!-- ads-info -->
