
  @import url("bootstrap.css");
  @import url("https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700");
  @import url("animate.min.css");
  @import url("jquery-ui.min.css");




/* BASIC STYLES */

  html, body {
    height: 100%;
  }

  body {
    font: 16px/1.5 "Ubuntu", Helvetica, sans-serif;
    background-color: #fff;
    color: #576077;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  a {
    color: #049349;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
  }

  a:hover {
    color: #049349;
  }

  a, a:hover, a:active, a:focus {
    outline: 0;
    border: 0;
    text-decoration: none;
  }

  .s-float-left {
    float: left;
  }

  .s-float-right {
    float: right;
  }

  .s-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .s-show {
    display: block !important;
  }

  .s-hide {
    display: none !important;
    visibility: hidden !important;
  }

  p {
    line-height: 1.5;
  }

  .s-text-uppercase {
    text-transform: uppercase;
  }

  .s-text-center {
    text-align: center;
  }

  .s-text-left {
    text-align: left;
  }

  .s-text-right {
    text-align: right;
  }

  .s-text-justify {
    text-align: justify;
  }

  .s-text-underline {
    text-decoration: underline;
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

    .s-logo-1x {
      display: none !important;
    }

    .s-logo-2x {
      display: block !important;
    }

  }

  .menu {
    padding: 50px 0;
    background-color: #fff;
  }

  .s-logo a {
    display: inline-block;
  }

  .s-logo img {
    vertical-align: bottom;
  }

  .s-logo-1x {
    display: block;
  }

  .s-logo-2x {
    display: none;
  }

  .s-socials {
    text-align: right;
  }

  .s-socials ul {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: right;
  }

  .s-socials ul li {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 20px;
    height: 40px;
  }

  .s-socials ul li a {
    padding: 5px 15px;
    font-weight: 600;
    font-size: 0.875em;
    border: 2px solid transparent;
    color: #576077;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    line-height: 40px;
  }

  .s-socials ul li a:hover {
    border: 2px solid #049349;
    color: #049349;
  }

  header {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #576077 !important;
  }

  header > .container {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .s-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .s-background-repeat {
      background-repeat: repeat;
  }

  .s-background-no-repeat {
    background-repeat: no-repeat;
  }

  .s-overlay-none {
    display: none;
    visibility: hidden;
  }


  .mobile .mbYTP_wrapper,
  .tablet .mbYTP_wrapper {
    z-index: -1 !important;
  }

  .mobile .yt-controls,
  .tablet .yt-controls {
    display: none;
  }



  .s-title > span {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }

  .s-title h1 {
    font-size: 4em;
    font-weight: 300;
    color: #fff;
    margin: 0;
    word-wrap: break-word;
  }

  .s-title h1 strong {
    color: #049349;
    font-weight: 700;
  }

  .s-title-paragraph {
    margin-top: 25px;
  }

  .s-title-paragraph p {
    color: #fff;
    margin: 0;
  }

  .subscribe {
    padding: 150px 0;
    background-color: #049349;
  }

  .s-subscribe span {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }

  .s-subscribe h3 {
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    margin: 0;
  }

  .s-subscribe h3 strong {
    color: #fff;
    font-weight: 600;
  }

  .s-subscribe-form {
    margin-top: 50px;
  }

  .s-subscribe-form input:focus {
    outline: 0;
  }

  .s-subscribe-form input[type=text],
  .s-subscribe-form input[type=submit] {
    height: 60px;
    display: inline-block;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
  }

  .s-subscribe-form input[type=text] {
    width: 300px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    padding: 0 25px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 0;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .s-subscribe-form input[type=text]:focus {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 0;
  }

  .s-subscribe-form input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
      color: #fff;
  }
  .s-subscribe-form input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #fff;
     opacity: 1;
  }
  .s-subscribe-form input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #fff;
     opacity: 1;
  }
  .s-subscribe-form input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
     color: #fff;
  }

  .s-subscribe-form input[type=submit] {
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 25px;
    border: 2px solid #fff;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -5px;
    top:-1px;
    position: relative;
  }

  .s-subscribe-form input[type=submit]:hover {
    color: #049349;
    background-color: #fff;
  }

  .s-subscribe-message {
    display: block;
    height: 15px;
    line-height: 15px;
    padding: 0 20px;
    color: #fff;
    font-size: 0.9em;
    margin-top: 15px;
  }

  .s-subscribe-message i {
    margin-right: 5px;
  }

  .s-subscribe-message .fa-warning {
    color: #fff;
  }

  .s-subscribe-message .fa-check {
    color: #fff;
  }

  .icons {
    padding: 150px 0;
    background-color: #fff;
  }

  .s-icons-title span {
    color: #c0c7da;
    font-weight: 600;
    text-transform: uppercase;
  }

  .s-icons-title h3 {
    font-size: 3em;
    font-weight: 300;
    color: #576077;
    margin: 0;
  }

  .s-icons-title h3 strong {
    color: #576077;
    font-weight: 600;
  }

  .s-icon-box > div {
    margin-top: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
  }

  .s-icon-box i {
    font-size: 6em;
    margin-bottom: 20px;
  }

  .s-icon-box h4 {
    font-weight: 600;
    margin: 5px 0 0;
    text-transform: uppercase;
  }

  .s-icon-box p {
    font-size: 0.9em;
    margin: 15px 0 0;
    font-weight: 400;
  }

  .s-icon-box-one h4,
  .s-icon-box-two h4,
  .s-icon-box-three h4 {
    color: #049349;
  }

/* RESPONSIVE */
  @media (max-width: 767px) {

    .s-logo,
    .s-socials,
    .s-socials ul {
      text-align: center;
    }

    .s-socials ul li {
      margin-left: 10px;
      margin-right: 10px;
    }

    .s-title h1 {
      font-size: 3em;
    }

    .wordsrotator_words {
      white-space: pre-line;
    }

    .s-title > span,
    .s-title h1,
    .s-title-paragraph p {
      padding: 0 20px;
    }

    .s-button-right {
      margin-top: 20px;
    }

    .s-subscribe-form input[type=text],
    .s-subscribe-form input[type=submit] {
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      border: 2px solid #fff;
    }

    .s-subscribe-form input[type=text] {
      width: 85%;
    }

    .s-subscribe-form input[type=text]:focus {
      border: 2px solid #fff;
    }

    .s-subscribe-form input[type=submit] {
      margin-top: 25px;
    }

    /* 8. ICONS */

    .s-icon-box:first-child > div {
      margin-top: 0;
    }

    .s-icon-box > div {
      margin-top: 20px;
    }

    .s-icon-box span {
      font-size: 6em;
    }

    .s-icon-box h4 {
      font-size: 1.5em;
    }

    .s-icon-box p {
      font-size: 1em;
    }


  }

  a,
  a:hover,
  .s-subscribe-form input[type=submit]:hover,
  .s-icon-box i,
  .s-icon-box h4,
  .s-statistics-box i,
  .s-title h1 strong {
      color: #049349;
  }
  .s-socials ul li a:hover,
  .s-promo-button,
  .s-footer-contact input[type=submit] {
      border: 2px solid #049349;
      color: #049349;
  }
  .subscribe {
      background-color: #049349;
  }
