﻿ #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            background-image: url('../assets/img/loading.gif');
            background-repeat: no-repeat;
            background-position: center;
            /*background: url('assets/img/loading.gif') fixed;*/
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        /* Important part */
        .modal-dialog {
            overflow-y: initial !important;
        }

        .modal-body {
            max-height: calc(100vh - 200px);
            overflow-y: auto;
        }

        /*fix bug regarding modal bug*/
        body {
            padding-right: 0 !important;
        }

        .modal-open {
            padding-right: 0px !important;
        }

        span.small {
            font-size: smaller;
        }

        span.larger {
            font-size: large;
        }

        span.small-red {
            font-size: smaller;
            color: red;
        }
        /*form validation*/

        /*checkbox design*/
        label.image:before {
            position: absolute;
            cursor: pointer;
            content: "";
            left: 0;
            top: 4px;
            width: 13px;
            height: 13px;
            background-image: url(../assets/img/box.png);
        }

        label.checked.image:before {
            content: "";
            cursor: pointer;
            width: 15px;
            height: 15px;
            background-image: url(../assets/img/checked.png);
        }

        label.image input[type="checkbox"] {
            width: 0;
            height: 0;
            display: none;
        }

        /* end: checkbox design*/

        /*Image icon in posting page*/
        .add-image .bi_media-image {
            position: absolute;
            left: 0;
            top: 3px;
            font-size: 36px;
            color: #049349;
        }

        Pointer {
            cursor: pointer;
        }

        select {
            color: grey;
        }

        option:first-child {
            color: grey;
        }

        .underline {
            text-decoration: underline;
        }

        .thumb {
            width: 24px;
            height: 24px;
            float: none;
            /*position: relative;*/
            top: 7px;
        }

        form .progress {
            line-height: 15px;
        }

        .progress {
            display: inline-block;
            width: 100px;
            border: 3px groove #CCC;
        }

            .progress div {
                font-size: smaller;
                background: orange;
                width: 0;
            }

        /*Notification page styling form read and unread notifications*/
        .light-green {
            background: #e6ffe6;
        }

        /*Modify font size to 30px for bs-rating*/
        .bs-rating-font-30 i.fa {
            font-size: 30px !important;
            color: #ffb300 !important;
        }