﻿<section class="aliceblue" ng-show="vm.ShowAdminPanel">
    <div class="container page-container-third">
        <h3>Summary</h3>
        <ul>
            <li>Comment/Bid Count: {{vm.Statistics.CommentCount}}</li>
              <li>Post : {{vm.Statistics.PostCount}}</li>
              <li>Register : {{vm.Statistics.RegisterCount}}</li>
        </ul>
        <div class="row">
            <div class="form-container">
                <div>
                    <div class="container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-repeat="tab in vm.tabs"
                                style="cursor:pointer"
                                ng-class="{active: vm.isActiveTab(tab)}">
                                <a ng-click="vm.onClickTab(tab)">{{::tab.title}} 
                                        <span ng-if="tab.notifCount>0" class="label label-danger pull-right margin-left-5 font-13">{{tab.notifCount}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div ng-include="vm.currentTab"></div>
                </div>
            </div>
        </div>
    </div>
</section>


