﻿<!-- services-ad -->
<section id="services-ad" class="clearfix home-three">

    <!-- view-ad -->
    <div id="view-ad" class="parallax-section padding-top-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="header-info">
                        <h1>Hanap mo, Post Mo!</h1>
                        <h2>Want to buy something or avail a service?</h2>
                        <p>Post about it and let the sellers contact you with their best offers!</p>
                        <a href="About" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="post-ad-mini">
                        <h1>Tell us what you want to buy/avail? <small>only takes 30 sec!</small></h1>
                        <div class="box">
                            <form name="postingForm">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5>What are you searchingfor?<span class="small-red">*</span></h5>
                                        <input type="text" name="title"
                                            ng-model="vm.Post.Title"
                                            class="form-control validation" placeholder="Ex: 2nd hand Honda crz 2013"
                                            minlength="5" maxlength="50" required>
                                        <span class="small-red"
                                            ng-if="postingForm.title.$error.minlength
                                    || postingForm.title.$error.maxlength">Minimum length of 5 to maximum of 50</span>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Budget?<span class="small-red">*</span></h5>
                                        <input type="number" name="budget"
                                            ng-model="vm.Post.BudgetMax"
                                            class="form-control validation" placeholder="Ex: 1"
                                            min="1" max="999999999" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>Describe in 15 characters.<span class="small-red">*</span></h5>
                                    <textarea name="description"
                                        ng-model="vm.Post.Description"
                                        class="form-control validation" placeholder="Describe what is your expectation about the product/service your searchingfor"
                                        minlength="15" maxlength="1000"
                                        rows="3" required></textarea>
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.minlength">Min length is 15</span>
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.maxlength">Max length limit is 1000</span>
                                </div>

                                <!-- <div class="form-group">
                                    <h5>What is your budget?</h5>
                                    <input type="number" name="budget"
                                        ng-model="vm.Post.BudgetMax"
                                        class="form-control validation" placeholder="Budget"
                                        min="1" max="999999999" required>
                                </div>-->
                                <div ng-if="vm.Post.BudgetMax && vm.Post.Description && vm.Post.Title">
                                    <div class="form-group col-md-12">
                                        <h5>Select A Category</h5>
                                        <a ng-click="vm.ShowModal()">
                                            <span ng-if="!vm.Selected.Category" class="">
                                                <button class="form-control btn btn-primary">Choose</button>
                                            </span>
                                            <div ng-if="vm.Selected.Category">
                                                <span class="">
                                                    <span ng-repeat-start="Name in vm.Selected.Category.CategoryNames"
                                                        ng-if="$first">
                                                        <span><span>{{::Name}}</span></span>
                                                    </span>
                                                    <span ng-repeat-end
                                                        ng-if="!$first">
                                                        <span><span><span class="bi_interface-arrow-right"></span>{{::Name}}</span></span>
                                                    </span>
                                                </span>
                                                (Click to Change)
                                            </div>
                                        </a>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <h5>Where?</h5>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="form-control validation"
                                                    ng-model="vm.Selected.Country"
                                                    ng-options="o as o.Name for o in vm.Countries track by o.ID">
                                                    <option value="">Any country</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control validation"
                                                    ng-model="vm.Selected.City" ng-options="o as o.Name for o in vm.Selected.Country.Subs track by o.ID">
                                                    <option value="">Any City</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary form-control"
                                    ng-disabled="postingForm.$invalid || vm.Processing || !vm.Selected.Category"
                                    ng-click="vm.TryLogin(vm.Post)">
                                    <span style="color: white;">Post It!
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- contaioner -->
    </div>
    <!-- view-ad -->


    <div class="container">
        <div class="row">
            <!-- banner -->
            <div class="col-sm-12">
                <div class="banner">
                    <!-- banner-form -->
                    <div class="banner-form">
                        <form name="dashboardForm">
                            <!-- category-change -->
                            <input type="text" class="form-control"
                                ng-model="vm.Filter.Title"
                                placeholder="See whats in demand." style="max-width: 200px">
                            <select class="form-control search-dropdown country" ng-options="country as country.Name for country in vm.Countries"
                                ng-model="vm.Filter.Country"
                                style="max-width: 235px; border-left: 1px solid #e8e8e8;">
                                <option value="">All countries</option>
                            </select>
                            <select class="form-control search-dropdown city" ng-options="country as country.Name for country in vm.Filter.Country.Subs"
                                ng-model="vm.Filter.City"
                                style="max-width: 230px; border-left: 1px solid #e8e8e8;">
                                <option value="">All cities</option>
                            </select>
                            <!--<input type="text" class="form-control" placeholder="Where?" style="max-width: 200px; border-left: 1px solid #e8e8e8;">-->
                            <button type="submit"
                                ng-click="vm.GotoListing()"
                                class="form-control" value="Search">
                                Search
                            </button>
                        </form>
                    </div>
                    <!-- banner-form -->
                </div>


            </div>
            <!-- banner -->

        </div>

        <!-- row -->
        <div class="section services">
            <h3 class="text-center">
                <!--Demand By Category<br />-->
                <a ng-click="vm.GotoListing()">See what people are posting! (Click here)</a>
            </h3>

            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/real-estate.png" alt="images" class="img-responsive">
                </div>
                <h5>Real Estate</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Real-Estate.Apartment-and-Condominium')">Apartment</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Real-Estate.Apartment-and-Condominium')">Condominium</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Real-Estate.Commercial-and-Industrial-Properties')">Commercial</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Real-Estate.Land-and-Farm')">Land and Farm</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Real-Estate.Beach-and-Resorts')">Beach and Resorts</a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/cars.png" alt="images" class="img-responsive">
                </div>
                <h5>Cars &amp; Vehicles</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Cars-Motorcycles-and-Automotives.Cars-and-Sedans')">Sedans</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Cars-Motorcycles-and-Automotives.Motorcycles-and-Scooters')">Motorcycles &amp; Scooters</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Automotive-Parts-and-Accessories')">Accessories</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Cars-Motorcycles-and-Automotives.SUV,AUV,Pickups,Jeeps,4WDs')">SUVs, AUVs, &amp; 4WDs</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Cars-Motorcycles-and-Automotives.Others')">Others</a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/mobile.png" alt="images" class="img-responsive">
                </div>
                <h5>Mobiles &amp; Tablets</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Mobile.Mobile-Phones-and-Smart-Phones')">Mobile Phones</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Mobile.Tablets')">Tablets</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Mobile.Mobile-Phones-and-Smart-Phones')">Smart Phone</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Mobile.Accessories')">Accessories</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Mobile.Others')">Others</a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/laptops.png" alt="images" class="img-responsive">
                </div>
                <h5>Computers</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Computer.Notebooks-Laptops-and-Netbooks')">Laptops &amp; Computers</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Computer.Mobile-Phones-and-Smart-Phones')">Internet Gadgets</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Computer.Storage-Devices')">Storage Devices</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Computer.Accessories')">Accessories</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Computer.Others')">Others</a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/fashion.png" alt="images" class="img-responsive">
                </div>
                <h5>Fashion</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Clothing.Clothes')">Clothes &amp; Accessories</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Clothing.Footwear')">Shoes &amp; Footwear</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Clothing.Jewelry-and-Watches')">Jewelry &amp; Watches</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Clothing.Luggage-Bags-and-Wallets')">Bags &amp; Wallets</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Clothing.Costumes')">Costumes</a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/pets.png" alt="images" class="img-responsive">
                </div>
                <h5>Pets</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Pet.Dogs')">Dogs</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Pet.Cats')">Cats</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Pet.Birds')">Birds</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Pet.Fishes')">Fish</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Pet.Accessories-for-Pets')">Accessories for Pets</a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/hobbies.png" alt="images" class="img-responsive">
                </div>
                <h5>Hobbies</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Hobbies.Books-and-other')">Books &amp; Magazines</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Hobbies.Collectables')">Collectables</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Hobbies.Instruments')">Music Instruments</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Hobbies.Arts-Crafts-and-Scultures')">Arts &amp; Crafts</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Hobbies.Sports')">Sports &amp; Hobbies </a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/furniture.png" alt="images" class="img-responsive">
                </div>
                <h5>Furniture and Appliances</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Furnature-and-Appliances.Furnature-and-Fixture')">Furnature and Fixture</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Furnature-and-Appliances.Air-Conditioning-and-Heating')">Air Conditioning and Heating</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Furnature-and-Appliances.Appliances')">Appliances</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Furnature-and-Appliances.Outdoors-and-Gardens')">Outdoors and gardens</a></li>
                    <li><a ng-click="vm.GotoListing('Buyable-Swappable-Rentable.Furnature-and-Appliances.Other-Kitchen-Appliances')">Other Kitchen Appliances</a></li>
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <!--<div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/appliance.png" alt="images" class="img-responsive">
                </div>
                <h5>Appliances</h5>
                <ul>
                    <li><a href="listing.html">Cookware</a></li>
                    <li><a href="listing.html">Microwaves &amp; Ovens</a></li>
                    <li><a href="listing.html">Cooktops</a></li>
                    <li><a href="listing.html">Housekeeping</a></li>
                    <li><a href="listing.html">Outdoor &amp; Garden</a></li>
                </ul>
            </div>-->
            <!-- single-service -->
            <!-- single-service -->
            <!-- <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/health.png" alt="images" class="img-responsive">
                </div>
                <h5>Health &amp; Beauty</h5>
                <ul>
                    <li><a href="listing.html">Makeup &amp; Skincare</a></li>
                    <li><a href="listing.html">Fragrances</a></li>
                    <li><a href="listing.html">Beauty Tools</a></li>
                    <li><a href="listing.html">Medical Supplies</a></li>
                    <li><a href="listing.html">Food Supplements</a></li>
                </ul>
            </div>-->
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/community.png" alt="images" class="img-responsive">
                </div>
                <h5>Community</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Community.Carpool')">Carpool</a></li>
                    <li><a ng-click="vm.GotoListing('Community.Blood-Donor')">Blood Donation</a></li>
                    <li><a ng-click="vm.GotoListing('Community.Charity')">Donate to Charity</a></li>
                    <li><a ng-click="vm.GotoListing('Community.Volunteer-Work')">Volunteer work</a></li>
                    <!--<li><a href="listing.html">Redcross Volunteer</a></li>-->
                </ul>
            </div>
            <!-- single-service -->
            <!-- single-service -->
            <div class="single-service">
                <div class="services-icon">
                    <img src="./assets/img/services.png" alt="images" class="img-responsive">
                </div>
                <h5>Services</h5>
                <ul>
                    <li><a ng-click="vm.GotoListing('Service.Consulting')">Consulting</a></li>
                    <li><a ng-click="vm.GotoListing('Service.Events')">Events</a></li>
                    <li><a ng-click="vm.GotoListing('Service.Education')">Education</a></li>
                    <li><a ng-click="vm.GotoListing('Service.Computer-Service')">Computer Service</a></li>
                    <li><a ng-click="vm.GotoListing('Service.Retail')">Retail</a></li>
                </ul>
            </div>
            <!-- single-service -->

        </div>
        <!-- services -->
        <!-- featureds -->
        <div class="section featureds">

            <div ng-if="vm.Posts.List && vm.Posts.List.length>0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="featured-top">
                            <h4>Recent Ads</h4>
                        </div>
                    </div>
                </div>
                <!-- featured-slider -->
                <data-owl-carousel class="owl-carousel" data-options="vm.OwlCarouselOptions">
                    <div owl-carousel-item="" ng-repeat="post in vm.Posts.List" class="item">
                        <!-- featured -->
                        <div id="Div1" class="featured featured-slider">
                            <div class="featured-image">
                                <a>
                                    <img ng-src="{{::vm.Util.GetPostPrimaryImageLink(post)}}" alt="" class="img-respocive">
                                </a>
                                <!--<a href="all-ads-swappable.html" class="swappable" data-toggle="tooltip" data-placement="left" title="Swappable"><i class="bi_ecommerce-tracking"></i></a>-->
                            </div>

                            <!-- ad-info -->
                            <div class="ad-info">
                                <div class="row">
                                    <div class="col-xs-5 item-container">
                                        {{::vm.TextModifierService.RequestText(post)}}:
                                    </div>
                                    <div class="col-xs-7" style="padding:0">
                                        <span class="item-buy"><a>{{::post.Title}}</a></span>

                                        <!-- <div class="item-cat" style="cursor:pointer">
                                               <span><a ng-repeat="name in ::post.CategoryNames">{{::name}} {{$last?"":" > "}}</a></span>
                                           </div>-->
                                        <!--<span class="label label-default">featured</span>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 item-container">
                                        {{::vm.TextModifierService.BudgetText(post.Category)}}:
                                    </div>
                                    <div class="col-xs-7" style="padding:0">
                                        <span class="budget">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</span>
                                        <!--<span class="negotiable">(Negotiable)</span>-->
                                    </div>
                                </div>
                                <div class="make-offer">
                                    <a ng-href="Post/{{post.LinkPostfix}}" class="btn btn-primary">{{::vm.TextModifierService.ButtonText(post.Category)}}</a>
                                </div>
                            </div><!-- ad-info -->
                            <!-- ad-meta -->
                            <div class="ad-meta" style="background-color:#fff">
                                <div class="meta-content">
                                    <span class="dated" style="padding-left:25px;font-size:13px">
                                        <i class="bi_time-wall-clock"></i>
                                        <span am-time-ago="::post.ModifiedOn"></span>
                                        <i class="bi_location-alt-pin"></i>{{::post.City.DisplayLocation}}
                                    </span><br>
                                </div>
                                <div class="user-option pull-right">
                                    <a data-toggle="tooltip" data-placement="top" title="Add Favorites"><i class="fa fa-heart-o"></i></a>
                                </div><!-- item-info-right -->
                            </div><!-- ad-meta -->
                        </div><!-- featured -->
                    </div>
                </data-owl-carousel>
            </div>

            <div ng-if="vm.FeaturedPosts && vm.FeaturedPosts.length>0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="featured-top">
                            <h4>Featured Ads</h4>
                        </div>
                    </div>
                </div>
                <!-- featured-slider -->
                <data-owl-carousel class="owl-carousel" data-options="vm.OwlCarouselOptions">
                    <div owl-carousel-item="" ng-repeat="post in vm.FeaturedPosts" class="item">

                        <!-- featured -->
                        <div id="featured-slider-two" class="featured featured-slider">
                            <div class="featured-image">
                                <a>
                                    <img ng-src="{{::vm.Util.GetPostPrimaryImageLink(post)}}" alt="" class="img-respocive">
                                </a>
                                <!--<a href="all-ads-swappable.html" class="swappable" data-toggle="tooltip" data-placement="left" title="Swappable"><i class="bi_ecommerce-tracking"></i></a>-->
                            </div>

                            <!-- ad-info -->
                            <div class="ad-info">
                                <div class="row">
                                    <div class="col-xs-5 item-container">
                                        {{::vm.TextModifierService.RequestText(post)}}:
                                    </div>
                                    <div class="col-xs-7" style="padding:0">
                                        <span class="item-buy"><a>{{::post.Title}}</a></span>
                                        <!-- <div class="item-cat" style="cursor:pointer">
                                               <span><a ng-repeat="name in ::post.CategoryNames">{{::name}} {{$last?"":" > "}}</a></span>
                                           </div>-->
                                        <span class="label label-default">featured</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 item-container">
                                        {{::vm.TextModifierService.BudgetText(post.Category)}}:
                                    </div>
                                    <div class="col-xs-7" style="padding:0">
                                        <span class="budget">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</span>
                                        <!--<span class="negotiable">(Negotiable)</span>-->
                                    </div>
                                </div>
                                <div class="make-offer">
                                    <a ng-href="Post/{{post.LinkPostfix}}" class="btn btn-primary">{{::vm.TextModifierService.ButtonText(post.Category)}}</a>
                                </div>
                            </div><!-- ad-info -->
                            <!-- ad-meta -->
                            <div class="ad-meta" style="background-color:#fff">
                                <div class="meta-content">
                                    <span class="dated" style="padding-left:25px;font-size:13px">
                                        <i class="bi_time-wall-clock"></i>
                                        <span am-time-ago="::post.ModifiedOn"></span>
                                        <i class="bi_location-alt-pin"></i>{{::post.City.DisplayLocation}}
                                    </span>
                                    <br>
                                </div>
                                <div class="user-option pull-right">
                                    <a data-toggle="tooltip" data-placement="top" title="Add Favorites"><i class="fa fa-heart-o"></i></a>
                                </div><!-- item-info-right -->
                            </div><!-- ad-meta -->
                        </div><!-- featured -->
                    </div>
                </data-owl-carousel>
            </div>
        </div>
        <!-- #featured-slider -->
        <!-- featureds -->
        <!-- how it works -->
        <div class="cta text-center">
            <div class="row">
                <h4>How It Works</h4>
                <!-- single-cta -->
                <div class="margin-top-20">
                    <div class="col-sm-4">
                        <div class="single-cta">
                            <!-- cta-icon -->
                            <div class="cta-icon">
                                <img src="./assets/img/hw-1.png" alt="Icon" class="img-responsive">
                            </div>
                            <!-- cta-icon -->

                            <h4>Post what you want to buy</h4>
                            <p>Post an Ad about something you want to buy</p>
                        </div>
                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="col-sm-4">
                        <div class="single-cta">
                            <!-- cta-icon -->
                            <div class="cta-icon">
                                <img src="./assets/img/hw-2.png" alt="Icon" class="img-responsive">
                            </div>
                            <!-- cta-icon -->

                            <h4>Set your budget</h4>
                            <p>Sit back and watch sellers bid on the item you want.</p>
                        </div>
                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="col-sm-4">
                        <div class="single-cta">
                            <!-- cta-icon -->
                            <div class="cta-icon">
                                <img src="./assets/img/hw-3.png" alt="Icon" class="img-responsive">
                            </div>
                            <!-- cta-icon -->

                            <h4>Contact Seller</h4>
                            <p>Already made a deal? Contact the seller</p>
                        </div>
                    </div>
                    <!-- single-cta -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- how it works -->

    </div>
    <!-- container -->
</section>
<!-- services-ad -->
<!--Select Category Modal-->
<div class="modal fade" id="PostingModal" role="dialog" data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog text-center">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Category Selection</h3>
                <p>You cant exit unless you finish selection</p>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <!-- panel-body -->
                        <div class="">
                            <div ng-if="vm.Selected.Category">
                                <h4>Selected Category:</h4>
                                <a class="small">
                                    <ul class="">
                                        <li ng-repeat-start="Name in vm.Selected.Category.CategoryNames"
                                            ng-if="$first">
                                            <a><span>{{::Name}}</span></a>
                                        </li>
                                        <li ng-repeat-end
                                            ng-if="!$first">
                                            <a><span><span class="bi_interface-arrow-right"></span>{{::Name}}</span></a>
                                        </li>
                                    </ul>
                                </a>
                                <div class="login-separator" style="background-color: #f7f7f7">
                                    <span class="separator-text" style="background-color: #f7f7f7">
                                        <span ng-click="vm.ResetCategory()"
                                            style="cursor: pointer; background-color: #f7f7f7">
                                            <span class="bi_interface-cross small">Reset</span>
                                        </span>
                                    </span>
                                    <hr>
                                </div>
                            </div>

                            <ul>
                                <li>
                                    <h4>Select A <span ng-if="vm.Selected.Category">Sub-</span>Category</h4>
                                </li>
                                <li ng-repeat="sub in vm.Selection.Category">
                                    <a ng-click="vm.GetCategoryChildren(sub)"
                                        style="cursor: pointer; padding: 10px"
                                        ng-class="vm.Selected.Category.Name == sub.Name?'underline':''">{{::sub.Name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--<div style="padding-bottom:30px"></div>-->
                        <!-- panel-body -->
                    </div>
                </div>
                <!--<div class="modal-footer">
                        </div>-->
            </div>

        </div>
    </div>
</div>
