﻿<!-- services-ad -->

<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">-->
<!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->


<section id="services-ad" class="clearfix home-three">

    <!-- view-ad -->
    <div id="view-ad" class="parallax-section padding-top-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="header-info">
                        <h1>Hanap mo, Post Mo!</h1>
                        <h2>Want to buy something or avail a service?</h2>
                        <p>Post about it and let the sellers contact you with their best offers!</p>
                        <a ng-click="vm.GotoListing()" class="btn btn-primary">See what people are posting!</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="post-ad-mini">
                        <h1>Tell us what you want to buy/avail? <small>only takes 30 sec!</small></h1>
                        <div class="box">
                            <form name="postingForm">

                                <div class="row">
                                    <div class="col-md-8">
                                        <h5>What are you searchingfor?</h5>
                                        <input type="text" name="title"
                                            ng-model="vm.Post.Title"
                                            class="form-control validation" placeholder="Ex: 2nd hand Honda crz 2013"
                                            minlength="5" maxlength="50" required>
                                        <span class="small-red"
                                            ng-if="postingForm.title.$error.minlength
                                    || postingForm.title.$error.maxlength">Minimum length of 5 to maximum of 50</span>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Budget?</h5>
                                        <input type="number" name="budget"
                                            ng-model="vm.Post.BudgetMax"
                                            class="form-control validation" placeholder="Ex: 1"
                                            min="1" max="999999999" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>Describe in 15 characters.</h5>
                                    <textarea name="description"
                                        ng-model="vm.Post.Description"
                                        class="form-control validation" placeholder="Describe what is your expectation about the product/service your searchingfor"
                                        minlength="15" maxlength="1000"
                                        rows="3" required></textarea>
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.minlength">Min length is 15</span>
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.maxlength">Max length limit is 1000</span>
                                </div>

                                <!-- <div class="form-group">
                                    <h5>What is your budget?</h5>
                                    <input type="number" name="budget"
                                        ng-model="vm.Post.BudgetMax"
                                        class="form-control validation" placeholder="Budget"
                                        min="1" max="999999999" required>
                                </div>-->
                                <div ng-if="vm.Post.BudgetMax && vm.Post.Description && vm.Post.Title">
                                    <div class="form-group col-md-12">
                                        <h5>Select A Category</h5>


                                        <!-- <center>     
                                    <ui-select ng-model="country.selected" theme="select2" ng-disabled="disabled" 
                                        title="Choose a country" append-to-body="true" style="width: 300px;">
                                        <ui-select-match placeholder="Select or search a Category in the list...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="country in vm.Categories | filter: $select.search">
                                        <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                        <small ng-bind-html="country.code | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </center>-->

                                        <span ng-if="!vm.Selected.Category" class="">
                                            <button class="form-control btn btn-primary"
                                                    ng-click="vm.ShowModal()">Choose</button>
                                        </span>
                                        <a ng-click="vm.ShowModal()">
                                            <span ng-if="!vm.Selected.Category" class="">
                                                <!--<button class="form-control btn btn-primary">Choose</button>-->
                                            </span>
                                            <div ng-if="vm.Selected.Category">
                                                <span class="">
                                                    <span ng-repeat-start="Name in vm.Selected.Category.CategoryNames"
                                                        ng-if="$first">
                                                        <span><span>{{::Name}}</span></span>
                                                    </span>
                                                    <span ng-repeat-end
                                                        ng-if="!$first">
                                                        <span><span><span class="bi_interface-arrow-right"></span>{{::Name}}</span></span>
                                                    </span>
                                                </span>
                                                (Click to Change)
                                            </div>
                                        </a>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <h5>Where?</h5>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="form-control validation"
                                                    ng-model="vm.Selected.Country"
                                                    ng-options="o as o.Name for o in vm.Countries track by o.ID">
                                                    <option value="">Any country</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control validation"
                                                    ng-model="vm.Selected.City" ng-options="o as o.Name for o in vm.Selected.Country.Subs track by o.ID">
                                                    <option value="">Any City</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary form-control"
                                    ng-disabled="postingForm.$invalid || vm.Processing || !vm.Selected.Category"
                                    ng-click="vm.TryLogin(vm.Post)">
                                    <span style="color: white;">Post It!
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- contaioner -->
    </div>
    <!-- view-ad -->


    <div class="container">
        <div class="row">
            <!-- banner -->
            <div class="col-sm-12">
                <div class="banner">
                    <!-- banner-form -->
                    <div class="banner-form">
                        <form name="dashboardForm">
                            <!-- category-change -->
                            <input type="text" class="form-control"
                                ng-model="vm.Filter.Title"
                                placeholder="See whats in demand." style="max-width: 200px">
                            <select class="form-control search-dropdown country" ng-options="country as country.Name for country in vm.Countries"
                                ng-model="vm.Filter.Country"
                                style="max-width: 235px; border-left: 1px solid #e8e8e8;">
                                <option value="">All countries</option>
                            </select>
                            <select class="form-control search-dropdown city" ng-options="country as country.Name for country in vm.Filter.Country.Subs"
                                ng-model="vm.Filter.City"
                                style="max-width: 230px; border-left: 1px solid #e8e8e8;">
                                <option value="">All cities</option>
                            </select>
                            <select id="Select111" 
                                    ng-disabled="true"
                                ng-model="vm.Filter.Selling"
                                ng-options="o.v as o.n for o in [{ n: 'SEARCHING', v: false }, 
                                        { n: 'SELLING', v: true }]"
                                class="form-control search-dropdown adtype">
                            </select>
                            <!--<input type="text" class="form-control" placeholder="Where?" style="max-width: 200px; border-left: 1px solid #e8e8e8;">-->
                            <button type="submit"
                                ng-click="vm.GotoListing()"
                                class="form-control" value="Search">
                                Search
                            </button>
                        </form>
                    </div>
                    <!-- banner-form -->
                </div>


            </div>
            <!-- banner -->

        </div>

        <!-- how it works -->
        <div class="section featureds text-center" style="margin-top: -30px">
            <div class="row">
                <h3><b>How It Works</b></h3>
                <!-- single-cta -->
                <div>
                    <div class="col-sm-4">
                        <div class="single-cta">
                            <!-- cta-icon -->
                            <div class="cta-icon">
                                <img src="./assets/img/hw-1.png" alt="Icon" class="img-responsive">
                            </div>
                            <!-- cta-icon -->

                            <h4><b>Post what you want to buy</b></h4>
                            <p>Post an Ad about something you want to buy</p>
                        </div>
                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="col-sm-4">
                        <div class="single-cta">
                            <!-- cta-icon -->
                            <div class="cta-icon">
                                <img src="./assets/img/hw-2.png" alt="Icon" class="img-responsive">
                            </div>
                            <!-- cta-icon -->

                            <h4><b>Set your budget</b></h4>
                            <p>Sit back and watch sellers bid on the item you want.</p>
                        </div>
                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="col-sm-4">
                        <div class="single-cta">
                            <!-- cta-icon -->
                            <div class="cta-icon">
                                <img src="./assets/img/hw-3.png" alt="Icon" class="img-responsive">
                            </div>
                            <!-- cta-icon -->

                            <h4><b>Contact Seller</b></h4>
                            <p>Already made a deal? Contact the seller</p>
                        </div>
                    </div>
                    <!-- single-cta -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- how it works -->

        <!-- featureds -->
        <div class="section featureds" 
             ng-if="(vm.BuyPosts.List && vm.BuyPosts.List.length>0) || (vm.SellPosts.List && vm.SellPosts.List.length>0)">
            <div ng-if="vm.BuyPosts.List && vm.BuyPosts.List.length>0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="featured-top">
                            <h4>What people are currently looking for?</h4>
                        </div>
                    </div>
                </div>
                <!-- featured-slider -->
                <dashboard-post-list posts="vm.BuyPosts"
                    options="vm.OwlCarouselOptions">
                </dashboard-post-list>
            </div>

            <div ng-if="vm.SellPosts.List && vm.SellPosts.List.length>0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="featured-top">
                            <h4>What is for sale?</h4>
                        </div>
                    </div>
                </div>
                <!-- featured-slider -->
                <dashboard-post-list posts="vm.SellPosts"
                    options="vm.OwlCarouselOptions">
                </dashboard-post-list>
            </div>
        </div>
        <!-- featureds -->

    </div>
    <!-- container -->
</section>
<!-- services-ad -->

<!--Select Category Modal-->
<div class="modal fade" id="PostingModal" role="dialog" data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog text-center">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Category Selection</h3>
                <p>You cant exit unless you finish selection</p>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <!-- panel-body -->
                        <div class="">
                            <div ng-if="vm.Selected.Category">
                                <h4>Selected Category:</h4>
                                <a class="small">
                                    <ul class="">
                                        <li ng-repeat-start="Name in vm.Selected.Category.CategoryNames"
                                            ng-if="$first">
                                            <a><span>{{::Name}}</span></a>
                                        </li>
                                        <li ng-repeat-end
                                            ng-if="!$first">
                                            <a><span><span class="bi_interface-arrow-right"></span>{{::Name}}</span></a>
                                        </li>
                                    </ul>
                                </a>
                                <div class="login-separator" style="background-color: #f7f7f7">
                                    <span class="separator-text" style="background-color: #f7f7f7">
                                        <span ng-click="vm.ResetCategory()"
                                            style="cursor: pointer; background-color: #f7f7f7">
                                            <span class="bi_interface-cross small">Reset</span>
                                        </span>
                                    </span>
                                    <hr>
                                </div>
                            </div>

                            <ul>
                                <li>
                                    <h4>Select A <span ng-if="vm.Selected.Category">Sub-</span>Category</h4>
                                </li>
                                <li ng-repeat="sub in vm.Selection.Category">
                                    <a ng-click="vm.GetCategoryChildren(sub)"
                                        style="cursor: pointer; padding: 10px"
                                        ng-class="vm.Selected.Category.Name == sub.Name?'underline':''">{{::sub.Name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--<div style="padding-bottom:30px"></div>-->
                        <!-- panel-body -->
                    </div>
                </div>
                <!--<div class="modal-footer">
                        </div>-->
            </div>

        </div>
    </div>

</div>

<!--SELLER MODAL-->
<!--<div id="SellerModal" class="modal fade" role="dialog" data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Do you want to be notified of peoples demands?</h3>
            </div>
            <div class="modal-body">
                <center>
                    <button class="btn btn-primary" data-dismiss="modal"
                        ng-click="vm.HideSellerShowKeywordModal()">YES</button>&nbsp;&nbsp;
                    <button class="btn btn-primary" data-dismiss="modal">NO</button>
                </center>
            </div>
        </div>

    </div>
</div>-->

<!--modal -->
<div id="SellerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content padding-10">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Do you want to be notified of peoples demands?</h2>
                        <button ng-click="vm.HideSellerShowKeywordModal()" class="btn btn-primary">Yes! Notify me.</button>
                        <p class="close-modal">
                            <a data-dismiss="modal">No, I don't want to get notified</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal -->

<!--Keyword Modal-->
<div id="keywordModal" class="modal fade" role="dialog" data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" ng-click="vm.CloseKeywordModal()">&times;</button>
                <h3>Keyword Watch</h3>
            </div>
            <div class="modal-body">
                <div class="row" ng-form="keywordForm">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert alert-danger" ng-show="vm.showError == 'error'">
                            <button type="button" class="close" ng-click="vm.hideError()">&times;</button>
                            You have reached the alloted limit. To add more slots, go to <a ng-click="vm.GoToKeywordWatch()"><u>Keyword Watch</u></a>
                        </div>
                        <div class="alert alert-info">
                            <p>Keywords are words you want to watch to notify you via email of peoples demand</p>
                            <p>Note: You are given 4 <b>FREE</b> keyword slots</p>
                            <p>To know more about keyword watch, check <a ng-click="vm.GoToPremiumHelp()"><u>Using Premium</u></a></p>
                            <p>{{vm.KeywordUsers.length}} slots used out of {{vm.MaxFreeSlots}}</p>
                        </div>

                        <div ng-show="vm.KeywordUsers.length >= vm.MaxFreeSlots">
                            <div class="alert alert-info">
                                You have reached to allotted keyword limit. You want to add more slots? go to <a ng-click="vm.GoToKeywordWatch()"><u>Keyword Watch</u></a>
                            </div>
                        </div>

                        <div ng-hide="vm.KeywordUsers.length >= vm.MaxFreeSlots">
                            <div class="credit-info premium-info">
                                <label class="form-label">
                                    What keyword do you want to watch? <span class="required">*</span>
                                </label>
                                <input class="form-control validation" minlength="5" maxlength="20"
                                    ng-model="vm.Keyword" type="text" required
                                    placeholder="Ex. Honda Crz 2013">

                                <span class="small-red"
                                    ng-if="keywordForm.$error.minlength">Should have length from 5 to 20 characters</span>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Where do you want to watch them? <span class="required">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control validation" ng-options="country as country.Name for country in vm.Countries"
                                    ng-model="vm.Selected.Country">
                                    <option value="">All countries</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control validation" ng-options="country as country.Name for country in vm.Selected.Country.Subs"
                                    ng-model="vm.Selected.City">
                                    <option value="">All cities</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary btn-add-keyword"
                                    ng-disabled="keywordForm.$invalid"
                                    ng-click="vm.AddKeyword()">
                                    Add
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 margin-left-10">
                                <div class="margin-top-20">
                                    <a class="del-skill" ng-repeat="keywordUser in vm.KeywordUsers">
                                        <label class="label label-default label-skill"
                                            ng-click="vm.RemoveTag(keywordUser)">
                                            {{keywordUser.Keyword.Word}} - {{keywordUser.DisplayLocation}} <i class="bi_interface-cross"></i>
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-primary btn-add-keyword"
                        ng-disabled="!vm.KeywordUsers || vm.KeywordUsers.length==0 || vm.Processing"
                        ng-click="vm.SaveKeywords(vm.KeywordUsers)" data-dismiss="modal">
                        Save Keywords And Exit
                    </button>
                    <br />
                    <a data-dismiss="modal">Skip</a>
                </div>
            </div>
        </div>

    </div>
</div>
