﻿<!-- login-page -->
<section id="main" class="clearfix user-page">
    <div class="container box-wrapper">
        <div class="row text-center">
            <!-- user-login -->
            <div class="box-center">
                <form name="loginForm">
                    <div class="user-account">
                        <h2>Forgot Password</h2>
                        <!-- form -->
                        <!--<div class="alert alert-success" role="alert">
                            <div class="row">
                                <span id="success">
                                    <i class="bi_com-email-tick"></i><br>
                                    Success! Please check your e-mail for instructions to reset your password.
                                </span>
                            </div>
                        </div>-->
                        <p>Enter your e-mail address to receive a link to reset your password</p>
                        <div class="form-group">

                            <input type="email" name="password"
                                ng-model="vm.EmailAddress"
                                class="form-control validation" placeholder="E-mail Address" required>


                            <!--<input type="text" class="form-control" placeholder="E-mail Address">-->
                        </div>
                        <!--<a href="#" type="submit" class="btn-primary">Reset Password</a>-->

                        <button class="btn btn-primary form-control"
                            ng-disabled="loginForm.$invalid || vm.Processing"
                            ng-click="vm.ResetPassword(vm.EmailAddress)">
                            <span style="color: white;">Reset Password
                            </span>
                        </button>

                        <div class="create-account">
                            <a href="Login">Login</a> or
                            <a href="Signup">Create An Account</a>
                        </div>

                    </div>
                </form>
                <!-- form -->
            </div>
            <!-- user-login -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- login-page -->
