﻿<!-- login-page -->
<section id="main" class="clearfix user-page" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="container box-wrapper">
        <div class="row text-center">
            <!-- user-login -->
            <div class="box-center">

                <div class="user-account">
                    <h2>Login To Your Account <span ng-if="vm.tmpPost">To Proceed</span></h2>
                    <!-- form -->
                    <button class="btn-primary btn-facebook" 
                            ng-disabled="vm.Processing"
                            ng-click="vm.LoginUsingFacebook()">Login with Facebook</button>
                    <!--<button id="googleCstmBtn" class="btn-primary btn-google" ng-click="vm.LoginUsingGoogle()">Login with Google</button>-->
                    <!--<div class="g-signin2" data-onsuccess="vm.OnSignIn()">Login with Google 2</div>-->
                    <!--<button type="button" ng-click="vm.signOut()">Sign out</button>-->
                    <div class="login-separator">
                        <span class="separator-text">or</span>
                        <hr>
                    </div>
                    <form name="loginForm">
                        <div class="form-group">
                            <input type="email" name="email"
                                ng-model="vm.logindetails.Email"
                                class="form-control validation" placeholder="E-mail Address"
                                maxlength="40" required>
                            <span class="small-red" ng-if="loginForm.email.$error.email">Full email address example: example@provider.com</span>
                        </div>

                        <div class="form-group">
                            <input type="password" name="password"
                                ng-model="vm.logindetails.Password"
                                class="form-control validation" placeholder="Password"
                                minlength="6" maxlength="50" required>
                            <span class="small-red" ng-if="loginForm.password.$error.minlength">Minimum length of 6</span>
                        </div>

                        <!-- forgot-password -->
                        <div class="user-option">
                            <div class="forgot-password">
                                <a href="/ForgotPassword">Forgot your password?</a></div>
                        </div>
                        <!-- forgot-password -->
                        <div class="form-group">
                            <button class="btn btn-primary form-control"
                                ng-disabled="loginForm.$invalid || vm.Processing"
                                ng-click="vm.Login(vm.logindetails)">
                                <span style="color: white;">Login
                                </span>
                            </button>
                        </div>
                    </form>

                    <div class="create-account">
                        Not a member yet? <a ng-click="vm.GotoSignupPage()">Create An Account</a>
                    </div>


                    <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Welcome {{vm.FBName}}</h3>

                                </div>
                                <div class="modal-body">
                                    <div class="user-account">
                                        <div class="change-password section" ng-form="changePasswordForm">

                                            <h2>Change password</h2>
                                            <br />
                                            <h5>You can change your password or skip to proceed. Your default password is your email</h5>
                                            <!-- form -->
                                            <div class="form-group">
                                                <label class="label-title label-offer">Old Password</label>
                                                <input type="password" class="form-control validation" name="oldpassword"
                                                    ng-model="vm.ChangePasswordObject.OldPassword"
                                                    minlength="6" maxlength="50"
                                                    ng-required="vm.ChangePasswordObject.Password || vm.ChangePasswordObject.Password2">
                                                <span class="small-red" ng-if="changePasswordForm.oldpassword.$error.minlength">Minimum length of 6</span>
                                            </div>

                                            <div class="form-group">
                                                <label class="label-title label-offer">New Password</label>
                                                <input type="password" class="form-control validation" name="password"
                                                    ng-model="vm.ChangePasswordObject.Password"
                                                    minlength="6" maxlength="50" ng-required="vm.ChangePasswordObject.OldPassword">
                                                <span class="small-red" ng-if="changePasswordForm.password.$error.minlength">Minimum length of 6</span>

                                            </div>

                                            <div class="form-group">
                                                <label class="label-title label-offer">Confirm Password</label>
                                                <input type="password" class="form-control validation" name="password2"
                                                    ng-model="vm.ChangePasswordObject.Password2"
                                                    minlength="6" maxlength="50" ng-required="vm.ChangePasswordObject.Password">
                                                <span class="small-red" ng-if="changePasswordForm.password2.$error.minlength">Minimum length of 6</span>
                                                <span class="small-red" ng-if="vm.ChangePasswordObject.Password != vm.ChangePasswordObject.Password2">Passwords must match</span>
                                            </div>
                                            <div class="preferences-settings section">
                                                <button ng-click="vm.FBLoginChangePassword(vm.ChangePasswordObject)" type="submit"
                                                    ng-disabled="changePasswordForm.$invalid ||
                             (vm.ChangePasswordObject.Password != vm.ChangePasswordObject.Password2) ||
                             vm.Processing ||
                            (!vm.ChangePasswordObject)"
                                                    class="btn btn-primary">
                                                    Change Password
                                                </button>


                                                <button ng-click="vm.FBLoginSkip()" type="submit"
                                                    class="btn btn-primary">
                                                    Skip
                                                </button>
                                            </div>
                                        </div>
                                        <!-- Update password-->
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- form -->
                </div>
                <!-- user-login -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
</section>
<!-- login-page -->
