﻿<!-- myads-page -->
<section id="ad-post" class="clearfix myads-page" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="container">

        <div class="ads-info">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="notif-links padding-30">
                        <h4>Notifications</h4>
                        <!-- social-icon -->
                        <ul class="notification-list" style="cursor: pointer">
                            <li ng-repeat="nav in vm.Navigation">
                                <a ng-click="vm.SelectType(nav.Value)"
                                    ng-class="vm.Filter.Type == nav.Value?'active':''">
                                    <i ng-class="::vm.Icon(nav.Value)"></i>
                                    {{::nav.Title}}</a>
                            </li>
                        </ul>
                        <!-- social-icon -->
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="my-notifications section">
                        <!-- reviews -->
                        <div class="row">
                            <!-- review 1-->
                            <div class="col-sm-12">

                                <div class="row" ng-show="!vm.Processing && vm.Notifications && vm.Notifications.List.length>0">
                                    <span style="color: green; cursor: pointer" ng-click="vm.UpdateReadPropertyBulk()">Mark all in current page as {{vm.Read?'unread':'read'}}</span>
                                </div>
                                <!-- Notification Offer-->
                                <div ng-show="!vm.Processing"
                                    dir-paginate="notif in vm.Notifications.List | itemsPerPage: vm.Pagination.PageSize"
                                    total-items="vm.Notifications.Count"
                                    current-page="vm.Pagination.Current">
                                    <!--<span style="color: green; cursor: pointer" ng-show="!notif.Disabled" ng-click="vm.UpdateReadProperty(notif)">{{notif.Read?'Mark as unread':'Mark as read'}}</span>-->
                                    <a>
                                        <div ng-class="notif.Read?'notif-box':'notif-box light-green'">
                                            <div class="row">
                                                <a ng-href="{{notif.Link}}" ng-click="vm.UnreadNotification(notif)">
                                                    <div class="col-sm-1">
                                                        <div class="icon-message">
                                                            <i ng-class="vm.Icon(notif)"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="col-sm-11">
                                                    <div class="notif-info">
                                                        <span><a ng-href="{{notif.Link}}" ng-click="vm.UnreadNotification(notif)">{{::notif.Title}}</a></span>
                                                        <span class="mark-read pull-right" style="color: green; cursor: pointer"
                                                            ng-show="!notif.Disabled" ng-click="vm.UpdateReadProperty(notif)">{{notif.Read?'Mark as unread':'Mark as read'}}</span><br>
                                                        {{::notif.Description}}
                                                    <span class="time-stamp"><i class="bi_time-clock"></i><span am-time-ago="::notif.DateTime"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <!--if no notification-->
                                <a ng-show="!vm.Notifications || vm.Notifications.List<=0">
                                    <div class="notif-box">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <div class="notif-info">
                                                    <span>No notifications yet</span><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <!-- pagination  -->
                            <div class="col-xs-12" ng-if="vm.Notifications.List.length>0">
                                <div class="text-center">
                                    <ul class="pagination" style="cursor: pointer">
                                        <li ng-if="!(vm.Pagination.Current <= 1)"><a ng-click="vm.PrevPage()"><i class="bi_interface-arrow-left"></i>Newest</a></li>
                                        <li ng-if="vm.ShowOlderPagination()"><a ng-click="vm.NextPage()">Older <i class="bi_interface-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- pagination  -->
                        </div>
                        <!--row-->
                    </div>
                    <!-- my notif-->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ad-info -->
    </div>
    <!-- container-->
</section>
<!-- myads-page -->
