﻿<!-- post-page -->
<!-- main -->
<section id="main" class="clearfix ad-details-page">
    <!--ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }"-->
    <div class="container">

        <div class="adpost-details ">
            <!--margin-top-20-->
            <div class="row">

                <!--Navigate back-->
                <div class="col-md-12 margin-bottom-10 font-20">
                    <a ng-click="vm.Util.GoBack()"><i class="bi_interface-arrow-left"></i>Back</a>
                </div>


                <div class="col-md-8">
                    <form name="postingForm" novalidate ng-init="postingForm.$valid = false">
                        <div class="section postdetails">
                            <h4>Modify your Advertisment<span class="pull-right">* Required Fields</span></h4>
                            <div class="form-group selected-product">
                                <ul class="select-category list-inline">
                                    <li ng-repeat-start="Name in vm.Post.CategoryNames"
                                        ng-if="!$last">
                                        <a>{{Name}}
                                        </a>
                                    </li>
                                    <li ng-repeat-end class="active"
                                        ng-if="$last">
                                        <a>{{Name}}</a>
                                    </li>
                                </ul>
                            </div>

                             <!--What advertisement is this-->
                            <div class="row form-group" >
                                <label class="col-sm-3">I want to <small>(readonly)</small><span class="required">*</span></label>
                                <div class="col-sm-9 user-type">
                                    <input type="radio" name="adtype" ng-checked="vm.Post.Selling" id="sell" disabled>
                                    <label for="sell" >Sell/Provide an Item/Service</label>
                                    <input type="radio" name="adtype" ng-checked="!vm.Post.Selling" id="buy" disabled>
                                    <label for="buy" >Search for an item/service</label>
                                </div>
                            </div>

                            <!--title-->
                            <div class="row form-group add-title">
                                <label class="col-sm-3 label-title">Title for your Ad<span class="required"> *</span><span>{{vm.TextModifierService.TitleLabel(vm.Post.Category,vm.Post.Selling)}}</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control margin-top-20 validation"
                                        name="title" placeholder="{{vm.TextModifierService.TitleToolTip(vm.Post.Category,vm.Post.Selling)}}"
                                        ng-model="vm.Post.Title"
                                        minlength="3" maxlength="50"
                                        required>
                                    <span class="small-red"
                                        ng-if="postingForm.title.$error.minlength 
                                               || postingForm.title.$error.maxlength">Minimum length of 3 to maximum of 50</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 label-title">Country</label>
                                <div class="col-sm-9">
                                    <select id="Select1" class="form-control validation"
                                        ng-model="vm.Selected.Country"
                                        ng-options="o as o.Name for o in vm.Countries track by o.ID">
                                        <option value="">Any country</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 label-title">City</label>
                                <div class="col-sm-9">
                                    <select id="Select4" class="form-control validation"
                                        ng-model="vm.Selected.City" ng-options="o as o.Name for o in vm.Selected.Country.Subs track by o.ID">
                                        <option value="">Any city</option>
                                    </select>
                                </div>
                            </div>


                            <!--Choices-->
                            <div class="row form-group" ng-if="vm.IfCategoryHas('Buyable/Swappable')">
                                <label class="col-sm-3">Type of ad<span class="required"> *</span></label>
                                <div class="col-sm-9 user-type panel-body">
                                    <label for="buyable" ng-if="!vm.Post.Selling"
                                        class="checkbox-inline image" ng-class="vm.TypeListContains('Buy')?'checked':''">
                                        <input type="checkbox" name="type" id="buyable" ng-click="vm.ModifyType('Buy')"
                                            ng-required="!vm.HaveTypes()">
                                        Buy
                                    </label>
                                    <label for="sellable" ng-if="vm.Post.Selling"
                                        ng-class="vm.TypeListContains('Sell')?'checked':''" class="checkbox-inline image">
                                        <input type="checkbox" name="type" id="sellable" ng-click="vm.ModifyType('Sell')"
                                            ng-required="!vm.HaveTypes()">
                                        Sell
                                    </label>
                                    <label for="swappable" class="checkbox-inline image"
                                        ng-class="vm.TypeListContains('Swap')?'checked':''">
                                        <input type="checkbox" name="type" id="swappable" ng-click="vm.ModifyType('Swap')"
                                            ng-required="!vm.HaveTypes()">
                                        Swap
                                    </label>
                                    <label for="rentable" class="checkbox-inline image"
                                        ng-class="vm.TypeListContains('Rent')?'checked':''">
                                        <input type="checkbox" name="type" id="rentable"
                                            ng-click="vm.ModifyType('Rent')"
                                            ng-required="!vm.HaveTypes()">
                                        Rent
                                    </label>
                                </div>
                            </div>

                            <div ng-if="vm.IfCategoryHas('Buyable')">
                                <div class="row form-group">
                                    <label class="col-sm-3">Preferred Condition<span class="required">*</span></label>
                                    <div class="col-sm-9 user-type">
                                        <input type="radio" checked name="conditionType" ng-checked="vm.Post.Condition == 'New'"
                                            ng-click="vm.Post.Condition = 'New'" value="noturgent" id="conditionNew">
                                        <label for="conditionNew">New</label>
                                        <input type="radio" checked name="conditionType" ng-checked="vm.Post.Condition == 'Used'"
                                            ng-click="vm.Post.Condition = 'Used'" value="noturgent" id="conditionUsed">
                                        <label for="conditionUsed">Used</label>
                                    </div>
                                </div>
                                <div class="row form-group add-title">
                                    <label class="col-sm-3 label-title">How many?<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="number"
                                            ng-model="vm.Post.Quantity"
                                            class="form-control validation" id="text" placeholder="ex: 1"
                                            ng-min="1"
                                            ng-max="2000"
                                            required>
                                    </div>
                                </div>
                            </div>

                            <!--job types-->
                            <div class="row form-group" ng-if="vm.IfCategoryHas('Job')">
                                <label class="col-sm-3">Type<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="radio" checked name="jobtype" ng-checked="vm.Post.TypeList[0] == 'Full-Time'"
                                        ng-click="vm.Post.TypeList[0] = 'Full-Time'" value="noturgent" id="Full-Time">
                                    <label for="Full-Time">Full-Time</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Post.TypeList[0] == 'Part-Time'"
                                        ng-click="vm.Post.TypeList[0] = 'Part-Time'" value="asap" id="Part-Time">
                                    <label for="Part-Time">Part-Time</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Post.TypeList[0] == 'Remote'"
                                        ng-click="vm.Post.TypeList[0] = 'Remote'" value="week" id="Remote">
                                    <label for="Remote">Remote</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Post.TypeList[0] == 'Intern'"
                                        ng-click="vm.Post.TypeList[0] = 'Intern'" value="2weeks" id="Intern">
                                    <label for="Intern">Intern</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Post.TypeList[0] == 'Freelance'"
                                        ng-click="vm.Post.TypeList[0] = 'Freelance'" value="month" id="Freelance">
                                    <label for="Freelance">Freelance</label>
                                </div>
                            </div>

                            <!--Upload Image-->
                            <div class="row form-group add-image"
                                ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                <label class="col-sm-3 label-title">Photos for your ad <span>(First image will be your cover photo )</span> </label>
                                <div class="col-sm-9">
                                    <h5><i class="bi_media-image" aria-hidden="true"></i>Select Images to Upload <span>You can add 3 images. (png, jpeg, and  jpg files only)</span></h5>
                                    <div class="upload-section">
                                        <div ng-repeat="file in vm.TempPost.Images">
                                            <label class="delete-image" ng-click="vm.RemoveImage(file)">
                                                <img ngf-thumbnail="file" class="thumb" style="width: auto; height: 100px; margin-bottom: 30%">
                                            </label>
                                        </div>
                                        <label class="upload-image" for="upload-image-one" ng-if="vm.TempPost.Images.length < 3 || !vm.TempPost.Images">
                                            <input type="file" id="upload-image-one"
                                                ngf-select="vm.AddImage(vm.Files)"
                                                ng-model="vm.Files"
                                                name="file"
                                                accept="image/jpeg,image/png"
                                                ngf-max-size="3MB"
                                                ngf-model-invalid="vm.Post.errorFile">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!--Category Job: Resume Upload-->
                            <div class="row form-group add-image"
                                ng-if="vm.IfCategoryHas('Job')"
                                ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                <label class="col-sm-3 label-title">Upload your resume/biodata for employers to see<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <h5><i class="bi_doc-drawer-download" aria-hidden="true"></i>Select a File to Upload <span>You can only upload 1 resume/biodata of format (word or pdf)</span></h5>
                                    <div class="upload-section">
                                        <div ng-if="vm.TempPost.Attachments.length>0">
                                            <p>{{vm.TempPost.Attachments[0].name+' was attached'}}</p>
                                            <a style="cursor: pointer" ng-click="vm.RemoveAttachment()">Remove
                                            </a>
                                            <img alternative="Placeholder for resume" />
                                        </div>
                                        <label class="upload-image" for="upload-image-one2" ng-if="vm.TempPost.Attachments.length <= 0 || !vm.TempPost.Attachments">
                                            <input type="file" id="upload-image-one2"
                                                ngf-select="vm.AddAttachment(vm.Files)"
                                                ng-model="vm.Files"
                                                name="file"
                                                accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                                ngf-max-size="3MB" required
                                                ngf-model-invalid="vm.Post.errorFile">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!--Tags-->
                            <div class="row form-group brand-name" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                <label class="col-sm-3 label-title">{{vm.TextModifierService.TagLabel(vm.Post.Category)}}</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="tag here" ng-model="vm.keyword">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="margin-top-20">
                                                <a class="del-skill" ng-repeat="keyword in vm.Keywords">
                                                    <label class="label label-default label-skill"
                                                        ng-click="vm.RemoveTag(keyword)">
                                                        {{keyword.Word}} <i class="bi_interface-cross"></i>
                                                    </label>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-sm btn-add-skill"
                                        ng-click="vm.AddTag(vm.keyword)">
                                        Add</button>
                                </div>
                            </div>

                            <!--urgency-->
                            <div class="row form-group" ng-hide="vm.Details.Selling">
                                <label class="col-sm-3">Urgency<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="radio" ng-checked="vm.Post.Urgency == 99" name="urgency"
                                        ng-click="vm.Post.Urgency = 99" value="noturgent" id="noturgent">
                                    <label for="noturgent">Not urgent</label>
                                    <input type="radio" name="urgency" ng-checked="vm.Post.Urgency == 0"
                                        ng-click="vm.Post.Urgency = 0" value="asap" id="asap">
                                    <label for="asap">As soon as possible</label>
                                    <input type="radio" name="urgency" ng-checked="vm.Post.Urgency == 1"
                                        ng-click="vm.Post.Urgency = 1" value="week" id="week">
                                    <label for="week">Within a week</label>
                                    <input type="radio" name="urgency" ng-checked="vm.Post.Urgency == 2"
                                        ng-click="vm.Post.Urgency = 2" value="2weeks" id="2weeks">
                                    <label for="2weeks">Within 2 weeks</label>
                                    <input type="radio" name="urgency" ng-checked="vm.Post.Urgency == 3"
                                        ng-click="vm.Post.Urgency = 3" value="month" id="month">
                                    <label for="month">Within a month</label>
                                </div>
                            </div>
                            <!--!vm.IfCategoryHas('Community')-->
                            <!--price-->
                            <div class="row form-group select-price">
                                <label class="col-sm-3 label-title">{{(vm.IfCategoryHas('Job')?'Desired Salary Range':'Budget')}} <small>(leave blank if not applicable)</small></label>
                                <div class="col-sm-9">
                                    <label>₱ (Philippine Peso)</label>
                                    <br />
                                    <input type="number" class="form-control validation" min="0" placeholder="Minimum"
                                        name="min"
                                        ng-model="vm.Post.BudgetMin" id="text1"
                                        ng-required="vm.Post.BudgetMax ">
                                    <input type="number" class="form-control validation" placeholder="Maximum"
                                        name="max"
                                        ng-min="vm.Post.BudgetMin"
                                        ng-model="vm.Post.BudgetMax" id="text2"
                                        ng-required="vm.Post.BudgetMin">
                                    <span class="small-red" ng-if="vm.Post.BudgetMin && !vm.Post.BudgetMax">Max should be greater than or equal to Minimum budget</span>
                                    <span class="small-red" ng-if="postingForm.min.$error.required">Please input minimum value</span>
                                </div>
                            </div>
                            <!--ng-change="vm.OnBudgetMaxChange()"-->

                            <!--meetingplace-->
                            <div class="row form-group additional"
                                ng-if="!vm.IfCategoryHas('Carpool') && !vm.IfCategoryHas('Job') && !vm.IfCategoryHas('Charity')">
                                <label class="col-sm-3 label-title">Transaction Details</label>
                                <div class="col-sm-9">

                                    <textarea class="form-control validation" id="textarea1"
                                        ng-model="vm.Post.OtherDescription"
                                        name="transaction"
                                        minlength="10"
                                        maxlength="500"
                                        placeholder="Write few lines how will you transact or meetup? leave this blank if does not apply"
                                        rows="4"></textarea>
                                    <span class="small-red"
                                        ng-if="postingForm.transaction.$error.minlength">Minimum length of 20 to maximum of 500</span>
                                </div>
                            </div>

                            <!--description-->
                            <div class="row form-group item-description">
                                <label class="col-sm-3 label-title">{{vm.TextModifierService.DescriptionLabel(vm.Post.Category)}}<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <b>{{vm.IfCategoryHas('Job')?'Describe yourself briefly to attract employers':'Write few lines about what you are looking for'}}</b>
                                    <div text-angular ng-model="vm.Post.Description"
                                        ta-min-text="15" ta-max-text="1000" name="description" required>
                                    </div>
                                    <!--<textarea class="form-control validation" id="textarea"
                                        ng-model="vm.Post.Description"
                                        name="description"
                                        minlength="20"
                                        maxlength="2000"
                                        placeholder="{{vm.IfCategoryHas('Job')?'Describe yourself briefly to attract employers':'Write few lines about what you are looking for'}}"
                                        rows="8" required></textarea>-->
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.taMinText || postingForm.description.$error.required">Min length is 15</span>
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.taMaxText">Max length limit is 1000</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">
                                    Max characters is only 1000 *
                                </div>
                            </div>
                        </div>
                        <!-- section -->


                        <!--subscribe-->
                        <div class="section agreement">
                            <label for="sendalerts">
                                <input type="checkbox" name="sendalerts"
                                    ng-model="vm.Post.Notify" id="sendalerts">
                                Send me Email/SMS Alerts for people responding to my Ad.
                            </label>
                            <label for="agree">
                                <input type="checkbox" name="agree" id="agree"
                                    ng-model="vm.Post.Agree" required>
                                By clicking "Post Ad", you agree to our <a href="terms-conditions.html">Terms &amp; Conditions</a>, <a href="privacy-policy.html">Privacy Policy</a>, and <a href="ad-policy.html">Ad Policy</a><br />
                                <span class="small-red" ng-if="postingForm.agree.$error.required">You must agree to proceed.</span>
                            </label>
                            <!-- Invalid :{{postingForm.$valid}}

                                Invalid :{{postingForm.$Invalid}}

                                Errors : {{postingForm.$error}}

                                Match : {{(!vm.PasswordMatches())}}

                                Process : {{vm.Processing}}-->
                            <button
                                ng-click="vm.SubmitUpdatePost(vm.Post)"
                                ng-disabled="
                                    !(postingForm.$valid) || 
                                    vm.Processing"
                                type="button" class="btn btn-primary">
                                Post Advertisment</button>
                        </div>
                        <!-- section -->

                    </form>
                    <!-- form -->
                </div>
            </div>
            <!-- photos-ad -->
        </div>
    </div>
    <!-- container -->
</section>
<!-- main -->
