﻿<div class="page-heading listing-page archive-page ">
    <div class="page-heading-inner-container text-center">
        <h1>Mobile</h1>
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><span>Mobile</span></li>
        </ul>
    </div>
    <div class="page-header-overlay"></div>
</div>

<section class="bg-gray">
    <div class="container page-container">
        <div class="row">
            <div class="col-md-12 search-row margin-top-subtract-35  margin-bottom-35">
                <form ng-submit="vm.GetPosts()" class="form-inline clearfix">
                    <div class="col-sm-6 col-md-8">
                        <div class="form-group full-width">
                            <div class="input-group">
                                <div class="input-group-addon border"><i class="fa fa-search"></i></div>
                                <input type="text"
                                    class="form-control border input-width-299 border-right-radius"
                                    ng-model="vm.SearchTemp.Title"
                                    id="searchInput" placeholder="What are you looking for?">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group full-width">
                            <div class="input-group">
                                <div class="input-group-addon border"><i class="fa fa-crosshairs"></i></div>
                                <select id="categorySelect"
                                    class="form-control border input-width-350 border-right-radius"
                                    style="cursor: pointer;"
                                    ng-model="vm.CurrentList.Category"
                                    ng-change="vm.SelectCategory()"
                                    ng-options="category as category.Name for category in vm.Categories track by category.ID">
                                    <option value="">Select category</option>
                                </select>
                                <!--<input type="text" class="form-control border input-width-350 border-right-radius" id="Text1" placeholder="Where?">-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group full-width">
                            <div class="input-group">
                                <div class="input-group-addon border"><i class="fa fa-crosshairs"></i></div>
                                <select class="form-control border border-right-radius"
                                    style="cursor: pointer;"
                                    ng-model="vm.CurrentList.Country"
                                    ng-options="category as category.Name for category in vm.Countries track by category.ID">
                                    <option value="">Select country</option>
                                </select>

                                <!--ng-change="vm.SelectCountry(vm.CurrentList.Country)"-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4"
                        ng-show="vm.CurrentList.Country.Subs.length>0">
                        <div class="form-group full-width">
                            <div class="input-group">
                                <div class="input-group-addon border"><i class="fa fa-crosshairs"></i></div>
                                <select class="form-control border border-right-radius"
                                    style="cursor: pointer;"
                                    ng-model="vm.CurrentList.City"
                                    ng-options="category as category.Name for category in vm.CurrentList.Country.Subs track by category.ID">
                                    <option value="" selected>Select city</option>
                                </select>

                                <!--ng-change="vm.SelectCity(vm.CurrentList.City)"-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group full-width">
                            <div class="input-group">
                                <input type="submit"
                                    value="Search" class="search-btn" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-4">
            <div class="widget-box widget-bg-color user-timing lp-border-radius-5">
                <div class="widget-content">
                    <label ng-if="vm.CurrentList.SubCategory.Name">{{vm.CurrentList.SubCategory.Name}} ({{vm.CurrentList.SubCategory.Count?vm.CurrentList.SubCategory.Count:0}})</label>
                    <label ng-if="!vm.CurrentList.SubCategory.Name">No Subcategory Selected</label>
                    <div class="form-group">
                        <div class="menu" ng-repeat="specific in vm.CurrentList.SubCategory.Subs">
                            <!--<input id="Checkbox1" type="checkbox" name="price-on-call" value="price-on-call">-->
                            <label ng-class="vm.SelectedSpecificCategoryCss(specific)"
                                ng-model="vm.CurrentList.SpecificCategory"
                                style="cursor: pointer;"
                                ng-click="vm.SelectSpecificCategory(specific)">
                                {{specific.Name}} <span>({{specific.Count?specific.Count:0}})</span></label>
                        </div>
                    </div>
                    <!-- ALL sub-categories should be displayed-->
                    <a class="view-more" ng-if="vm.CurrentList.Category" ng-click="vm.showsubs=!vm.showsubs">{{(!vm.showsubs)?'View more Categories':'Hide Categories'}}</a>

                    <div ng-if="vm.showsubs" ng-repeat="sub in vm.CurrentList.Category.Subs">
                        <label class="widgettitle2"
                            ng-click="vm.SelectSubCategory(sub)">
                            {{::sub.Name}} ({{sub.Count?sub.Count:0}})</label>
                    </div>
                </div>
            </div>

            <div class="widget-box widget-bg-color user-timing lp-border-radius-5">
                <div class="widget-content">
                    <label>Filters</label>
                    <div class="form-group">
                        <select class="form-control"
                            ng-model="vm.SearchTemp.Urgency">
                            <option value="">Select urgency</option>
                            <option value="1">ASAP</option>
                            <option value="2">Within a week</option>
                            <option value="3">Within 2 weeks</option>
                            <option value="4">Within a month</option>
                            <option value="5">A month from now</option>
                            <option value="6">Whenever</option>
                        </select>
                    </div>
                    <p>Budget</p>
                    <input type="number"
                        ng-model="vm.SearchTemp.BudgetMin"
                        ng-change="vm.OnBudgetMaxChange()"
                        class="form-control"
                        placeholder="min" />
                    <center>to</center>
                    <input type="number"
                        ng-model="vm.SearchTemp.BudgetMax"
                        ng-change="vm.OnBudgetMaxChange()"
                        class="form-control"
                        placeholder="max" />
                    <input type="button" class="btn btn-primary"
                        style="margin: 10px; float: right;"
                        ng-click="vm.GetPosts()" value="Search" />
                    <!--<div class="form-group">
                        <div class="checkbox">
                            <input id="check5" type="checkbox" name="price-on-call" value="price-on-call">
                            <label for="check5">Apple (21)</label>
                        </div>
                        <div class="checkbox">
                            <input id="check6" type="checkbox" name="price-on-call" value="price-on-call">
                            <label for="check6">Samsung (40)</label>
                        </div>
                        <div class="checkbox">
                            <input id="check7" type="checkbox" name="price-on-call" value="price-on-call">
                            <label for="check7">LG (22)</label>
                        </div>
                    </div>-->
                    <!--<a href="#!" class="view-more">View more brands</a>-->
                    <!-- if expanded rename to View less brands-->
                </div>
            </div>

            <div class="widget-box widget-bg-color user-timing lp-border-radius-5">
                <div class="widget-content">
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-8 col-sm-7">
            <div class="row listing-page-result-row margin-bottom-25">
                <div class="col-xs-6 text-left">
                    <p>{{vm.Pageing.Total}} Results</p>
                    <!--<select ng-model="vm.Pageing.PageSize"
                        class="form-control select-box" style="width: auto">
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                        <option>All</option>
                    </select>-->
                    <select ng-init="vm.Pageing.PageSize = 15"
                        style="cursor: pointer;"
                        class="form-control"
                        ng-change="vm.GetPosts()"
                        ng-model="vm.Pageing.PageSize">
                        <option value="6" ng-selected="vm.Pageing.PageSize==6">6</option>
                        <option value="9" ng-selected="vm.Pageing.PageSize==9">9</option>
                        <option value="12" ng-selected="vm.Pageing.PageSize==12">12</option>
                        <option value="15" ng-selected="vm.Pageing.PageSize==15">15</option>
                        <option value="18" ng-selected="vm.Pageing.PageSize==18">18</option>
                    </select>
                </div>
                <div class="col-xs-6 text-right">
                    <p>Showing all Mobile Ads <a ng-click="vm.RemoveFilters()" class="achor-color">Reset</a></p>
                </div>

            </div>


            <div class="row list-page-grid">
                <!--POSTS-->
                <div class="col-md-4 col-xs-12 grid-box-contianer grid-box-contianer1"
                    ng-repeat="post in vm.Posts">
                    <div class="grid-box border border-radius-2">
                        <div class="grid-box-thumb-container">
                            <div class="grid-box-thumb">
                                <img src="./assets/img/default.png">
                            </div>
                        </div>
                        <div class="grid-box-description">
                            <h4 class="h4">
                                <!--target="_self" ng-href="#/Post/{{post.LinkPostfix}}"-->
                                <a style="cursor: pointer" ng-click="vm.GotoPost(post)">{{::post.Title}}</a>
                            </h4>
                            <!--ng-href="#/Post/{{post.LinkPostfix}}"-->
                            <p>
                                <i class="fa fa-map-marker"></i>
                                <span>{{::post.Owner.City.Name}}, {{::post.Owner.Country.Name}}</span>
                            </p>
                            <!-- <ul class="grid-box-price font-14">
                            <li>
                              <span>₱ 2,500.00 - 3,000.00</span>
                            </li>
                          </ul> -->
                        </div>
                        <div class="grid-box-bottom">
                            <div class="pull-left">
                                <span class="budget">₱ {{::post.BudgetMin}} - {{::post.BudgetMax}}</span>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="add-to-fav simptip-position-top simptip-movable" data-tooltip="Add to favorites">
                                    <i></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!--PAGINATION-->
                <div class="col-xs-12"
                    ng-if="vm.ShowPagination()">
                    <nav class="text-center">
                        <ul class="pagination">
                            <li ng-if="vm.PrevPage()">
                                <a aria-label="Previous"
                                    ng-click="vm.GetPosts()">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-if="vm.PrevPage()">
                                <a ng-click="vm.GetPosts(vm.PrevPage())">{{vm.PrevPage()}}</a>
                            </li>
                            <li class="active">
                                <a ng-click="vm.GetPosts(vm.CurrentPage())">{{vm.CurrentPage()}}</a>
                            </li>
                            <li ng-if="vm.ShowNextPageButton()">
                                <a ng-click="vm.GetPosts(vm.NextPage())">{{vm.NextPage()}}</a>
                            </li>
                            <li ng-if="vm.ShowNextPageButton()">
                                <a aria-label="Next"
                                    ng-click="vm.GetPosts(vm.LastPage())">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div style="overflow-x: scroll; padding: 10px">
                        <script type='text/javascript' src='//clksite.com/adServe/banners?tid=114634_192627_18' async></script>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

