﻿<div class="main-inner">
    <div class="content">
        <div class="container">
            <div class="row detail-content">
                <div class="col-sm-9">

                    <h2>Searching for: <span class="text-secondary">{{::vm.Post.Title}}</span></h2>

                    <div class="background-white p20">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="detail-gallery">
                                    <div class="detail-gallery-preview">
                                        <a href="./assets/img/gallery-1.jpg" class="cboxElement">
                                            <img src="./assets/img/gallery-1.jpg">
                                        </a>

                                        <ul class="detail-gallery-index">
                                            <li class="detail-gallery-list-item active">
                                                <a data-target="assets/img/gallery-2.jpg">
                                                    <img src="./assets/img/gallery-2.jpg" alt="...">
                                                </a>
                                            </li>
                                            <li class="detail-gallery-list-item active">
                                                <a data-target="assets/img/gallery-3.jpg">
                                                    <img src="./assets/img/gallery-3.jpg" alt="...">
                                                </a>
                                            </li>
                                            <li class="detail-gallery-list-item active">
                                                <a data-target="assets/img/gallery-4.jpg">
                                                    <img src="assets/img/gallery-4.jpg" alt="...">
                                                </a>
                                            </li>
                                            <li class="detail-gallery-list-item active">
                                                <a data-target="assets/img/gallery-5.jpg">
                                                    <img src="assets/img/gallery-5.jpg" alt="...">
                                                </a>
                                            </li>
                                            <li class="detail-gallery-list-item active">
                                                <a data-target="assets/img/gallery-6.jpg">
                                                    <img src="assets/img/gallery-6.jpg" alt="...">
                                                </a>
                                            </li>
                                            <li class="detail-gallery-list-item active">
                                                <a data-target="assets/img/gallery-1.jpg">
                                                    <img src="assets/img/gallery-1.jpg" alt="...">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="post-details">
                                    <div class="day clearfix">
                                        <span class="name">Searching for:</span><span class="hours">{{::vm.Post.Title}}</span>
                                    </div>
                                    <!-- /.day -->

                                    <div class="day clearfix">
                                        <span class="name">Category </span><span class="hours">{{vm.Post.CategorySummary}}</span>
                                    </div>
                                    <!-- /.day -->

                                    <div class="day clearfix">
                                        <span class="name">Having a budget range of:</span><span class="hours"><span style="color: #2e7d32;"><i class="fa fa-money"></i> ₱ {{::(vm.Post.BudgetRangeMin)}} - {{::(vm.Post.BudgetRangeMax)}}</span></span>
                                    </div>
                                    <!-- /.day -->

                                    <div class="day clearfix">
                                        <span class="name">Details:</span>
                                        <br>
                                        <span class="">{{::(vm.Post.Description)}}
                                        </span>
                                    </div>
                                    <!-- /.day -->
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <div class="btn btn-default btn-share">
                                    <i class="fa fa-share mr5"></i>Share this page
												<div class="share-wrapper">
                                                    <ul class="share">
                                                        <li><i class="fa fa-facebook"></i>Facebook</li>
                                                        <li><i class="fa fa-twitter"></i>Twitter</li>
                                                        <li><i class="fa fa-google-plus"></i>Google+</li>
                                                        <li><i class="fa fa-chain"></i>Link</li>
                                                    </ul>
                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt15">
                        <div class="statusbox">
                            <h2>Transaction Description</h2>
                            <div class="statusbox-content">
                                <strong>Meet Up</strong>
                                <span><i class="fa fa-map-o"></i></span>
                                <span>{{::(vm.Post.OtherDescription)}}</span>
                            </div>
                            <!-- /.statusbox-content -->
                        </div>
                        <!-- /.statusbox -->
                    </div>

                    <h2 id="reviews" class="pt30">{{vm.Comments.length}} Responses</h2>
                    <div class="reviews">
                        <div class="review" ng-repeat="comment in vm.Comments">
                            <div class="review-image">
                                <img src="./assets/img/agent-1.jpg" alt="">
                            </div>
                            <!-- /.review-image -->

                            <div class="review-inner">
                                <div class="comment-header">
                                    <h2>Could sell you for <span style="color: #2e7d32; margin-left: 15px"><i class="fa fa-money"></i>₱ {{::comment.OtherDescription}}</span></h2>

                                    <span class="report">
                                        <span class="separator">•</span>
                                    </span>

                                    <div class="comment-reply">
                                        <a href="#!"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                    <!-- /.comment-reply -->

                                    <!-- /.review-rating -->
                                </div>
                                <!-- /.review-title -->

                                <div class="review-content-wrapper">
                                    <div class="review-content" style="border-bottom: 1px dashed #e9e9e9;">
                                        <p>{{::comment.Description}}</p>
                                    </div>
                                    <!-- /.review-content -->
                                </div>
                                <p class="pt15">
                                    <em>My name is <span class="text-secondary">{{::comment.User.Name}}</span> and my contact is <span class="text-secondary">{{::comment.User.Mobile}} and  {{::comment.User.Email}}</span>
                                    </em>
                                </p>
                                <!-- /.review-content-wrapper -->
                                <!-- <div class="testimonial-sign">- <b>Laurie Fuller</b> and my contact is <b>laurie.fuller93@example.com</b> or <b>(823)-726-3557</b></div> -->

                            </div>
                            <!-- /.review-inner -->
                        </div>
                        <!-- /.review -->

                        <h2 class="pt30">Respond</h2>
                        <div class="detail-enquire-form background-white p20" style="margin-top: 20px">
                            <div ng-form="comment">
                                <p>
                                    Required fields are marked <span class="required">*</span>
                                </p>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="f15">
                                            Could sell you for <span class="required">*</span>
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><b>₱</b></span>
                                            <input class="form-control"
                                                ng-model="vm.Comment.OtherDescription"
                                                type="text" placeholder="Amount">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col-sm-12 -->
                                    <div class="form-group col-sm-6">
                                        <label class="f15">
                                            I am <span class="required">*</span>
                                        </label>
                                        <input class="form-control"
                                            ng-model="vm.Comment.User.Name"
                                            ng-disabled="vm.Comment.IsLoggedin"
                                            type="text" placeholder="Name">
                                    </div>
                                    <!-- /.col-sm-12 -->
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="f15">
                                            My contact is <span class="required">*</span>
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                            <input class="form-control"
                                                ng-model="vm.Comment.User.Mobile"
                                                ng-disabled="vm.Comment.IsLoggedin"
                                                type="text" placeholder="Mobile No.">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col-sm-12 -->

                                    <div class="form-group col-sm-6">
                                        <label class="f15">&nbsp;</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                            <input class="form-control"
                                                ng-model="vm.Comment.User.Email"
                                                ng-disabled="vm.Comment.IsLoggedin"
                                                type="text" placeholder="E-mail Address">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col-sm-12 -->

                                    <div class="form-group col-sm-12">
                                        <label class="f15" for="">Anything you want to say?</label>
                                        <textarea class="form-control"
                                            ng-model="vm.Comment.Description"
                                            rows="5" id="" required style="resize: none !important"></textarea>
                                    </div>
                                    <!-- /.col-sm-12 -->

                                    <div class="col-sm-8">
                                        <p class="form-allowed-tags" id="form-allowed-tags">
                                            You may use these
                                            <abbr title="HyperText Markup Language">HTML</abbr>
                                            tags and attributes: <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code>
                                        </p>
                                    </div>
                                    <!-- /.col-sm-8 -->

                                    <div class="col-sm-4">
                                        <button class="btn btn-primary btn-block"
                                            ng-click="vm.onCommentSubmit()">
                                            <i class="fa fa-paper-plane"></i>Submit</button>
                                    </div>
                                    <!-- /.col-sm-4 -->

                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.review -->

                    </div>
                    <!-- /.reviews -->

                </div>
                <!-- /.col-sm-7 -->

                <div class="col-sm-3">

                    <!-- <div class="background-white p20">
									<div class="detail-overview-hearts">
										<i class="fa fa-heart"></i> <strong>213 </strong>people love it
									</div>
									<div class="detail-overview-rating">
										<i class="fa fa-star"></i> <strong>4.3 / 5 </strong>from <a href="./listing-detail.html#reviews">316 reviews</a>
									</div>

									 <div class="detail-actions row">
										<div class="col-sm-4">
											<div class="btn btn-primary btn-book"><i class="fa fa-shopping-cart"></i> Book Now</div>
										</div>
										<div class="col-sm-4">
											<div class="btn btn-secondary btn-share"><i class="fa fa-share-square-o"></i> Share
												<div class="share-wrapper">
													<ul class="share">
														<li><i class="fa fa-facebook"></i> Facebook</li>
														<li><i class="fa fa-twitter"></i> Twitter</li>
														<li><i class="fa fa-google-plus"></i> Google+</li>
														<li><i class="fa fa-pinterest"></i> Pinterest</li>
														<li><i class="fa fa-chain"></i> Link</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="btn btn-secondary btn-claim"><i class="fa fa-hand-peace-o"></i> Claim</div>
										</div>
									</div>
								</div> -->

                    <div class="pricing">
                        <div class="pricing-title">
                            I am <span class="text-secondary">{{::vm.Post.Owner.Name}}</span>
                        </div>
                        <!-- /.pricing-title -->
                        <div class="text-center">
                            <img src="./assets/img/user.jpg" style="border-radius: 50%; border: 2px solid #bdbdbd; padding: 2px; width: 120px">
                        </div>
                        <!-- <div class="pricing-price"><span class="pricing-currency">$</span>10.59 <span class="pricing-period">/ month</span></div> -->
                        <ul class="pricing-list mt15">
                            <li><span>Legit Ratio</span>
                                <p class="review-overall-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </p>
                                <!-- /.review-rating -->
                            </li>
                            <li><span>From</span>{{::vm.Post.Owner.City.Name}}, {{::vm.Post.Owner.Country.Name}}</li>
                            <li><span>Contact me at</span> {{::vm.Post.Owner.Email}}</li>
                            <li><a href="#!" class="btn-lg btn-success">{{::vm.Post.Owner.Mobile}}</a>
                            </li>
                        </ul>
                        <!-- /.pricing-list -->

                    </div>
                    <!-- /.pricing -->

                    <!-- <div class="background-white p20">
									<h3 class="text-center">I am <span class="text-secondary">Sofia Cole</span></h3>
									<div class="text-center">
										<img src="./assets/user.jpg" style="border-radius:50%;border:2px solid #bdbdbd;padding:2px;width:120px">
									</div>
									<div class="mt15">
										<div class=" text-center">
											<span style="color:rgba(54, 54, 54, 0.6);">From</span><br>
											<h5>5234 Groveland Terrace</h5>
											<span style="color:rgba(54, 54, 54, 0.6);">Contact me at</span><br>
											<h5>sofia.cole53@example.com</h5>

											<div style="padding-top:10px">
												<a href=""class="btn-lg btn-success">(106)-282-91233</a>
											</div>

										</div>

									</div>
								</div> -->

                    <!-- <div class="col-sm-12 col-sm-offset-2 mt15">
										<div class="btn btn-secondary btn-share"><i class="fa fa-share"></i> Share this page
												<div class="share-wrapper">
														<ul class="share">
																<li><i class="fa fa-facebook"></i> Facebook</li>
																<li><i class="fa fa-twitter"></i> Twitter</li>
																<li><i class="fa fa-google-plus"></i> Google+</li>
																<li><i class="fa fa-pinterest"></i> Pinterest</li>
																<li><i class="fa fa-chain"></i> Link</li>
														</ul>
												</div>
										</div>
								</div> -->

                </div>
                <!-- /.col-sm-5 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content -->
</div>
<!--<h2>Post
</h2>
<table border="1" width="1000px" height="auto">
    <tr>
        <th>Post Details</th>
        <th>POC</th>
    </tr>
    <tr>
        <td>
            <h5>What are you looking for?</h5>
            {{::vm.Post.Title}}
            <h5>Choose a category : </h5>
            {{::vm.Post.Category.Name}}
            <h5>Choose a sub-category : </h5>
            {{::vm.Post.SubCategory.Name}}
            <h5>Urgency : </h5>
            {{::(vm.Post.Urgency==1?"Casual":"Urgent")}}
            <h5>Budget Range</h5>
            {{::vm.Post.BudgetRangeMin}}  to  {{::vm.Post.BudgetRangeMax}}
            <h5>Post Link</h5>
            http://searchingfor.co/Post/{{::vm.Post.LinkPostfix}}
            <h5>Details</h5>
            {{::vm.Post.Description}}
            <h5>Transaction Description</h5>
            {{::vm.Post.OtherDescription}}
        </td>
        <td>
            <h5>Name :</h5>
            {{::vm.Post.Owner.Name}}
            <h5>Email Address</h5>
            {{::vm.Post.Owner.Email}}
            <h5>Mobile Number</h5>
            {{::vm.Post.Owner.Mobile}}
            <h5>Country</h5>
            {{::vm.Post.Owner.Country.Name}}
            <h5>City</h5>
            {{::vm.Post.Owner.City.Name}}
        </td>
    </tr>
</table>

<h2>Comments:</h2>
<br />
<ul>
    <li ng-repeat="comment in vm.Comments">
        <h6>Will Sell you for </h6>
        {{::comment.OtherDescription}}
        <h6>Description</h6>
        {{::comment.Description}}
        <h6>Name</h6>
        {{::comment.User.Name}}
        <h6>Email</h6>
        {{::comment.User.Email}}
        <h6>Mobile</h6>
        {{::comment.User.Mobile}}
    </li>
</ul>
<label>Will Sell you for </label>
<input ng-model="vm.Comment.OtherDescription" class="form-control" /><br />
<label>Description</label>
<input ng-model="vm.Comment.Description" class="form-control" /><br />
<label>Name</label>
<input ng-model="vm.Comment.User.Name" class="form-control" /><br />
<label>Email</label>
<input ng-model="vm.Comment.User.Email" class="form-control" /><br />
<label>Mobile</label>
<input ng-model="vm.Comment.User.Mobile" class="form-control" /><br />
<input type="button" value="Reply" ng-click="vm.onCommentSubmit()" />-->
