﻿<!-- main -->
<section id="ad-post" class="clearfix details-page">
    <div class="container">
        <button class="btn btn-primary" ng-if="vm.IsOwner() && vm.Post" ng-click="vm.EditPost(vm.Post)">Edit</button>
        <div class="section slider">
            <div class="row">
                <!-- carousel -->
                <div class="col-md-7">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#product-carousel" data-slide-to="0"
                                ng-repeat="image in vm.Post.ImageUrlList">
                                <img ng-src="{{::image}}" ng-click="vm.SelectImage(image);" alt="Carousel Thumb" class="img-responsive">
                            </li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <!-- item -->
                            <div class="item active">
                                <div class="carousel-image" style="cursor: pointer" ng-click="vm.OpenLightboxModal(vm.index,vm.Post.ImageUrlList)">
                                    <!--image-wrapper-->
                                    <img ng-if="!vm.PrimaryImage"
                                        ng-src="{{vm.Util.GetPostPrimaryImageLink(vm.Post)}}" alt="Featured Image" class="img-responsive">

                                    <img ng-if="vm.PrimaryImage"
                                        ng-src="{{vm.PrimaryImage}}" alt="Featured Image" class="img-responsive">
                                </div>
                            </div>
                            <!-- item -->
                        </div>
                        <!-- carousel-inner -->

                        <!-- Controls -->
                        <div ng-if="vm.PrimaryImage && vm.Post.ImageUrlList.length>1">
                            <a class="left carousel-control" role="button"
                                ng-click="vm.PrevImage()">
                                <i class="bi_interface-left"></i>
                            </a>
                            <a class="right carousel-control" role="button"
                                ng-click="vm.NextImage()">
                                <i class="bi_interface-right"></i>
                            </a>
                        </div>
                        <!-- Controls -->
                    </div>
                </div>
                <!-- Controls -->

                <!-- slider-text -->
                <div class="col-md-5">

                    <div class="slider-text">
                        <h3 ng-repeat="category in vm.Post.CategoryNames"><span class="larger" ng-if="!$first">></span> {{::category}}</h3>
                        <h2>₱{{::vm.Post.BudgetMin}}~₱{{::vm.Post.BudgetMax}}</h2>
                        <h3 class="title">{{vm.Post.Title}}</h3>
                        <p>
                            <span>Posted by: <a ng-href="Profile/{{vm.Post.Owner.ID}}">{{::vm.Post.Owner.Name}}</a></span>
                            <span>Ad ID:<span class="time">{{::vm.Post.ID}}</span></span>
                        </p>
                        <span class="icon"><i class="bi_time-calendar-a"></i>{{::vm.Post.ModifiedOn | date:'medium'}}</span>
                        <span class="icon"><i class="bi_location-pin-map"></i><a>{{::vm.Post.Owner.City.Name}}, {{::vm.Post.Owner.Country.Name}}</a></span>
                        <span class="icon"><i class="bi_interface-target"></i><a>{{::vm.Post.DisplayUrgency}}</a></span>

                        <!-- short-info -->
                        <div class="short-info">
                            <h4>Short Info</h4>
                            <p ng-if="vm.Post.Types"><strong>Type: </strong><a>{{vm.Post.Types}}</a> </p>
                            <p><strong>Category: </strong><a>{{vm.Post.Category.CategoryNames}}</a> </p>
                        </div>
                        <!-- short-info -->

                        <!-- contact-with -->
                        <div class="contact-with">
                            <h4>Contact with </h4>
                            <span class="btn btn-red show-number"
                                ng-if="::vm.Post.Owner.Mobile">
                                <i class="bi_tool-mobile"></i>
                                <span ng-click="show = true">{{((show == true || show)?(vm.Post.Owner.Mobile):('Click to show phone number'))}}</span>
                                <span class=""></span>
                            </span>
                            <a ng-click="vm.Goto('makeanoffersection')" class="btn"><i class="bi_com-bubble-line-a"></i>{{vm.TextModifierService.ButtonText(vm.Post.Category)}}</a>
                        </div>
                        <!-- contact-with -->

                        <!-- social-links -->
                        <div class="social-links">
                            <h4>Share this ad</h4>
                            <ul class="list-inline">
                                <li><a href="#!">
                                    <img src="./assets/img/facebook-logo.svg" width="30"></a></li>
                                <li><a href="#!">
                                    <img src="./assets/img/twitter-logo.svg" width="30"></a></li>
                            </ul>
                        </div>
                        <!-- social-links -->
                    </div>
                </div>
                <!-- slider-text -->
            </div>
        </div>
        <!-- slider -->

        <div class="description-info">
            <div class="row">
                <!-- description -->
                <div class="col-md-8">
                    <div class="description">
                        <h4>{{vm.TextModifierService.DescriptionLabel(vm.Post.Category)}}</h4>
                        <p>{{::vm.Post.Description}} </p>
                        <br>
                        <p>{{::vm.Post.OtherDescription}}</p>
                    </div>
                </div>
                <!-- description -->

                <!-- description-short-info -->
                <div class="col-md-4">
                    <div class="short-info">
                        <h4>Short Info</h4>
                        <!-- social-icon -->
                        <ul>
                            <!--<li><i class="bi_ecommerce-pack"></i><a href="#">Delivery: Meet in person</a></li>-->
                            <li><i class="bi_user-male"></i><a ng-href="Profile/{{vm.Post.Owner.ID}}">More Ads by <span class="colore">{{::vm.Post.Owner.Name}}</span></a></li>
                            <li><i class="bi_interface-view"></i><a href="#">Views: <span class="colore">1020</span></a></li>
                            <li><i class="bi_interface-heart"></i><a href="#">Add as Favorite</a></li>
                            <li><i class="bi_web-report-a"></i><a href="#">Report this ad</a></li>
                        </ul>
                        <!-- social-icon -->
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- description-info -->

        <div class="recommended-info">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="section recommended-ads" id="comments">
                        <div class="featured-top">
                            <h4>Inquires</h4>
                        </div>
                        <!--no reply yet sign-->
                        <div class="ad-item row" ng-if="vm.Comments.List.length<=0">
                            <div class=" col-sm-12">
                                <div class="ad-info">
                                    No reply yet.
                                </div>
                            </div>
                        </div>
                        <!-- Replies -->
                        <div class="ad-item row" dir-paginate="comment in vm.Comments.List | itemsPerPage: vm.Pagination.PageSize"
                            total-items="vm.Comments.Count"
                            current-page="vm.Pagination.Current">
                            <div class="item-info col-sm-12">
                                <!-- ad-info -->
                                <div class="ad-info">
                                    <h3 class="item-price"><span>Offer:</span> ₱{{::comment.OtherDescription}}
                                       <!-- <span class="pull-right reply"><a href="#!"><i class="bi_interface-reply"></i>Reply</a></span>-->
                                    </h3>
                                    <h4 class="item-title"><a href="my-profile.html">{{::comment.User.Name?comment.User.Name:comment.Name}}</a>
                                        <span>{{::(comment.User.Mobile?comment.User.Mobile:comment.Mobile)}}, {{::comment.User.Email?comment.User.Email:comment.Email}}</span>
                                    </h4>
                                    <br>
                                    <br>
                                    <div style="line-height: 24px">
                                        {{::comment.Description}}
                  		                <div class="row margin-top-20" ng-if="comment.ImageUrlList">
                                              <div class="col-xs-4">
                                                  <!--<a class="thumbnail fancybox" rel="ligthbox" ng-repeat="image in comment.ImageUrlList"
                                                      ng-click="vm.OpenLightboxModal($index,comment.ImageUrlList)">
                                                      <img class="img-responsive"
                                                          alt="" ng-src="{{image}}" />
                                                  </a>-->
                                                  <a class="thumbnail" ng-repeat="image in comment.ImageUrlList"
                                                      ng-click="vm.OpenLightboxModal($index,comment.ImageUrlList)">
                                                      <img class="img-responsive"
                                                          alt="" ng-src="{{image}}" />
                                                  </a>
                                              </div>
                                          </div>
                                        <!-- list-group / end -->
                                    </div>
                                </div>
                                <!-- ad-info -->
                            </div>
                            <!-- item-info -->
                        </div>

                        <div class="col-xs-12" ng-if="vm.Comments.List.length>0">
                            <div class="text-center">
                                <dir-pagination-controls
                                    class="pagination"
                                    max-size="10"
                                    on-page-change="vm.SearchComments(newPageNumber, oldPageNumber)"
                                    auto-hide="true">
                                 </dir-pagination-controls>
                            </div>
                            <!-- ad-item -->

                        </div>
                    </div>
                    <!-- recommended-ads -->
                </div>
                <!-- row -->
            </div>

            <div class="recommended-info margin">
                <div class="row">
                    <form name="commentForm" class="col-sm-12 col-md-8">
                        <div class="section recommended-ads">
                            <div class="featured-top" id="makeanoffersection">
                                <h4>{{vm.TextModifierService.ButtonText(vm.Post.Category)}}</h4>
                            </div>
                            <!-- offer -->
                            <div class="row form-group select-price">
                                <label class="col-sm-2 label-offer label-title">Price<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <label class="label-offer">₱ (Philippine Peso)</label>
                                    <input type="number" ng-model="vm.Comment.OtherDescription"
                                        class="form-control validation" placeholder="Amount" required>
                                    <!-- <input type="radio" name="price" value="negotiable" id="negotiable">
                                <label for="negotiable">Negotiable </label>-->
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-2 label-title label-offer">Full Name<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text"
                                        ng-model="vm.Comment.Name"
                                        ng-disabled="vm.Auth.IsAuthenticated"
                                        class="form-control validation" id="text" placeholder="ex: John Doe" required>
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-2 label-title label-offer">Contact No.<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text"
                                        class="form-control validation"
                                        ng-model="vm.Comment.Mobile"
                                        ng-disabled="vm.Auth.IsAuthenticated"
                                        id="text1" placeholder="Mobile" required>
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-2 label-title label-offer">E-mail<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control validation"
                                        ng-model="vm.Comment.Email"
                                        ng-disabled="vm.Auth.IsAuthenticated"
                                        id="text2" placeholder="you@example.com" required>
                                </div>
                            </div>
                            <!--Upload Image-->
                            <div class="row form-group add-title"
                                ng-if="vm.Auth.IsAuthenticated">
                                <label class="col-sm-2 label-title label-offer">Photos </label>
                                <div class="col-sm-9 margin-top-8">
                                    <div class="row form-group add-image"
                                        ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                        <div class="col-sm-9">
                                            <h5><i class="bi_media-image" aria-hidden="true"></i>Select Images to Upload <span>You can add 3 images. (png, jpeg, and  jpg files only)</span></h5>
                                            <div class="upload-section">
                                                <div ng-repeat="file in vm.TempComment.Images">
                                                    <label class="delete-image" ng-click="vm.RemoveCommentFile(file)">
                                                        <img ngf-thumbnail="file" class="thumb" style="width: auto; height: 100px; margin-bottom: 30%">
                                                    </label>
                                                </div>
                                                <label class="upload-image" for="upload-image-one" ng-if="vm.TempComment.Images.length < 3 || !vm.TempComment.Images">
                                                    <input type="file" id="upload-image-one"
                                                        ngf-select="vm.AddCommentFiles(vm.Files)"
                                                        ng-model="vm.Files"
                                                        name="file"
                                                        accept="image/jpeg,image/png"
                                                        ngf-max-size="3MB"
                                                        ngf-model-invalid="vm.Details.errorFile">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group add-title"
                                ng-if="!vm.Auth.IsAuthenticated">
                                <label class="col-sm-2 label-title label-offer">Photos</label>
                                <div class="col-sm-9 margin-top-8">
                                    <i class="bi_interface-warning"></i><a href="Login">Login</a> / <a href="Signup">Register</a> to unlock this feature
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-2 label-title label-offer">Description<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <textarea type="text" rows="4" class="form-control validation"
                                        ng-model="vm.Comment.Description"
                                        placeholder="Briefly describe your offer"
                                        maxlength="300"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-2 label-title label-offer"></label>
                                <div class="col-sm-9">
                                    Google reCaptcha goes here
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-2 label-title label-offer"></label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <!--<label for="sendalerts">
                                        <input type="checkbox" name="sendalerts" id="sendalerts">
                                        Send me Email/SMS Alerts if buyer responded to my Ad.
                                    </label>-->
                                        <label>
                                            <input type="checkbox" ng-model="agreed" required />
                                            By clicking "Submit Offer", you agree to our <a href="terms-conditions.html">Terms &amp; Conditions</a> and <a href="privacy-policy.html">Privacy Policy</a>
                                        </label>

                                        <div class="margin-top-20">
                                            <button type="button" ng-click="vm.SubmitComment()"
                                                ng-disabled="commentForm.$invalid || vm.Processing"
                                                class="btn btn-primary">
                                                Submit Offer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--ad placement-->
                        <div class="section recommended-ads margin-top-20">
                            <img src="./assets/img/ad-placeholder-long.png">
                        </div>

                    </form>
                    <!-- col -->

                </div>
            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</section>
<!-- main -->
