﻿<!--<div ng-form="Posting">
    <label>What are you looking for?</label><br />
    <input ng-model="posting.Title" class="form-control" />
    <br />
    <label>Choose a category</label><br />
    <select ng-model="posting.CategoryObject"
        ng-options="categories.Name for categories in vm.Categories">
    </select>
    <br />
    <label>Choose a sub-category</label><br />
    <select ng-model="posting.CategoryObject.Sub"
        ng-options="subcategory.Name for subcategory in posting.CategoryObject.Subs">
    </select>
    <br />
    <div ng-show="posting.CategoryObject.Sub.Subs.length > 0">
        <label>Choose a Sub Category</label><br />
        <select ng-model="posting.CategoryObject.Sub.Sub"
            ng-options="subcategory.Name for subcategory in posting.CategoryObject.Sub.Subs">
        </select>
    </div>
    <br />
    <label>Urgency</label><br />
    <select ng-model="posting.Urgency">
        <option value="1">Casual</option>
        <option value="99">Urgent</option>
    </select>
    <br />
    <label>Budget Range</label><br />
    <input ng-model="posting.BudgetRangeMin" class="form-control" /><br />
    <input ng-model="posting.BudgetRangeMax" class="form-control" /><br />

    <label>Post Link</label><br />
    <input ng-model="posting.LinkPostfix" class="form-control" /><br />
    <label>Details</label><br />
    <input ng-model="posting.Description" class="form-control" /><br />
    <label>Transaction Description</label><br />
    <input ng-model="posting.OtherDescription" class="form-control" /><br />

    <div ng-if="!vm.IfLoggedIn()">
        <br />
        <br />
        <br />
        If Not Yet Registered:
    <br />
        <br />
        <label>Name</label><br />
        <input ng-model="posting.Owner.Name" class="form-control" /><br />
        <label>Password</label><br />
        <input ng-model="posting.Owner.Hash" class="form-control" /><br />
        <input ng-model="posting.Owner.Hash" class="form-control" /><br />
        <label>Email Address</label><br />
        <input ng-model="posting.Owner.Email" class="form-control" /><br />
        <label>Mobile</label><br />
        <input ng-model="posting.Owner.Mobile" class="form-control" /><br />
        <label>Country</label><br />
        <select class="form-control" ng-model="posting.Owner.Country"
            ng-options="categories.Name for categories in vm.Countries">
        </select>
        <br />
        <label>City</label><br />
        <select class="form-control" ng-model="posting.Owner.City"
            ng-options="categories.Name for categories in posting.Owner.Country.Subs">
        </select>
        <br />
    </div>

    <button ng-click="vm.onSubmit(posting)">Submit Post</button>
</div>-->

<div class="main-inner">
    <div class="content">
        <div class="container">
            <div class="row detail-content">
                <div class="col-xs-12 col-md-offset-2 col-md-8">

                    <div class="mt15">
                        <div class="statusbox">
                            <h3>Post an Ad</h3>
                            <div class="form-group">
                                <label>What are you looking for? <span class="required">*</span></label>
                                <input class="form-control"
                                    ng-model="posting.Title"
                                    type="text" placeholder="">
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Choose Category <span class="required">*</span></label>
                                        <select ng-model="posting.CategoryObject"
                                            class="form-control"
                                            ng-options="categories.Name for categories in vm.Categories">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-if="posting.CategoryObject.Subs.length>0">
                                    <div class="form-group">
                                        <label>Choose a Sub-category <span class="required">*</span></label>
                                        <select class="form-control"
                                            ng-model="posting.CategoryObject.Sub"
                                            ng-options="subcategory.Name for subcategory in posting.CategoryObject.Subs">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-if="posting.CategoryObject.Sub.Subs.length>0">
                                    <div class="form-group">
                                        <label>Choose Specific Category <span class="required">*</span></label>
                                        <select class="form-control"
                                            ng-model="posting.CategoryObject.Sub.Sub"
                                            ng-options="subcategory.Name for subcategory in posting.CategoryObject.Sub.Subs">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Urgency</label>
                                        <select class="form-control" ng-model="posting.Urgency">
                                            <option value="1">ASAP</option>
                                            <option value="2">Within a week</option>
                                            <option value="3">Within 2 weeks</option>
                                            <option value="4">Within a month</option>
                                            <option value="5">A month from now</option>
                                            <option value="6">Whenever</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Link Shortcut example: <span style="font-style: italic">www.searchingfor.co/post/<span style="color: red">EXAMPLE</span></span></label>
                                        <input class="form-control"
                                            ng-model="posting.LinkPostfix"
                                            type="text" placeholder="www.searchingfor.co/post/">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Budget <span class="required">*</span></label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>From</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><b>₱</b></span>
                                                <input class="form-control"
                                                    ng-model="posting.BudgetRangeMin"
                                                    type="text" placeholder="Amount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>To</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><b>₱</b></span>
                                                <input class="form-control"
                                                    ng-model="posting.BudgetRangeMax"
                                                    type="text" placeholder="Amount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control"
                                    ng-model="posting.Description" placeholder="add more information or describe your demand for the product/service" rows="8"></textarea>
                                </div>
                             <div class="form-group">
                                <label>Transaction Description</label>
                                <textarea class="form-control"
                                    ng-model="posting.OtherDescription"
                                    placeholder="describe your transaction. (when/where/how)" rows="2"></textarea>
                            </div>

                            <div ng-if="!vm.IfLoggedIn()">
                                <hr />
                                <h3>If Not Yet Registered:</h3>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input ng-model="posting.Owner.Name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Password <span class="required">*</span></label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control"
                                                    ng-model="posting.Owner.Password"
                                                    type="text" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control"
                                                    ng-model="posting.Owner.Password2"
                                                    type="text" placeholder="Confirm Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email Address</label>
                                                <input ng-model="posting.Owner.Email"
                                                    type="email"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Mobile</label>
                                                <input ng-model="posting.Owner.Mobile" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="form-control" ng-model="posting.Owner.Country"
                                                    ng-options="categories.Name for categories in vm.Countries">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" ng-if="posting.Owner.Country.Subs.length>0">
                                            <div class="form-group">
                                                <label>City</label>
                                                <select class="form-control" ng-model="posting.Owner.City"
                                                    ng-options="categories.Name for categories in posting.Owner.Country.Subs">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="row">
                                <div class="col-xs-12">
                                    <input type="file">
                                    <a class="view-more" href="#!">Add more...</a>
                                </div>
                            </div>-->
                            </div>
                            <div class="form-group">
                                <label>Required fields are marked <span class="required">*</span></label>
                            </div>
                            <div class="text-right">
                                <button ng-click="vm.onSubmit(posting)" class="btn btn-primary w175">Post Ad</button>
                            </div>
                            <!-- /.statusbox -->
</div>
</div>
                    <!-- /.col-sm-7 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-inner -->
