﻿<!-- post-page -->
<section id="main" class="clearfix ad-post-page" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="container">

        <div class="breadcrumb-section" id="start">
            <h2>Post an Ad in just <span>30 seconds</span> for FREE - UNLIMITED</h2>
            <p>Post about what you want to BUY or a SERVICE you want to avail</p>
        </div>
        <!-- banner -->
        <div>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h4>Selected Category:</h4>
                    <div class="form-group selected-product">
                        <ul class="select-category list-inline">
                            <li ng-repeat-start="Name in vm.Selected.CategoryNames"
                                ng-if="!$last">
                                <a>{{Name}}
                                </a>
                            </li>
                            <li ng-repeat-end class="active"
                                ng-if="$last">
                                <a>{{Name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--category-->
            <div class="row category-tab">
                <div id="category" class="col-md-4 col-sm-6"
                    ng-repeat="categories in vm.Selection.CategoriesArray">
                    <div class="section cat-option select-category post-option"
                        ng-attr-id="category{{$index+1}}">
                        <h4>Select A Category</h4>
                        <ul role="tablist">
                            <a ng-repeat="category in categories"
                                style="cursor: pointer"
                                aria-controls="cat1" role="tab" data-toggle="tab"
                                ng-click="vm.ShowChildren(category)"
                                ng-class="vm.UnderlineCategory(category)">
                                <li>{{::category.Name}}</li>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div id="postit" class="section next-stap post-option">
                        <h2>Please Select a Category To Proceed</h2>
                        <p>Please DO NOT post multiple ads for the same items or service. All duplicate, spam and wrongly categorized ads will be deleted.</p>
                        <h5 style="text-decoration: underline">Selected Category</h5>
                        <span ng-if="vm.Selected.CategoryNames.length<=0">none</span>
                        <span ng-if="vm.Selected.CategoryNames.length>0">
                            <span ng-bind-html="vm.SelectedCategoryShowStringhHtml()"></span>
                        </span>
                        <div class="btn-section">
                            <button class="btn"
                                ng-disabled="!vm.EnableNext"
                                ng-click="vm.Next()">
                                Next</button>
                            <a ng-click="vm.CancelSelection()"
                                class="btn-info">Cancel</a>
                        </div>
                    </div>
                </div>
                <!-- next-stap -->
            </div>
        </div>
    </div>
    <!-- container -->
</section>
<!-- post-page -->
