﻿<div class="main-inner">
    <div class="content">
        <div class="container">

            <div class="document-title">
            </div>

            <div class="col-xs-12">
                <div class="filter">
                    <div class="row">
                        <form ng-submit="vm.GetPosts()" class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label style="cursor: default;">Title</label>
                                <input type="text"
                                    ng-model="vm.SearchTemp.Title"
                                    placeholder="Searching For..." class="form-control">
                            </div>
                        </form>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <!--<select class="selectpicker" title="Select Location" data-live-search="true">
                                    <option>Metro Manila - Makati</option>
                                    <option>Metro Manila - Pasay</option>
                                </select>-->
                                <!--<ui-select ng-model="vm.CurrentList.Country">
                                    <ui-select-match placeholder="Choose Country">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in (vm.Countries | filter: $select.search) track by item.id">
                                      <span ng-bind-html="item.Name"></span>
                                    </ui-select-choices>
                                  </ui-select>-->

                                <!--<label>Country</label>
                                <select class="form-control"
                                    ng-model="vm.CurrentList.Country"
                                    ng-options="category as category.Name for category in vm.Countries track by category.ID">
                                </select>
                                <div ng-if="vm.CurrentList.Country.Subs.length>0">
                                    <label>City</label>
                                    <select class="form-control"
                                        ng-model="vm.CurrentList.City"
                                        ng-options="category as category.Name for category in vm.CurrentList.Country.Subs track by category.ID">
                                    </select>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label style="cursor: default;">Category</label>
                                <select id="categorySelect"
                                    class="form-control"
                                    style="cursor: pointer;"
                                    ng-model="vm.CurrentList.Category"
                                    ng-change="vm.SelectCategory()"
                                    ng-options="category as category.Name for category in vm.Categories track by category.ID">
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <!--<div class="col-sm-8">
                            <div class="filter-actions" ng-if="vm.SearchTemp">
                                <a ng-click="vm.RemoveFilters()"><i class="fa fa-close"></i>Reset Filter</a>
                            </div>
                        </div>-->
                        <!--<div class="col-sm-4">
                            <input type="button"
                                ng-click="vm.GetPosts()" class="btn btn-primary" value="Search" />
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3">
                <div class="sidebar">
                    <div class="widget">
                        <h2 id="selectedCategory" ng-if="vm.CurrentList.SubCategory.Name"
                            class="widgettitle">Selected : {{vm.CurrentList.SubCategory.Name}} ({{vm.CurrentList.SubCategory.Count?vm.CurrentList.SubCategory.Count:0}})</h2>
                        <h2 id="H1" ng-if="!vm.CurrentList.SubCategory.Name"
                            class="widgettitle">No Subcategory Selected</h2>
                        <ul class="menu" ng-repeat="specific in vm.CurrentList.SubCategory.Subs">
                            <li>
                                <a ng-class="vm.SelectedSpecificCategoryCss(specific)"
                                    ng-click="vm.SelectSpecificCategory(specific)">{{specific.Name}} <span>({{specific.Count?specific.Count:0}})</span></a>
                            </li>
                        </ul>
                    </div>
                    <a class="view-more" ng-if="vm.CurrentList.Category" ng-click="vm.showsubs=!vm.showsubs">{{(!vm.showsubs)?'View more Categories':'Hide Categories'}}</a>

                    <div ng-if="vm.showsubs" ng-repeat="sub in vm.CurrentList.Category.Subs">
                        <h2 class="widgettitle2"
                            ng-click="vm.SelectSubCategory(sub)">{{::sub.Name}} ({{sub.Count?sub.Count:0}})</h2>
                    </div>

                    <div class="widget">
                        <h2 class="widgettitle">Filters</h2>
                        <div class="filter-actions" ng-if="vm.SearchTemp">
                            <a ng-click="vm.RemoveFilters()"><i class="fa fa-close"></i>Reset Filter</a>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control"
                                style="cursor: pointer;"
                                ng-model="vm.CurrentList.Country"
                                ng-options="category as category.Name for category in vm.Countries track by category.ID">
                            </select>
                        </div>
                        <div class="form-group" ng-if="vm.CurrentList.Country.Subs.length>0">
                            <label>City</label>
                            <select class="form-control"
                                style="cursor: pointer;"
                                ng-model="vm.CurrentList.City"
                                ng-options="category as category.Name for category in vm.CurrentList.Country.Subs track by category.ID">
                            </select>
                        </div>
                        <label>Urgency</label>
                        <select class="form-control" ng-model="vm.SearchTemp.Urgency">
                            <option value="1">ASAP</option>
                            <option value="2">Within a week</option>
                            <option value="3">Within 2 weeks</option>
                            <option value="4">Within a month</option>
                            <option value="5">A month from now</option>
                            <option value="6">Whenever</option>
                        </select>
                        <label>Budget</label>
                        <input type="number"
                            ng-model="vm.SearchTemp.BudgetRangeMin"
                            ng-change="vm.OnBudgetRangeMaxChange()"
                            class="form-control" />
                        <center>to</center>
                        <input type="number"
                            ng-model="vm.SearchTemp.BudgetRangeMax"
                            ng-change="vm.OnBudgetRangeMaxChange()"
                            class="form-control" />
                        <br />
                        <input type="button"
                            ng-click="vm.GetPosts()" class="btn btn-primary" value="Search" />
                    </div>
                    <!--<div class="widget">
                        <h2 class="widgettitle">Brands</h2>
                        <ul class="filter-brands">
                            <li class="checkbox">
                                <input type="checkbox" id="ikea">
                                <label for="ikea">Ikea (79)</label>
                            </li>
                            <li class="checkbox">
                                <input type="checkbox" id="blackndecker">
                                <label for="blackndecker">I-Home (6)</label>
                            </li>
                            <li class="checkbox">
                                <input type="checkbox" id="potterybarn">
                                <label for="potterybarn">Pottery Barn (16)</label>
                            </li>
                        </ul>
                        <a class="view-more" href="#!">View more brands</a>
                    </div>-->

                </div>

            </div>
            <!-- /.col-* -->

            <div class="col-sm-8 col-lg-9">
                <div class="content">

                    <h2 class="page-title f15">{{vm.Pageing.Total}} results matching your query

                    <div class="filter-sort">
                        <div class="form-group w175">
                            <select
                                style="cursor: pointer;"
                                class="form-control"
                                ng-init="vm.SearchTemp.SortBy =''"
                                ng-change="vm.GetPosts()"
                                title="Sort By" ng-model="vm.SearchTemp.SortBy">
                                <option value="">Latest</option>
                                <option value="budgetasc">Budget - Low to High</option>
                                <option value="budgetdesc">Budget - High to Low</option>
                            </select>
                        </div>
                    </div>
                        <div class="filter-sort">
                            <div class="form-group">
                                <select ng-init="vm.Pageing.PageSize = 15"
                                    style="cursor: pointer;"
                                    class="form-control"
                                    ng-change="vm.GetPosts()"
                                    ng-model="vm.Pageing.PageSize">
                                    <option value="6" ng-selected="vm.Pageing.PageSize==6">6</option>
                                    <option value="9" ng-selected="vm.Pageing.PageSize==9">9</option>
                                    <option value="12" ng-selected="vm.Pageing.PageSize==12">12</option>
                                    <option value="15" ng-selected="vm.Pageing.PageSize==15">15</option>
                                    <option value="18" ng-selected="vm.Pageing.PageSize==18">18</option>
                                </select>
                            </div>
                        </div>
                    </h2>

                    <div class="cards-simple-wrapper">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4"
                                ng-repeat="post in vm.Posts">
                                <div class="listing-box">
                                    <div class="listing-box-image" style="background-image: url('./assets/img/listing-3.jpg')">
                                        <div class="listing-box-image-label">Featured</div>
                                    </div>

                                    <div class="listing-box-title">
                                        <h2>
                                            <a ng-if="::post.LinkPostfix" ng-href="#/Post/{{::post.LinkPostfix}}">{{::post.Title}}</a>
                                            <a ng-if="::(!post.LinkPostfix)" ng-href="#/Post/{{::post.ID}}">{{::post.Title}}</a>
                                        </h2>
                                    </div>

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>This is a </dt>
                                            <dd>{{::post.SubCategory.Name}} <span ng-if="::post.SpecificCategory.Name">> {{::post.SpecificCategory.Name}} </span></dd>
                                            <dt>Budget</dt>
                                            <dd>{{::post.BudgetRangeMin}} - {{::post.BudgetRangeMax}}</dd>
                                            <dt>Location</dt>
                                            <dd>{{::post.Owner.City.Name}}, {{::post.Owner.Country.Name}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-sm-6 col-lg-4">
                                <div class="listing-box">
                                    <div class="listing-box-image" style="background-image: url('./assets/img/listing-2.jpg')">
                                    </div>

                                    <div class="listing-box-title">
                                        <h2><a href="post.html">Ikea Billy White Table</a></h2>
                                    </div>

                                    <div class="listing-box-content">
                                        <dl>
                                            <dt>This is a </dt>
                                            <dd>Furniture</dd>
                                            <dt>Budget</dt>
                                            <dd>₱ 6,000</dd>
                                            <dt>Location</dt>
                                            <dd>Pasay, Metro Manila</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>

                    <!-- /.cards-row -->
                    <div class="pager" ng-if="vm.ShowPagination()">
                        <ul>
                            <li ng-if="vm.PrevPage()">
                                <a ng-click="vm.GetPosts()">&laquo;</a>
                            </li>
                            <li ng-if="vm.PrevPage()">
                                <a ng-click="vm.GetPosts(vm.PrevPage())">{{vm.PrevPage()}}</a>
                            </li>
                            <li class="active">
                                <a ng-click="vm.GetPosts(vm.CurrentPage())">{{vm.CurrentPage()}}</a>
                            </li>

                            <li ng-if="vm.ShowNextPageButton()">
                                <a ng-click="vm.GetPosts(vm.NextPage())">{{vm.NextPage()}}</a>
                            </li>
                            <li ng-if="vm.ShowNextPageButton()">
                                <a ng-click="vm.GetPosts(vm.LastPage())">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.pagination -->

                </div>
                <!-- /.content -->
            </div>
            <!-- /.col-* -->



            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
