﻿<!-- main -->
<section id="ad-post" class="clearfix details-page">
    <div class="container ads-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="section slider">
                    <div class="row">
                        <!-- slider-text -->
                        <div class="col-sm-12">
                            <div ng-if="vm.FromDashboard" class="alert alert-success text-center" role="alert">
                                Thank you! we will make sure sellers/service providers will see this!
                                If you want to provide more detail. click "Edit Post" Button
                            </div>
                            <div class="form-group selected-product">
                                <ul class="select-category list-inline">
                                    <li ng-repeat-start="Name in vm.Post.CategoryNames"
                                        ng-if="!$last">
                                        <a>{{Name}}
                                        </a>
                                    </li>
                                    <li ng-repeat-end class="active"
                                        ng-if="$last">
                                        <a>{{Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">

                            <div class="slider-text">
                                <h6>{{::vm.TextModifierService.RequestText(vm.Post)}} in ({{::vm.Post.DisplayLocation}})</h6>
                                <h3 class="title">{{::vm.Post.Title}}</h3>
                                <h2>{{vm.TextModifierService.AmountLabel(vm.Post.Category,vm.Post.Selling)}}: ₱{{::vm.Post.BudgetMin}}~₱{{::vm.Post.BudgetMax}}</h2>
                                <h5 class="weight-500">
                                    <div ng-show="vm.IfCategoryHas('Buyable')">
                                        <i class="bi_ecommerce-shopcart-a-download margin-right-5"></i>
                                        Condition is {{::vm.Post.Condition}}
                                        <i class="bi_ecommerce-tag-tick margin-right-5"></i>
                                        Quantity buying: {{::vm.Post.Quantity}}
                                    </div>
                                    <br />
                                    <i class="bi_interface-target margin-right-5"></i>
                                    Urgency: {{::vm.Post.DisplayUrgency}}
                                </h5>


                                <div class="row">
                                    <div class="col-md-10">
                                        <h5 class="what-look">Images:</h5>
                                        <div class="margin-top-20"></div>
                                        <div class="row" ng-if="vm.Post.ImageUrlList">
                                            <div class="col-xs-6 col-sm-4" ng-repeat="image in vm.Post.ImageUrlList">
                                                <a class="thumbnail" ng-click="vm.OpenLightboxModal($index,vm.Post.ImageUrlList)">
                                                    <img class="img-responsive" alt="" ng-src="{{::image}}" />
                                                </a>
                                            </div>
                                            <!-- col-4 / end -->
                                        </div>
                                        <div class="row" ng-if="!vm.Post.ImageUrlList">
                                            <div class="col-xs-6 col-sm-4">No images uploaded.</div>
                                        </div>

                                        <!--tags-->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="">
                                                    <h5 class="what-look">{{::vm.TextModifierService.TagLabel(vm.Post.Category)}}</h5>
                                                    <a class="del-skill" ng-repeat="tag in vm.Post.TagList">
                                                        <label class="label label-default label-skill">{{::tag}}</label>
                                                    </a>
                                                    <div ng-show="vm.Post.TagList.length<=0">No tags provided.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- list-group / end -->
                                        <div class="contact-with" ng-if="vm.IsOwner() && vm.Post">
                                            <h4>Contact Me</h4>
                                            <span class="btn btn-red show-number btn-show-number">
                                                <span ng-click="show = true">{{((show == true || show)?(vm.Post.Owner.Mobile?vm.Post.Owner.Mobile:"No mobile number provided"):('Click to show phone number'))}}</span>
                                            </span>
                                            <a ng-click="vm.Goto('makeanoffersection')" class="btn btn-make-offer">Respond</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- slider-text -->
                    </div>
                </div>
                <!-- slider -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="short-info">
                    <a ng-href="Profile/{{::vm.Post.Owner.ID}}">
                        <div class="user-images-ad text-center">
                            <img ng-if="vm.Post.Owner.ImageUrl"
                                ng-src="{{vm.Post.Owner.ImageUrl}}" alt="User" class="img-responsive">
                            <img ng-if="(!vm.Post.Owner.ImageUrl)"
                                src="./assets/img/user2-placeholder.png" alt="User" class="img-responsive">
                        </div>

                        <h4 class="text-center">{{::vm.Post.Owner.Name}} ({{::vm.Post.Owner.Email}})
                        </h4>
                    </a>
                    <div class="user-rating text-center">
                        <fieldset class="bs-rating-font-30">
                            <uib-rating ng-model="vm.Post.Owner.Ratings[0].Rating" readonly="true" style="font-size: 30px"
                                state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
                        </fieldset>
                    </div>
                    <h5 class="text-center padding-bottom-30">{{(vm.Post.Owner.City?vm.Post.Owner.City:'No city set')}}, {{(vm.Post.Owner.Country?vm.Post.Owner.Country:'No country set')}}</h5>

                    <hr>
                    <!-- social-icon -->
                    <ul>
                        <li><i class="bi_interface-view"></i><a>Views: <span class="colore">N/A</span></a></li>
                        <!--<li><i class="bi_interface-heart"></i><a href="#">Add as Favorite</a></li>-->
                        <li><i class="bi_web-report-a"></i><a>Report this ad</a></li>
                    </ul>
                    <!-- social-icon -->
                    <div class="padding-bottom-20" ng-if="vm.IfCategoryHas('Job.') && vm.Post.AttachmentUrls">
                        <a class="btn btn-primary btn-download" ng-href="{{vm.Post.AttachmentUrls}}">Download Resume</a>
                    </div>
                </div>
                <div ng-if="vm.IsOwner() && vm.Post">
                    <button type="button" class="btn btn-primary btn-edit-post margin-bottom-20"
                        ng-click="vm.EditPost(vm.Post)">
                        Edit Post
                    </button>
                    <button type="button" ng-if="vm.Post.Status=='expired'"
                        class="btn btn-primary btn-activate-ad margin-bottom-20"
                        ng-click="vm.ReactivatePost(vm.Post)">
                        <small>(This ad has expired)</small><br>
                        Activate Ad
                    </button>
                </div>

            </div>
        </div>
        <div class="description-info">
            <div class="row">
                <!-- description -->
                <div class="col-md-9">
                    <div class="description">
                        <h4>{{vm.TextModifierService.DescriptionLabel(vm.Post.Category)}}</h4>
                        <p ng-bind-html="vm.Post.Description"></p>

                        <p>{{vm.Post.OtherDescription}}</p>

                        <!--social media share-->
                        <div class="row margin-top-35">
                            <div class="col-md-6">
                                <button ng-click="vm.ShareUsingFacebook()"
                                    class="btn btn-primary btn-share-facebook margin-bottom-20">
                                    Share in Facebook
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-share-google">Share in Google.. Soon</button>
                            </div>
                        </div>
                    </div>

                    <div class="section recommended-ads">
                        <div class="featured-top" id="response">
                            <h4>Responses</h4>
                        </div>

                        <!--no reply yet sign-->
                        <div class="ad-item row" ng-if="vm.Comments.List.length<=0">
                            <div class=" col-sm-12">
                                <div class="ad-info">
                                    No reply yet.
                                </div>
                            </div>
                        </div>

                        <!-- Replies -->
                        <div class="ad-item row" dir-paginate="comment in vm.Comments.List | itemsPerPage: vm.Pagination.PageSize"
                            total-items="vm.Comments.Count"
                            current-page="vm.Pagination.Current">
                            <div class="item-info col-sm-12">
                                <!-- ad-info -->
                                <div class="ad-info">
                                    <span ng-show="::comment.Featured" class="label label-default">featured</span>
                                    <h3 class="item-price" ng-if="comment.OtherDescription">
                                        <span>Offer:</span> ₱{{::comment.OtherDescription}}
                                        <!-- <a href="#!"><i class="bi_interface-reply"></i>Reply</a></span>-->
                                    </h3>
                                    <span class="pull-right reply"><i class="bi_time-wall-clock"></i><span am-time-ago="::comment.CreatedOn"></span></span>

                                    <h4 class="item-title">
                                        <a ng-href="Profile/{{::comment.User.ID}}">{{::comment.User.Name?comment.User.Name:comment.Name}}</a>
                                        <span>{{::(comment.User.Mobile?comment.User.Mobile:comment.Mobile)}}, {{::comment.User.Email?comment.User.Email:comment.Email}}</span>
                                    </h4>

                                    <div class="bs-rating">
                                        <p ng-repeat="rating in comment.User.Ratings">
                                            {{::rating.Type}} ({{::rating.Rating}}
                                            <i class="fa fa-star"></i>)
                                        </p>
                                    </div>
                                    <div style="line-height: 24px">
                                        {{::comment.Description}}
                                        <div class="row margin-top-20" ng-if="comment.ImageUrlList">
                                            <div class="col-xs-4">
                                                <!--<a class="thumbnail fancybox" rel="ligthbox" ng-repeat="image in comment.ImageUrlList"
                                                      ng-click="vm.OpenLightboxModal($index,comment.ImageUrlList)">
                                                      <img class="img-responsive"
                                                          alt="" ng-src="{{image}}" />
                                                  </a>-->
                                                <a class="thumbnail" ng-repeat="image in comment.ImageUrlList"
                                                    ng-click="vm.OpenLightboxModal($index,comment.ImageUrlList)">
                                                    <img class="img-responsive"
                                                        alt="" ng-src="{{image}}" />
                                                </a>
                                            </div>
                                        </div>
                                        <!-- list-group / end -->
                                    </div>
                                </div>
                                <!-- ad-info -->
                            </div>
                            <!-- item-info -->
                        </div>

                        <div class="col-xs-12" ng-if="vm.Comments.List.length>0">
                            <div class="text-center">
                                <dir-pagination-controls class="pagination"
                                    max-size="10"
                                    on-page-change="vm.SearchComments(newPageNumber, oldPageNumber)"
                                    auto-hide="true">
                                </dir-pagination-controls>
                            </div>
                            <!-- ad-item -->

                        </div>

                    </div>
                    <!-- description -->

                    <div class="section recommended-ads margin-top-20">
                        <div class="featured-top" id="makeanoffersection">
                            <h4>Respond by making an offer</h4>
                        </div>
                        <!-- offer -->
                        <form name="commentForm">
                            <div class="row form-group select-price" ng-if="!vm.IfCategoryHas('Job')">
                                <label class="col-sm-12 form-label label-title">Price</label>
                                <div class="col-sm-8">
                                    <label class="form-label">₱ (Philippine Peso)</label>
                                    <input type="number" class="form-control validation"
                                        ng-model="vm.Comment.OtherDescription"
                                        placeholder="Amount">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row form-group add-title">
                                        <label class="col-sm-12 label-title form-label">Full Name<span class="required">*</span></label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control validation" id="text"
                                                ng-model="vm.Comment.Name"
                                                ng-disabled="vm.Auth.IsAuthenticated"
                                                placeholder="ex: John Doe" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row form-group add-title">
                                        <label class="col-sm-12 label-title form-label">Contact No.<!--<span class="required">*</span>--></label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control validation"
                                                id="text3"
                                                ng-model="vm.Comment.Mobile"
                                                placeholder="Mobile / Landline"
                                                minlength="5" maxlength="15">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row form-group add-title">
                                        <label class="col-sm-12 label-title form-label">E-mail<span class="required">*</span></label>
                                        <div class="col-sm-12">
                                            <input type="email" class="form-control validation" id="text1"
                                                placeholder="you@example.com"
                                                ng-model="vm.Comment.Email"
                                                ng-disabled="vm.Auth.IsAuthenticated"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group add-title"
                                ng-if="vm.Auth.IsAuthenticated"
                                ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                <label class="col-sm-12 label-title label-offer">Photos </label>
                                <div class="col-sm-12 margin-top-8 add-image">
                                    <div class="upload-section">
                                        <div ng-repeat="file in vm.TempComment.Images">
                                            <label class="delete-image" ng-click="vm.RemoveCommentFile(file)">
                                                <img ngf-thumbnail="file" class="thumb" style="width: auto; height: 100px; margin-bottom: 30%">
                                            </label>
                                        </div>
                                        <label class="upload-image" for="upload-image-one" ng-if="vm.TempComment.Images.length < 3 || !vm.TempComment.Images">
                                            <input type="file" id="upload-image-one"
                                                ngf-select="vm.AddCommentFiles(vm.Files)"
                                                ng-model="vm.Files"
                                                name="file"
                                                accept="image/jpeg,image/png"
                                                ngf-max-size="3MB"
                                                ngf-model-invalid="vm.Details.errorFile">
                                        </label>
                                    </div>
                                    <!--<input type="file">-->
                                    <div class="margin-top-8">
                                        <small>(max of 3 photos[jpg and png] only)</small>
                                    </div>
                                    <!--<div class="add-more">
                                        <a>Add more</a>
                                    </div>-->
                                </div>
                            </div>

                            <div class="row form-group add-title"
                                ng-if="!vm.Auth.IsAuthenticated">
                                <label class="col-sm-12 label-title label-offer">Photos</label>
                                <div class="col-sm-12 margin-top-8">
                                    Uploading Photos is locked<i class="bi_interface-warning text-danger"></i><a href="Login">Login</a> / <a href="Signup">Register</a> to unlock this feature
                                </div>
                            </div>

                            <div class="row form-group add-title">
                                <label class="col-sm-12 label-title form-label">Description<span class="required">*</span></label>
                                <div class="col-sm-12">
                                    <textarea type="text" rows="4" class="form-control validation"
                                        id="Textarea1" ng-model="vm.Comment.Description"
                                        maxlength="500"
                                        placeholder="Briefly describe your offer" required></textarea>
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-12 label-title form-label"></label>
                                <div class="col-sm-12">
                                    Google reCaptcha goes here
                                </div>
                            </div>
                            <div class="row form-group add-title">
                                <label class="col-sm-12 label-title form-label"></label>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="visibility" ng-class="vm.Comment.PublicVisible?'checked':''">
                                            <input type="checkbox" name="sendalerts" id="visibility"
                                                ng-model="vm.Comment.PublicVisible">
                                            This Response will be <b>Publicly Visible</b> (Uncheck if you want it private)
                                        </label>
                                        <!--<label for="sendalerts">
                                            <input type="checkbox" name="sendalerts" id="sendalerts">
                                            Send me Email/SMS Alerts if buyer responded to my Ad.
                                        </label>-->
                                        <label for="agree">
                                            <input type="checkbox" ng-model="agreed" id="agree" required />
                                            By clicking "Submit Offer", you agree to our <a href="Terms">Terms &amp; Conditions</a> and <a href="PrivacyPolicy">Privacy Policy</a>
                                            <span class="small-red" ng-if="!agreed" style="padding-left: 5px">required</span>
                                        </label>
                                        <div class="margin-top-20">
                                            <button type="button" ng-click="vm.SubmitComment()"
                                                ng-disabled="commentForm.$invalid || vm.Processing"
                                                class="btn btn-primary">
                                                Submit Offer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- row -->
            </div>
            <!-- description-info -->

            <div class="recommended-info margin">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>

        </div>
        <!-- container -->
</section>
<!-- main -->
