﻿<!-- post-page -->
<!-- main -->
<section id="main" class="clearfix ad-details-page">
    <!--ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }"-->
    <div class="container">

        <div class="adpost-details ">
            <!--margin-top-20-->
            <div class="row">

                <!--Navigate back-->
                <div class="col-md-12 margin-bottom-10 font-20">
                    <a ng-click="vm.Util.GoBack()"><i class="bi_interface-arrow-left"></i>Back</a>
                </div>

                <div class="col-md-8">
                    <form name="postingForm" novalidate ng-init="postingForm.$valid = false">
                        <div class="section postdetails">
                            <h4>Tell us about what your searchingfor.
                                <!--<p>Reminder: you are NOT SELLING, you are BUYING</p>-->
                                <span class="pull-right">* Required Fields</span>
                            </h4>

                            <div class="form-group selected-product">
                                <ul class="select-category list-inline">
                                    <li ng-repeat-start="Name in vm.Selected.CategoryNames"
                                        ng-if="!$last">
                                        <a>{{Name}}
                                        </a>
                                    </li>
                                    <li ng-repeat-end class="active"
                                        ng-if="$last">
                                        <a>{{Name}}</a>
                                    </li>
                                </ul>
                                <a class="edit" href="/Posting"><i class="fa fa-pencil"></i>Edit</a>
                            </div>


                            <!--What advertisement is this-->
                            <div class="row form-group" ng-init="vm.Details.Selling=false">
                                <label class="col-sm-3">I want to<span class="required">*</span></label>
                                <div class="col-sm-9 user-type">
                                    <input type="radio" name="adtype" ng-checked="vm.Details.Selling == true"
                                        ng-click="vm.Details.Selling = true"
                                        value="sell" id="sell" >
                                    <label for="sell">Sell/Provide an Item/Service</label>
                                    <input type="radio" name="adtype" ng-checked="vm.Details.Selling == false"
                                        ng-click="vm.Details.Selling = false"
                                        value="buy" id="buy">
                                    <label for="buy">Search for an item/service</label>
                                </div>
                            </div>

                            <!--title-->
                            <div class="row form-group add-title">
                                <label class="col-sm-3 label-title">Title for your Ad<span class="required"> *</span><span>{{vm.TextModifierService.TitleLabel(vm.Selected.Category,vm.Details.Selling)}}</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control margin-top-20 validation"
                                        name="title" placeholder="{{vm.TextModifierService.TitleToolTip(vm.Selected.Category,vm.Details.Selling)}}"
                                        ng-model="vm.Details.Title"
                                        minlength="3" maxlength="50"
                                        required>

                                    <small>
                                        <a ng-if="vm.Details.Title && vm.IfCategoryHas('Buyable/Swappable')"
                                            ng-click="vm.ShowExamples(vm.Details.Title)"
                                            class="link">(Show examples)</a>
                                    </small>

                                    <span class="small-red"
                                        ng-if="postingForm.title.$error.minlength
                                               || postingForm.title.$error.maxlength">Minimum length of 3 to maximum of 50</span>
                                </div>
                            </div>

                            <!--ng-if="vm.IfCategoryHas('Buyable/Swappable')"-->
                            <div>
                                <div class="row form-group">
                                    <label class="col-sm-3 label-title">Country</label>
                                    <div class="col-sm-9">
                                        <select id="Select3" class="form-control validation"
                                            ng-model="vm.Selected.CountryDetail" ng-options="o as o.Name for o in vm.Countries track by o.ID">
                                            <option value="">Any country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 label-title">City</label>
                                    <div class="col-sm-9">
                                        <select id="Select4" class="form-control validation"
                                            ng-model="vm.Selected.CityDetail" ng-options="o as o.Name for o in vm.Selected.CountryDetail.Subs track by o.ID">
                                            <option value="">Any city</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--Choices-->
                            <div class="row form-group" ng-if="vm.IfCategoryHas('Buyable/Swappable')">
                                <label class="col-sm-3">Type of ad<span class="required"> *</span></label>
                                <div class="col-sm-9 user-type panel-body">
                                    <label for="buyable" ng-if="!vm.Details.Selling" ng-init="vm.Details.TypeList[0]='Buy'"
                                        ng-class="vm.Details.TypeList[0] == 'Buy'?'checked':''" class="checkbox-inline image">
                                        <input type="checkbox" name="type" id="buyable" ng-model="vm.Details.TypeList[0]"
                                            ng-true-value="'Buy'" ng-false-value="''"
                                            ng-required="!vm.HaveTypes()">
                                        Buy
                                    </label>
                                    <label for="sellable" ng-if="vm.Details.Selling" ng-init="vm.Details.TypeList[0]='Sell'"
                                        ng-class="vm.Details.TypeList[0] == 'Sell'?'checked':''" class="checkbox-inline image">
                                        <input type="checkbox" name="type" id="sellable" ng-model="vm.Details.TypeList[0]"
                                            ng-true-value="'Sell'" ng-false-value="''"
                                            ng-required="!vm.HaveTypes()">
                                        Sell
                                    </label>
                                    <label for="swappable" ng-class="vm.Details.TypeList[1] == 'Swap'?'checked':''" class="checkbox-inline image">
                                        <input type="checkbox" name="type" id="swappable" ng-model="vm.Details.TypeList[1]"
                                            ng-true-value="'Swap'" ng-false-value="''"
                                            ng-required="!vm.HaveTypes()">
                                        Swap
                                    </label>
                                    <label for="rentable" ng-class="vm.Details.TypeList[2] == 'Rent'?'checked':''" class="checkbox-inline image">
                                        <input type="checkbox" name="type" id="rentable" ng-model="vm.Details.TypeList[2]"
                                            ng-true-value="'Rent'" ng-false-value="''"
                                            ng-required="!vm.HaveTypes()">
                                        Rent
                                    </label>
                                </div>
                            </div>

                            <!--Condition-->
                            <div ng-if="vm.IfCategoryHas('Buyable')">
                                <div class="row form-group">
                                    <label class="col-sm-3">Condition<span class="required">*</span></label>
                                    <div class="col-sm-9 user-type">
                                        <input type="radio" checked name="conditionType" ng-checked="vm.Details.Condition == 'New'"
                                            ng-click="vm.Details.Condition = 'New'" value="noturgent" id="conditionNew"
                                            required>
                                        <label for="conditionNew">New</label>
                                        <input type="radio" checked name="conditionType" ng-checked="vm.Details.Condition == 'Used'"
                                            ng-click="vm.Details.Condition = 'Used'" value="noturgent" id="conditionUsed"
                                            required>
                                        <label for="conditionUsed">Used</label>
                                    </div>
                                </div>
                                <div class="row form-group add-title">
                                    <label class="col-sm-3 label-title">How many?<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="number"
                                            ng-model="vm.Details.Quantity"
                                            class="form-control validation" id="text" placeholder="ex: 1"
                                            ng-min="1"
                                            ng-max="2000"
                                            required>
                                    </div>
                                </div>
                            </div>

                            <!--job type-->
                            <div class="row form-group" ng-if="vm.IfCategoryHas('Job')">
                                <label class="col-sm-3">Type<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="radio" checked name="jobtype" ng-checked="vm.Details.TypeList[0]  == 'Full-Time'"
                                        ng-click="vm.Details.TypeList[0] = 'Full-Time'" value="noturgent" id="Full-Time">
                                    <label for="Full-Time">Full-Time</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Details.TypeList[0]  == 'Part-Time'"
                                        ng-click="vm.Details.TypeList[0] = 'Part-Time'" value="asap" id="Part-Time">
                                    <label for="Part-Time">Part-Time</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Details.TypeList[0]  == 'Remote'"
                                        ng-click="vm.Details.TypeList[0] = 'Remote'" value="week" id="Remote">
                                    <label for="Remote">Remote</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Details.TypeList[0]  == 'Intern'"
                                        ng-click="vm.Details.TypeList[0] = 'Intern'" value="2weeks" id="Intern">
                                    <label for="Intern">Intern</label>
                                    <input type="radio" name="jobtype" ng-checked="vm.Details.TypeList[0]  == 'Freelance'"
                                        ng-click="vm.Details.TypeList[0] = 'Freelance'" value="month" id="Freelance">
                                    <label for="Freelance">Freelance</label>
                                </div>
                            </div>

                            <!--Upload Image-->
                            <div class="row form-group add-image"
                                ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                <label class="col-sm-3 label-title">Photos for your ad <span>(First image will be your cover photo )</span> </label>
                                <div class="col-sm-9">
                                    <h5><i class="bi_media-image" aria-hidden="true"></i>Select Images to Upload <span>You can add 3 images. (png, jpeg, and  jpg files only)</span></h5>
                                    <div class="upload-section">
                                        <div ng-repeat="file in vm.Selected.Images">
                                            <label class="delete-image" ng-click="vm.RemoveImage(file)">
                                                <img ngf-thumbnail="file" class="thumb" style="width: auto; height: 100px; margin-bottom: 30%">
                                            </label>
                                        </div>
                                        <label class="upload-image" for="upload-image-one" ng-if="vm.Selected.Images.length < 3 || !vm.Selected.Images">
                                            <input type="file" id="upload-image-one"
                                                ngf-select="vm.AddImage(vm.Files)"
                                                ng-model="vm.Files"
                                                name="file"
                                                accept="image/jpeg,image/png"
                                                ngf-max-size="3MB"
                                                ngf-model-invalid="vm.Details.errorFile">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!--Category Job: Resume Upload-->
                            <div class="row form-group add-image"
                                ng-if="vm.IfCategoryHas('Job')"
                                ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                <label class="col-sm-3 label-title">Upload your resume/biodata for employers to see<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <h5><i class="bi_doc-drawer-download" aria-hidden="true"></i>Select a File to Upload <span>You can only upload 1 resume/biodata of format (word or pdf)</span></h5>
                                    <div class="upload-section">
                                        <div ng-if="vm.Details.Attachments.length>0">
                                            <p>{{vm.Details.Attachments[0].Name+' was attached'}}</p>
                                            <a style="cursor: pointer" ng-click="vm.RemoveAttachment()">Remove
                                            </a>
                                            <img alternative="Placeholder for resume" />
                                        </div>
                                        <label class="upload-image" for="upload-image-one2" ng-if="vm.Selected.Attachments.length <= 0 || !vm.Selected.Attachments">
                                            <input type="file" id="upload-image-one2"
                                                ngf-select="vm.AddAttachment(vm.Files)"
                                                ng-model="vm.Files"
                                                name="file"
                                                accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                                ngf-max-size="3MB" required
                                                ngf-model-invalid="vm.Details.errorFile">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!--urgency-->
                            <div class="row form-group" ng-hide="vm.Details.Selling">
                                <label class="col-sm-3">Urgency<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="radio" ng-checked="vm.Details.Urgency == 99" name="urgency"
                                        ng-click="vm.Details.Urgency = 99" value="noturgent" id="noturgent">
                                    <label for="noturgent">Not urgent</label>
                                    <input type="radio" ng-checked="vm.Details.Urgency == 0" name="urgency" checked
                                        ng-click="vm.Details.Urgency = 0" value="asap" id="asap">
                                    <label for="asap">As soon as possible</label>
                                    <input type="radio" ng-checked="vm.Details.Urgency == 1" name="urgency"
                                        ng-click="vm.Details.Urgency = 1" value="week" id="week">
                                    <label for="week">Within a week</label>
                                    <input type="radio" ng-checked="vm.Details.Urgency == 2" name="urgency"
                                        ng-click="vm.Details.Urgency = 2" value="2weeks" id="2weeks">
                                    <label for="2weeks">Within 2 weeks</label>
                                    <input type="radio" ng-checked="vm.Details.Urgency == 3" name="urgency"
                                        ng-click="vm.Details.Urgency = 3" value="month" id="month">
                                    <label for="month">Within a month</label>
                                </div>
                            </div>
                            <!--!vm.IfCategoryHas('Community')-->
                            <!--price-->
                            <div class="row form-group select-price">
                                <label class="col-sm-3 label-title">{{vm.TextModifierService.AmountLabel(vm.Selected.Category,vm.Details.Selling)}} <small>(leave blank if not applicable/ or have not decided yet.)</small></label>
                                <div class="col-sm-9">
                                    <label>₱ (Philippine Peso)</label>
                                    <br />
                                    <input type="number" class="form-control validation" min="0" placeholder="Minimum"
                                        name="min"
                                        ng-model="vm.Details.BudgetMin" id="text1"
                                        ng-required="vm.Details.BudgetMax">
                                    <input type="number" class="form-control validation" placeholder="Maximum"
                                        name="max"
                                        ng-min="vm.Details.BudgetMin"
                                        ng-model="vm.Details.BudgetMax" id="text2"
                                        ng-required="vm.Details.BudgetMin">
                                    <span class="small-red" ng-if="vm.Details.BudgetMin && !vm.Details.BudgetMax">Max should be greater than or equal to Minimum budget</span>
                                    <span class="small-red" ng-if="postingForm.min.$error.required">Please input minimum value</span>
                                </div>
                            </div>
                            <!--ng-change="vm.OnBudgetMaxChange()"-->
                            <!--Tags-->
                            <div class="row form-group brand-name" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                                <label class="col-sm-3 label-title">{{vm.TextModifierService.TagLabel(vm.Selected.Category)}}</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="place tag here" ng-model="vm.keyword">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="margin-top-20">
                                                <a class="del-skill" ng-repeat="keyword in vm.Keywords">
                                                    <label class="label label-default label-skill"
                                                        ng-click="vm.RemoveTag(keyword)">
                                                        {{keyword.Word}} <i class="bi_interface-cross"></i>
                                                    </label>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-sm btn-add-skill"
                                        ng-click="vm.AddTag(vm.keyword)">
                                        Add
                                    </button>
                                </div>
                            </div>

                            <!--link prefix-->
                            <!--  <div class="row form-group" ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }">
                                <label class="col-sm-3">Link Shortcut</label>
                                <div class="col-sm-9">
                                    <label>Link Shortcut example:</label>
                                    <span style="font-style: italic">www.searchingfor.co/post/<span style="color: red">{{vm.Details.LinkPostfix}}</span></span>
                                    <input class="form-control validation"
                                        name="prefix"
                                        ng-model="vm.Details.LinkPostfix"
                                        ui-validate-async="{unique : 'vm.PostHasUniqueLinkPostfix($modelValue)'}"
                                        type="text"
                                        placeholder="www.searchingfor.co/post/">
                                    <span class="small-red" ng-if="postingForm.prefix.$error.unique">Prefix is not unique, try another one.</span>
                                </div>
                            </div>-->
                            <!--meetingplace-->
                            <div class="row form-group additional"
                                ng-if="!vm.IfCategoryHas('Carpool') && !vm.IfCategoryHas('Job') && !vm.IfCategoryHas('Charity')">
                                <label class="col-sm-3 label-title">Transaction Details</label>
                                <div class="col-sm-9">
                                    <!--  <label>
                                            <input type="checkbox" name="meetup"
                                                ng-model="vm.meetup"
                                                ng-click="vm.SetTransactionDescription()">
                                            Meet in person</label>
                                        <label>
                                            <input type="checkbox" name="meetup"
                                                ng-model="vm.courier"
                                                ng-click="vm.SetTransactionDescription()">
                                            Using courier/shipping services</label>-->

                                    <textarea class="form-control validation" id="textarea1"
                                        ng-model="vm.Details.OtherDescription"
                                        name="transaction"
                                        minlength="10"
                                        maxlength="500"
                                        placeholder="Write few lines how will you transact or meetup? leave this blank if does not apply"
                                        rows="4"></textarea>
                                    <span class="small-red"
                                        ng-if="postingForm.transaction.$error.minlength">Minimum length of 10 to maximum of 500</span>
                                </div>
                            </div>

                            <!--description-->
                            <div class="row form-group item-description">
                                <label class="col-sm-3 label-title">{{vm.TextModifierService.DescriptionLabel(vm.Selected.Category)}}<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <b>{{vm.IfCategoryHas('Job')?'Describe yourself briefly to attract employers':'Write few lines about what you are looking for'}}</b>
                                    <div text-angular ng-model="vm.Details.Description"
                                        ta-min-text="15" ta-max-text="1000" name="description" required>
                                    </div>

                                    <!--<textarea class="form-control validation" id="textarea"
                                        ng-model="vm.Details.Description"
                                        name="description"
                                        minlength="20"
                                        maxlength="2000"
                                        placeholder="{{vm.IfCategoryHas('Job')?'Describe yourself briefly to attract employers':'Write few lines about what you are looking for'}}"
                                        rows="8" required></textarea>-->
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.taMinText || postingForm.description.$error.required">Min length is 15</span>
                                    <span class="small-red"
                                        ng-if="postingForm.description.$error.taMaxText">Max length limit is 1000</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">
                                    Max characters is only 1000 *
                                </div>
                            </div>
                        </div>
                        <!-- section -->
                        <!--Create Account Section-->
                        <div class="section seller-info"
                            ng-if="!vm.Auth.IsAuthenticated">
                            <h4>Create an Account to continue | Do you already have an account? Click <a href="Login">HERE</a>
                            </h4>
                            <div class="row form-group">
                                <label class="col-sm-3 label-title">You are an/a<span class="required"> *</span></label>
                                <div class="col-sm-9 margin-top-7">
                                    <input type="radio" name="buyerType"
                                        ng-click="vm.Details.Owner.Type = 'individual'" value="individual" id="individual" checked>
                                    <label for="individual">Individual</label>
                                    <input type="radio" name="buyerType"
                                        ng-click="vm.Details.Owner.Type = 'company'" value="company" id="company">
                                    <label for="company">Company</label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 label-title">Name<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control validation"
                                        name="fullname"
                                        ng-model="vm.Details.Owner.Name" placeholder="ex: John Doe"
                                        minlength="5" maxlength="40" required>
                                    <span class="small-red"
                                        ng-if="postingForm.fullname.$error.minlength || postingForm.fullname.$error.maxlength">Minimum length of 5 to maximum of 40</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 label-title">Mobile Number</label>
                                <div class="col-sm-9">
                                    <!--Do some validaton here-->
                                    <input type="text" class="form-control validation" name="number"
                                        ng-model="vm.Details.Owner.Mobile"
                                        minlength="10" maxlength="13"
                                        placeholder="ex: +91234578912">
                                    <span class="small-red" ng-if="postingForm.number.$error.minlength">Minimum length of 10</span>
                                    <span class="small-red" ng-if="postingForm.number.$error.maxlength">Maximum length of 13</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 label-title">Country<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <select id="Select1" class="form-control validation"
                                        ng-model="vm.Selected.Country" ng-options="o as o.Name for o in vm.Countries track by o.ID"
                                        required>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 label-title">City<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <select id="Select2" class="form-control validation"
                                        ng-model="vm.Selected.City" ng-options="o as o.Name for o in vm.Selected.Country.Subs track by o.ID"
                                        required>
                                    </select>
                                </div>
                            </div>
                            <hr>

                            <div class="row form-group" ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }">
                                <label class="col-sm-3 label-title">Email Address<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control validation"
                                        placeholder="ex: jhondoe@mail.com" name="email"
                                        ng-model="vm.Details.Owner.Email"
                                        ui-validate-async="{unique : 'vm.UserHasUniqueEmail($modelValue)'}"
                                        maxlength="40" required>
                                    <span class="small-red" ng-if="postingForm.email.$error.email">Full email address example: example@provider.com</span>
                                    <span class="small-red" ng-if="postingForm.email.$error.unique">Email has already been used.</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 label-title">Password<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="password" name="password"
                                        ng-model="vm.Details.Owner.Password"
                                        class="form-control validation" minlength="6" maxlength="20" required>
                                    <span class="small-red" ng-if="postingForm.password.$error.minlength">Minimum length of 6</span>

                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 label-title">Confirm Password<span class="required"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="password" name="password2"
                                        ng-model="vm.Details.Owner.Password2"
                                        class="form-control validation" minlength="6" maxlength="20" required>
                                    <span class="small-red" ng-if="postingForm.password2.$error.minlength">Minimum length of 6</span>
                                    <span class="small-red" ng-if="vm.Details.Owner.Password != vm.Details.Owner.Password2">Passwords must match</span>
                                </div>
                            </div>
                        </div>
                        <!-- section -->
                        <!--subscribe-->
                        <div id="postButtonId" class="section agreement">
                            <label for="sendalerts">
                                <input type="checkbox" name="sendalerts"
                                    ng-model="vm.Details.Notify" id="sendalerts">
                                Send me Email/SMS Alerts for people responding to my Ad.
                            </label>
                            <label for="agree">
                                <input type="checkbox" name="agree" id="agree"
                                    ng-model="vm.Details.Agree" required>
                                By clicking "Post Ad", you agree to our <a href="terms-conditions.html">Terms &amp; Conditions</a>, <a href="privacy-policy.html">Privacy Policy</a>, and <a href="ad-policy.html">Ad Policy</a><br />
                                <span class="small-red" ng-if="postingForm.agree.$error.required">You must agree to proceed.</span>
                            </label>

                            <button ng-click="vm.CreatePost(vm.Details)"
                                ng-disabled="
                                    !(postingForm.$valid) ||
                                    (!vm.PasswordMatches()) ||
                                    vm.Processing"
                                type="button" class="btn btn-primary">
                                Post Advertisment
                            </button>

                        </div>
                        <!-- section -->

                    </form>
                    <!-- form -->
                </div>

                <div class="modal fade" id="ebayModal" role="dialog" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Choose</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-6" ng-repeat="result in vm.EbayResults">
                                        <div class="featured">
                                            <div class="featured-image">
                                                <a>
                                                    <img ng-src="{{result.Picture}}" alt="" class="img-respocive">
                                                </a>
                                                <!--<a href="all-ads-swappable.html" class="swappable" data-toggle="tooltip" data-placement="left" title="Swappable"><i class="bi_ecommerce-tracking"></i></a>-->
                                            </div>
                                            <!-- ad-info -->
                                            <div class="ad-info">
                                                <div class="row">
                                                    <div class="col-xs-12" style="padding: 0">
                                                        <span class="item-buy"><a ng-href="{{result.viewItem}}">{{result.Title}}</a></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12" style="padding: 0">
                                                        <span class="budget">₱{{result.Price}}<span>
                                                            <span class="negotiable">(Negotiable)</span>
                                                    </div>
                                                </div>
                                                <div class="make-offer">
                                                    <button ng-click="vm.SetAsExample(result)"
                                                        type="button" class="btn btn-primary">
                                                        SET AS EXAMPLE
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- ad-info -->
                                        </div>
                                        <!-- featured -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- quick-rules -->
                <div class="col-md-4">
                    <div class="section quick-rules">
                        <h4>Quick rules</h4>
                        <p class="lead">Posting an ad is free! However, all ads must follow our rules:</p>

                        <ul>
                            <li>Make sure you post in the correct category.</li>
                            <li>Do not post the same ad more than once</li>
                            <li>Do not upload pictures with watermarks.</li>
                            <li>Do not put your email or phone numbers in the title or description.</li>
                            <li>Any violation of the following will result to ad deletion or termination of account.</li>
                            <li>Please refer to our <a href="AdPolicy">ad policies</a> for more information</li>
                        </ul>
                    </div>
                </div>
                <!-- quick-rules -->
            </div>
            <!-- photos-ad -->
        </div>
    </div>
    <!-- container -->
</section>
<!-- main -->
