﻿<section class="aliceblue">
    <div class="container page-container-third">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-0">
                <div class="form-page-heading">
                    <h3>Post an Add - FREE</h3>
                    <p>Add details about your Ad</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">

                <div class="border form-container">
                    <div class="form-row clearfix border-bottom margin-bottom-40 padding-bottom-40"
                        ng-if="vm.IfLoggedIn()">
                        <div class="form-row-left text-left pull-left">
                            <img src="./assets/img/placeholder.png" alt="user-thumb" width="95" />
                            <p>
                                You are currently signed in as <strong>{{::vm.User.Name}}</strong>
                            </p>
                        </div>
                        <div class="form-row-right text-right pull-right  margin-top-25">
                            <a class="btn btn-success signout-btn" ng-click="vm.Logout()">Sign out</a>
                        </div>
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <label>
                                What are you looking for? <span class="req">*</span>
                            </label>
                            <input type="text"
                                ng-model="vm.PostingDetails.Title"
                                class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-sm-4 margin-top-10">
                                <div class="form-group clearfix border-dropdown">
                                    <label>
                                        Choose Category <span class="req">*</span>
                                    </label>
                                    <select ng-model="vm.PostingDetails.CategoryObject"
                                        class="form-control"
                                        ng-options="categories.Name for categories in vm.Categories">
                                    </select>
                                    <!--<select data-placeholder="Select" class="chosen-select postsubmitSelect" tabindex="5">
                                        <option>Category 1</option>
                                        <option>Category 2</option>
                                    </select>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group margin-top-10 clearfix border-dropdown"
                                    ng-if="vm.PostingDetails.CategoryObject.Subs.length>0">
                                    <label>
                                        Choose Sub-category <span class="req">*</span>
                                    </label>
                                    <!-- <select data-placeholder="Select" class="chosen-select postsubmitSelect" tabindex="5">
                                        <option>Category 1</option>
                                        <option>Category 2</option>
                                    </select>-->
                                    <select class="form-control"
                                        ng-model="vm.PostingDetails.CategoryObject.Sub"
                                        ng-options="subcategory.Name for subcategory in vm.PostingDetails.CategoryObject.Subs">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group margin-top-10 clearfix border-dropdown"
                                    ng-if="vm.PostingDetails.CategoryObject.Sub.Subs.length>0">
                                    <label>
                                        Choose Specific-category <span class="req">*</span>
                                    </label>
                                    <!-- <select data-placeholder="Select" class="chosen-select postsubmitSelect" tabindex="5">
                                        <option>Category 1</option>
                                        <option>Category 2</option>
                                    </select>-->
                                    <select class="form-control"
                                        ng-model="vm.PostingDetails.CategoryObject.Sub.Sub"
                                        ng-options="subcategory.Name for subcategory in vm.PostingDetails.CategoryObject.Sub.Subs">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Urgency</label>
                                    <select class="form-control" ng-model="vm.PostingDetails.Urgency">
                                        <option value="1">ASAP</option>
                                        <option value="2">Within a week</option>
                                        <option value="3">Within 2 weeks</option>
                                        <option value="4">Within a month</option>
                                        <option value="5">A month from now</option>
                                        <option value="6">Whenever</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Link Shortcut example:</label>
                                    <span style="font-style: italic">www.searchingfor.co/post/<span style="color: red">EXAMPLE</span></span>
                                    <input class="form-control"
                                        ng-model="vm.PostingDetails.LinkPostfix"
                                        type="text" placeholder="www.searchingfor.co/post/">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>
                                        Budget <span class="req">*</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Min</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>₱</b></span>
                                        <input class="form-control"
                                            ng-model="vm.PostingDetails.BudgetRangeMin"
                                            type="text" placeholder="Amount">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Max</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>₱</b></span>
                                        <input class="form-control"
                                            ng-model="vm.PostingDetails.BudgetRangeMax"
                                            type="text" placeholder="Amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group margin-top-10">
                            <label>Description <span class="req">*</span></label>
                            <textarea class="form-control no-resize"
                                ng-model="vm.PostingDetails.Description"
                                rows="8" placeholder="add more information or describe your demand for the product/service"></textarea>
                        </div>
                        <div class="form-group margin-top-10">
                            <label>Transaction Description <span class="req">*</span></label>
                            <textarea class="form-control no-resize"
                                ng-model="vm.PostingDetails.OtherDescription"
                                rows="4" placeholder="Details about meetup or anything in between"></textarea>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-12 padding-left-0 padding-right-0">
                                <label>Images <span class="req">*</span></label>
                                <!--<input type="file" name="files[]" id="filer_input2" multiple="multiple">-->
                                <input type="file"
                                    ngf-select="vm.AddFiles(vm.Files)"
                                    ng-model="vm.Files"
                                    name="file"
                                    accept="image/*"
                                    ngf-max-size="2MB" required
                                    ngf-model-invalid="vm.PostingDetails.errorFile">
                                {{vm.PostingDetails.errorFile}}
                              <!--  <i ng-show="posting.errorFile">File too large 
                                    {{vm.PostingDetails.errorFile.size / 1000000|number:1}}MB: max 2M</i>-->
                                <span ng-repeat="file in vm.PostingDetails.Files">
                                    <!--<img ng-src="{{file.Raw}}" class="thumb" style="width: auto; height: 100px">-->
                                    <!--HI-->
                                    <img ngf-thumbnail="file" class="thumb" style="width: auto; height: 100px">

                                    <!--<span class="progress" ng-show="file.progress >= 0">
                                        <div style="width: {{file.progress}}%;"
                                            ng-bind="vm.PostingDetails.Files.progress + '%'">
                                        </div>
                                    </span>-->
                                </span>
                                <!--  <span class="progress" ng-show="vm.PostingDetails.Files.progress >= 0">
                                    <div style="width:{{file.progress}}%;"
                                        ng-bind="vm.PostingDetails.Files.progress + '%'">
                                    </div>
                                </span>-->
                                <!--<span ng-show="vm.PostingDetails.Files.result">Upload Successful</span>-->
                            </div>
                        </div>
                        <div ng-if="!vm.IfLoggedIn()">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-sm-offset-0">
                                    <div class="form-page-heading">
                                        <h3>Please register</h3>
                                        <p>If not yet registered</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input ng-model="vm.PostingDetails.Owner.Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password <span class="required">*</span></label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control"
                                                ng-model="vm.PostingDetails.Owner.Password"
                                                type="text" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control"
                                                ng-model="vm.PostingDetails.Owner.Password2"
                                                type="text" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>E-mail Address</label>
                                            <input ng-model="vm.PostingDetails.Owner.Email"
                                                type="text"
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <input ng-model="vm.PostingDetails.Owner.Mobile" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="form-control" ng-model="vm.PostingDetails.Owner.Country"
                                                ng-options="categories.Name for categories in vm.Countries">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-if="vm.PostingDetails.Owner.Country.Subs.length>0">
                                        <div class="form-group">
                                            <label>City</label>
                                            <select class="form-control" ng-model="vm.PostingDetails.Owner.City"
                                                ng-options="categories.Name for categories in vm.PostingDetails.Owner.Country.Subs">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Required fields are marked <span class="req">*</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group clearfix margin-bottom-0 pull-right">
                                    <input type="button"
                                        ng-click="vm.onSubmit(vm.PostingDetails)"
                                        value="Post Ad" class="btn btn-success btn-submit btn-lg" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
