﻿<h4>4 slots currently available free.</h4>
<br />
Credit balance : {{vm.Auth.UserData.Credits}}
Buy a Keyword Slot

<label>Keyword Duration</label>
<select ng-options="d as d.Label for d in vm.Choices" ng-model="selected">
</select>

Cost of purchase. : {{vm.countBought*selected.CreditCost}}

<input type="number" ng-model="vm.countBought" />

<button ng-click="vm.AvailPremium()">Buy a slot</button>