﻿<!-- myads-page -->
<section id="ad-post" class="clearfix myads-page">
    <div class="container">

        <div class="ads-info">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="notif-links padding-30">
                        <h4 class="current-credits">
                            <img class="width-30" src="./assets/img/c-100.png">
                            {{ vm.Auth.UserData.Credits}}
                        </h4>
                        <hr>
                        <ul>
                            <!--  <li><a href="#!">Item Shop</a></li>
                            <li><a href="#!">Transaction History</a></li>
                             <li><a href="KeywordWatch">Keyword Watch</a></li>-->
                            <li ng-repeat="tab in vm.tabs"
                                ng-class="{active: vm.isActiveTab(tab)}">
                                <a ng-click="vm.onClickTab(tab)">{{::tab.title}} 
                                        <span ng-if="tab.notifCount>0" class="label label-danger pull-right margin-left-5 font-13">{{tab.notifCount}}</span></a>
                            </li>
                        </ul>

                        <!-- social-icon -->
                    </div>
                </div>
                <!-- Tab panes -->
                <div ng-include="vm.currentTab"></div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ad-info -->
    </div>
    <!-- container-->
</section>
<!-- myads-page -->
