﻿<section class="aliceblue">
    <div class="container page-container-third">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <div class="form-container">
                    <div class="row">
                        <div class="col-sm-6 padding-right-40  border-right">
                            <div class="form-row clearfix">
                                <h3 class="header-sign">Register &amp; Get started!</h3>
                                <div class="sign-note text-center">
                                    Get started in less than 30 seconds and post unlimited ads now.
                                </div>
                                <form class="form-horizontal margin-top-20" method="post">
                                    <div class="row">
                                        <!--  <div class="col-sm-6">
                                            <div class="form-group padding-right-10">
                                                <input type="text" class="form-control input-sign" placeholder="First Name">
                                            </div>
                                        </div>-->
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="text"
                                                    ng-model="vm.SignupDetails.Name"
                                                    class="form-control input-sign" placeholder="Full Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text"
                                            ng-model="vm.SignupDetails.Email"
                                            class="form-control input-sign" placeholder="E-mail Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="text"
                                            ng-model="vm.SignupDetails.Mobile"
                                            class="form-control input-sign" placeholder="Mobile">
                                    </div>
                                    <div class="form-group">
                                        <input type="password"
                                            ng-model="vm.SignupDetails.Password"
                                            class="form-control input-sign" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password"
                                            ng-model="vm.SignupDetails.Password2"
                                            class="form-control input-sign" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <select id="Select1" class="form-control"
                                            ng-model="vm.Selected.Country" ng-options="o as o.Name for o in vm.Countries">
                                        </select>
                                    </div>
                                     <div class="form-group">
                                        <select id="Select1" class="form-control"
                                            ng-model="vm.Selected.City" ng-options="o as o.Name for o in vm.Selected.Country.Subs">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            By signing up, I agree to the  <a href="#!" class="forget-pass">Terms of Service</a>
                                            and <a href="#!" class="forget-pass">Privacy Policy.</a>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input type="button"
                                            ng-click="vm.Signup(vm.SignupDetails)" value="Create Account" class="btn btn-default btn-create width-full">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-left-40">
                            <div class="form-row clearfix ">
                                <h3 class="header-sign">Sign In To Your Account</h3>
                                <div class="pop-form-bottom">
                                    <!--<div class="form-group margin-top-30">
                                        <button type="submit" class="btn btn-facebook">
                                            <i class="fa fa-facebook-official pull-left font-25"></i>Login using <b>Facebook</b>
                                        </button>
                                    </div>-->
                                    <div class="sign-note">
                                        Or using your registered e-mail address
                                    </div>
                                </div>
                                <form class="form-horizontal margin-top-10" method="post">
                                    <div class="form-group">
                                        <input type="text" 
                                            ng-model="vm.logindetails.Email" class="form-control input-sign" placeholder="E-mail Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="password"
                                            ng-model="vm.logindetails.Password"
                                             class="form-control input-sign" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <a href="forgot.html" class="forget-pass">Forgot your Password?</a>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input type="button"
                                            ng-click="vm.Login(vm.logindetails)" value="Sign In" class="btn btn-success btn-sign width-full">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


