﻿<!-- main -->
<section id="main" class="clearfix about-us page">
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="title text-center">You must verify your email address to continue</h3>
            <div class="section about">
                <div class="about-info">
                    <div class="row">

                        <!-- about-text -->
                        <div class="col-md-12">
                            <div class="about-text">
                                <!-- description-paragraph -->
                                <div class="description-paragraph">
                                    <p>
                                        The page you requested requires that you first verify your email address. </p>
                                    <p>
                                    <p>
                                        A verifcation link was sent to your email <u><b>{{vm.Email}}</b></u>. Clicking the button below will resend a verification email to the address
                                        associated with your account. It will contain a link that, when clicked, will verify your email address. You will only have to do this once. 

                                    </p>
                                    <br />
                                    <br />
                                    <button type="button" ng-click="vm.sendEmail()"
                                            class="btn btn-primary">
                                        Resend Email Verification
                                    </button>
                                </div>
                                <!-- description-paragraph -->

                            </div>
                            <!-- description-paragraph -->
                        </div>
                        <!-- about-text -->
                    </div>
                </div>
                <!-- about-info -->



            </div>
            <!-- about -->

        </div>
    </div>
    <!-- container -->
</section>
<!-- main -->
