﻿<!-- services-ad -->
<section id="services-ad" class="clearfix home-three">
    <!-- view-ad -->
    <div id="view-ad" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 >Your email has been verified</h1>
                    <div class="form-group">
                        <br />
                        <div class="margin-top-20">
                            <button type="button" ng-click="vm.proceedToLogin()"
                                    ng-disabled="commentForm.$invalid || vm.Processing"
                                    class="btn btn-primary">
                               Proceed to Login
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- row -->
        </div>
        <!-- contaioner -->
    </div>
    <!-- container -->
</section>
<!-- services-ad -->
