﻿<!-- login-page -->
<section id="main" class="clearfix user-page">
    <div class="container">
        <div class="row text-center">
            <!-- user-login -->
            <div class="col-xs-12 col-sm-offset-3 col-sm-7 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-4">
                <h1 class="font-200-error">404
                </h1>
                <span class="font-30-error">Page Not Found
                </span>

                <div class="margin-top-20">
                    The page you are looking for has been moved or perhaps never existed
            in the first place. <a href="Dashboard">Go Home <i class="bi_interface-arrow-right"></i></a>
                </div>
                <!-- <form action="#">
  					<div class="user-account">
  						<h2>Login To Your Account</h2>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="E-mail Address" >
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" >
							</div>

  						<div class="user-option">
  							<div class="forgot-password">
  								<a href="forgot-password.html">Forgot you password?</a>
  							</div>
  						</div>
              <button type="submit" class="btn-primary"> Login</button>


							<div class="create-account">
                Not a member yet? <a href="register.html">Create An Account</a>
							</div>

  					</div>
          </form> -->
            </div>
            <!-- user-login -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- login-page -->


