﻿<!-- main -->
<section id="main" class="clearfix about-us page">
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="title text-center">About Us</h3>
            <div class="section about">
                <div class="about-info">
                    <div class="row">

                        <!-- about-text -->
                        <div class="col-md-12">
                            <div class="about-text">
                                <!-- description-paragraph -->
                                <div class="description-paragraph">
                                    <h4 class="main">We are demand centric, meeting your demand is our main priority, as it should be.
                      And we cater both sides of the spectrum, the demand and the providers.<br>
                                        We have a wide set of features to help you profit and save a buck.
                                    </h4>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-buyer.svg">
                                                <h4>Advantages for Buyers</h4>
                                                Imagine a place where you post your demanded product at your price, and people will try to outprice each other just for you. The other way around. The right way. <a href="Posting">Just post an Ad.</a>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-seller.svg">
                                                <h4>Advantages for Sellers</h4>
                                                No need to hard sell. The people your SearchingFor is SearchingFor you. Through this website, we bridge that gap. Easily sell to people who actually want your product.
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-passerby.svg">
                                                <h4>Advantages for passersby</h4>
                                                You'll never know that your item sitting there useless is something someone would want to buy.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-collector.jpg">
                                                <h4>Advantages for Collectors</h4>
                                                Collectors would benefit greatly as well. searching for that last piece of your collection would require tedious effort. posting here and people seeing it as a demanded product would entice them to sell em to you!
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-buyer.svg">
                                                <h4>Advantages for Service Seekers</h4>
                                                Ever found yourself searching all over the place to find photographers for your wedding?
                                                 or an exterminator to kill pesky bugs? or painters to paint your house?
                                                basically. you post your demand here. and they will contact you. easy as that. 
                                            </p>
                                        </div>

                                        <div class="col-md-6">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-service.png">
                                                <h4>Advantages for Service Providers</h4>
                                                Youll be glad to know people demands your service. but they just couldnt find you..
                                                Here in searchingfor. you dont have to lift a finger. get notified of ready paying customers.. Now!
                                                <a href="Signup">Register</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-jobseeker.svg">
                                                <h4>Advantages for Job Seekers</h4>
                                                Job searching is tiring. Multiple interviews. Negotiations. <a href="Posting">Just post an advertisement</a> about yourself, job you want at the price you desire. Employers will start contacting you immediately!
                                            </p>
                                        </div>

                                        <div class="col-md-6">
                                            <p class="margin-top-20 text-center">
                                                <img src="./assets/img/about-employers.svg">
                                                <h4>Advantages for Employers</h4>
                                                No more hard recruiting. Be able to see quality people who are ready to be employed. 
                                                As soon as possible!
                                            </p>
                                        </div>
                                    </div>
    </div>

    <!-- description-paragraph -->

                            </div>
                            <!-- description-paragraph -->
                        </div>
                        <!-- about-text -->
                    </div>
                </div>
                <!-- about-info -->



            </div>
            <!-- about -->

        </div>
    </div>
    <!-- container -->
</section>
<!-- main -->

