﻿<!-- main -->
<section id="main" class="clearfix about-us page">
    <div class="container">
        <div class="col-sm-12 col-md-offset-2 col-md-8">
            <h3 class="title text-center">Contact Us</h3>
            <div class="section about">
                <div class="about-info">
                    <div class="row">

                        <!-- about-text -->
                        <div class="col-md-12">
                            <div class="about-text">
                                <!-- start -->
                                <div ng-form="contactForm">
                                    <div class="row" ng-show="mc.contactSubmitted">
                                        <div class="col-md-12">
                                            <div class="alert alert-success text-center" role="alert">
                                                Thank You for sending your feedback! We will get back to you shortly.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label-form">Subject <span class="required">*</span></label>
                                                <select class="form-control validation"
                                                    ng-model="mc.contact.Type" required>
                                                    <option value="Inquire">Inquire</option>
                                                    <option value="Feedback">Feedback</option>
                                                    <option value="Report">Report User/Ad</option>
                                                    <option value="Bug">Report Bugs to Developers</option>
                                                    <option value="Suggest">Suggest an Idea</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-form">Name <span class="required">*</span></label>
                                                <input type="text" class="form-control validation"
                                                    ng-model="mc.contact.Name"
                                                    placeholder="Full Name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-form">E-mail Address <span class="required">*</span></label>
                                                <input type="email" class="form-control validation"
                                                    ng-model="mc.contact.Email" required
                                                    placeholder="Valid E-mail Address">
                                            </div>
                                        </div>
                                    </div>
                                    <!--  <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label-form">Screenshots/Photos</label>
                                                <input type="file" class="margin-bottom-20">
                                               < a class="add-more">Add More</a>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label-form">Message <span class="required">*</span></label>
                                                <textarea rows="5" class="form-control validation" placeholder=""
                                                    ng-model="mc.contact.Message"
                                                    required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-top-20">
                                        <button type="button" class="btn btn-primary"
                                            ng-disabled="contactForm.$invalid"
                                            ng-click="mc.SubmitContact(mc.contact)">Submit</button>
                                    </div>
                                </div>
                                <!--end form-->
                            </div>
                        </div>
                        <!-- col-->
                    </div>
                </div>
                <!-- about-info -->



            </div>
            <!-- about -->

        </div>
    </div>
    <!-- container -->
</section>
<!-- main -->
