﻿<section id="main" class="clearfix about-us page">
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="title text-center">Frequently Asked Questions</h3>
            <div class="section about">
                <div class="about-info">
                    <div class="row">

                        <!-- about-text -->
                        <div class="col-md-12">
                            <div class="about-text">
                                <!-- description-paragraph -->
                                <div class="description-paragraph">
                                    <h2>Featured Ad</h2>
                                    <h3>1. What is Searchingfor Featured Ad?</h3>
                                    <h5>
                                        Searchingfor Featured Ad is a premium which will display your advertisment to a disignated area that will give better visibility to the other users.
                                    </h5>
                                    <h3>2. How do I subscribe to Searchingfor Featured Ad?</h3>
                                    <h5>
                                        Its simple!
                                        <br />
                                        a. Login to your Searchingfor account
                                        <br />
                                        b. Click the Premium shop icon &nbsp;
                                        <img src="./assets/img/FAQ-Premium.jpg" style="height:30px;">
                                        <br />
                                        c. Click Featured Ads and select the advertisment you want to Feature
                                    </h5>
                                    <h3>3. How does a Featured Ad look like and where can I see it?</h3>
                                    <h5>
                                        There are two areas where Searchingfor.co will show your Featured Ad
                                        <br />
                                        a. Featured Ad will appear on top of the search results
                                        <br />
                                        <img src="./assets/img/FAQ-Featured1.PNG" style="width:700px;height:500px">
                                        <br />
                                        <br />
                                        b. Featured Ad will appear on the first page of Searchingfor under the Featured Ads section
                                        <br />
                                        <img src="./assets/img/FAQ-Featured2.PNG" style="width:700px;height:500px">
                                        <br />
                                    </h5>
                                    <h3>4. Can I edit my Featured Ad?</h3>
                                    <h5>
                                        Yes! You can go to your advertisment by Clicking My Ads then on your ad you can click Edit Post
                                    </h5>
                                    <h3>5. Can I renew my Featured Ad?</h3>
                                    <h5>
                                        Yes! You can renew your advertisment by going to Premium Shop then go to featured ads. There is an option where you can extend the duration of the advertisment
                                    </h5>
                                    <h3>6. Do you have Featured Ads for all categories?</h3>
                                    <h5>
                                        Yes! Featured ad is available in all categories
                                    </h5>
                                    <h3>7. How can I track the duration of the Featured Ad I purchased?</h3>
                                    <h5>You can track your Featured Ad under the Premium Shop-> Featured Ads</h5>
                                    <img src="./assets/img/FAQ-Featured3.PNG" style="width:700px;height:300px">
                                    <br />
                                    <h2>Feature Bids</h2>
                                    <h3>1. What is Feature Bids?</h3>
                                    <h5>Searchingfor Feature Bids lets your bid be seen first by the buyer. Your bid will be shown at the top of the other bids.</h5>
                                    <h3>2. How do I subscribe to Searchingfor Feature Bids?</h3>
                                    <h5>
                                        Its simple!
                                        <br />
                                        a. Login to your Searchingfor account
                                        <br />
                                        b. Click the Premium shop icon &nbsp;
                                        <img src="./assets/img/FAQ-Premium.jpg" style="height:30px;">
                                        <br />
                                        c. Click Featured Bids and select Buy this Premium
                                    </h5>
                                    <h3>3. How to use Feature Bids?</h3>
                                    <h5>
                                        It's very simple.
                                        <br />
                                        Go to advertisment you want to bid on then make an offer. Automatically, your bid will be featured and be on top of other bids.
                                    </h5>
                                    <br />
                                    <h2>Keyword Watch</h2>
                                    <h3>1. What is Keyword Watch?</h3>
                                    <h5>Searchingfor Keyword Watch is a premium used by notifying the buyers when the keyword matches the newly post advertisment's title</h5>
                                    <h3>2. How to used Keyword Watch?</h3>
                                    <h5>
                                        Its simple!
                                        <br />
                                        a. Login to your Searchingfor account
                                        <br />
                                        b. Click the Premium shop icon &nbsp;
                                        <img src="./assets/img/FAQ-Premium.jpg" style="height:30px;">
                                        <br />
                                        c. Click Keyword Watch and just follow the steps provided
                                    </h5>
                                    <h3>4. How can a seller add keyword into watch list?</h3>
                                    <h5>
                                        Initially a user will be only given 4 free keyword watch slots but they can add buy buying slots from keyword watch.
                                    </h5>
                                    <br />
                                    <h2>Other Questions</h2>
                                    <h3>1. How to avail Credits?</h3>
                                    <h5>Go to premium shop then select Buy Credits. After that you can select the mode of payment</h5>
                                    <h3>2. What are the mode of payments available?</h3>
                                    <h5>You can pay thru Paypal,Credit Card and DragonPay</h5>
                                    <h3>3. Can sellers benefits on buying the Searhingfor Premium Service?</h3>
                                    <h5>
                                        The sellers can benefit by using keyword watch feature and by featuring their bids
                                    </h5>
                                    
                                    <h3>4. What is the advantage of having a keyword watch</h3>
                                    <h5>
                                        The seller will be notified if there are any matching keyword in the title of the newly posted advertisments.
                                    </h5>
                                    <h3>5. What are the advantages of Searchingfor Premium Service to the buyers?</h3>
                                    <h5>
                                        The buyers can benefit because they can feature the advertisment they posted. Featured ads will be shown first in the list of advertisments.
                                    </h5>
                                </div>
                                <!-- description-paragraph -->

                            </div>
                            <!-- description-paragraph -->
                        </div>
                        <!-- about-text -->
                    </div>
                </div>
                <!-- about-info -->



            </div>
            <!-- about -->

        </div>
    </div>
    <!-- container -->
</section>
<!-- main -->
