﻿<section id="main" class="clearfix about-us page">
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="title text-center">Using Premium Services</h3>
            <div class="section about">
                <div class="about-info">
                    <div class="row">

                        <!-- about-text -->
                        <div class="col-md-12">
                            <div class="about-text">
                                <!-- description-paragraph -->
                                <div class="description-paragraph">
                                    <!-- HTML Codes by Quackit.com -->
                                    <div class='innerText'>
                                        Below is the list of premium services offered by Searchingfor. You need sufficient credits in your account to avail this premium services.

                                    </div>
                                    <br />
                                    <h2>Premium 1: Featured Ads</h2>
                                    <br />
                                    <div class='innerText'>
                                        Featured Ads is a premium service from Searchingfor.co which allows you to display your Ad in a designated area and highlight your Ad giving it better visibility.
                                    </div>
                                    <div class='innerText'>
                                        Below are the steps to use Feature Ads Premium
                                        <br />
                                        <br />
                                        1. Login to your Searchingfor Account
                                        <br />
                                        2. Click the Premium shop icon &nbsp;
                                        <img src="./assets/img/FAQ-Premium.jpg" style="height:30px;">
                                        <br />
                                        3. Select Feature Ads on the left panel then select the advertisment you want to get featured
                                        <br />
                                        <img src="./assets/img/FAQ-Featured3.PNG" style="width:700px;height:300px">
                                        <!--<br> Explanation:

                                        <br>-->

                                        <br />
                                        <br />
                                        For more information about <b>Feature Ads</b>, <a data-toggle="modal" href="#adsModal">Click Here</a>
                                        <div id="adsModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Feature Ads Premium</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            When someone posted an advertisement, a lot of bidders will try to bid and compete with other bidders for your demand.
                                                            This way if the seller has this premium, he will be the 1st one one the bidding list of the advertisement, giving a higher chance that the transaction would happen with you.
                                                            Let's say 2 different people have decided to top-up their advertisement naming “Post1” and “Post2”. So both advertisements will show up on the listing page at the top. But who will be at the very top? Post2 gets another premium having 2 “Prioritize” premiums stacked.
                                                            Now Post2 will be at the very top of the list, whoever gets the most stack will be more prioritized on the list..

                                                            By Default, if advertisements got same number of “Prioritize” premiums, they will be arranged by alphabetical order.
                                                            Up to a maximum(to be discussed) of 10 “Prioritize” premium shall stack on one advertisement.
                                                            If the advertisement has no “Prioritize” premium,
                                                            They have to pay 200pesos per x months they want it to stay on premium.
                                                            If Person1 wants to topup his advertisement with this premium for 3 months.
                                                            He shall pay 200*3 = 600 pesos.
                                                            Then again he wanted to stack premiums on that advertisement, it will be a recurring
                                                            100pesos per stack.
                                                            Stacking will not refresh/extend the duration of the premium.
                                                            You have to pay a separate 200pesos to extend your duration.
                                                            Note: this premium will refresh your advertisment so that it will be counted as a NEW advertisement.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>

                                        <h2>Premium 2: Feature Bids</h2>
                                        <br />
                                        <div class='innerText'>
                                            Feature bids is a premium used for making an offer to a buyer. Your offer will be prioritize and be shown on the top of other offers.
                                            Your bid will be highlighted to be given emphasis so they notice your offer first.


                                        </div>
                                        <div class='innerText'>
                                            <br>
                                            Here are the steps to avail Feature Bids Premium:
                                            <br />
                                            <br />
                                            1. Login to your Searchingfor Account
                                            <br />
                                            2. Click the Premium shop icon &nbsp;
                                            <img src="./assets/img/FAQ-Premium.jpg" style="height:30px;">
                                            <br />
                                            3. Select Feature Bids on the left panel then select Buy this Premium
                                            <br />
                                            <img src="./assets/img/FAQ-Featured4.PNG" style="width:700px;height:300px">
                                            <!--Using this premium, the seller can immediately know if someone is searching for his/her product and they--> <!--can close the deal soon.-->
                                            <br>
                                            <br />

                                            Here are the steps to used Feature Bids Premium to an existing advertisment:
                                            <br />
                                            <br />
                                            1. Select an advertisment
                                            <br />
                                            2. Make an offer to an existing advertisment
                                            <br />
                                            3. Your bid will be automatically place on top of other bidders.

                                            <br />
                                            <br />
                                            For more information about <b>Feature bids</b>, <a data-toggle="modal" href="#bidsModal">Click Here</a>
                                        </div>

                                        <div id="bidsModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Feature bids Premium</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            When someone posted an advertisement, a lot of bidders will try to bid and compete with other bidders for your demand.
                                                            This way if the seller has this premium, he will be the 1st one one the bidding list of the advertisement, giving a higher chance that the transaction would happen with you.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>


                                        <!--Premium 3:  Shows best price/Best offer - Ingore this for now
                                        The user with premium account will always be shown by the best price/offer by the other party. Usually if the user is not in premium, the offers shown will be first come first post basis.-->
                                        <h2>Premium 3: Keyword Watch</h2>
                                        <div class='innerText'>
                                            <br>
                                            Keyword Watch Premium is used by buyers who wants to get notified when there is someone who searching for there products
                                            <br>
                                            <br />
                                            Below are the steps on adding a keyword watch
                                            <br />
                                            1. Login to your Searchingfor Account
                                            <br />
                                            2. Click the Premium shop icon &nbsp;
                                            <img src="./assets/img/FAQ-Premium.jpg" style="height:30px;">
                                            <br />
                                            3. Select Keyword Watch on the left panel and then follow the steps.
                                            <br />
                                            4. Buy a keyword slots<br />
                                            <img src="./assets/img/FAQ-Step1.PNG" style="width:700px;height:300px">
                                            <br>
                                            5. Add the keyword that you wanted to watch<br />
                                            <img src="./assets/img/FAQ-Step2.PNG" style="width:700px;height:300px">
                                            <br>
                                            6. Assign the keyword to a slot <br />
                                            <img src="./assets/img/FAQ-Step3.PNG" style="width:700px;height:300px">
                                            <br>
                                        </div>
                                        <br />

                                        <div class='innerText'>
                                            <br>
                                            For other concerns and inquiries, you can check <a href="/FAQ"><u>FAQ</u></a> or
                                            you can <a href="/Contact"><u>contact us</u></a> <br><br>
                                            <br>
                                        </div>
                                    </div>
                                    <!-- description-paragraph -->

                                </div>
                                <!-- description-paragraph -->
                            </div>
                            <!-- about-text -->
                        </div>
                    </div>
                    <!-- about-info -->



                </div>
                <!-- about -->

            </div>
        </div>
        <!-- container -->
</section>
<!-- main -->
