﻿@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
@{
    Layout = null;
}

<html ng-app="SearchingforModule" lang="en" ng-controller="MainController as mc">
<head>
    <!-- icons -->
    <link rel="icon" href="./assets/img/favicon.png">
    @*to activate html5*@
    <base href="/">
    <meta name="fragment" content="!">

    <meta name="theme-color" content="#049349">

    <title ng-bind="ogtitle">Searchingfor.co</title>

    @*facebook preview settings*@
    <meta property="og:url" content="{{ogurl}}" />
    <meta property="og:type" content="{{ogtype}}" />
    <meta property="og:title" content="{{ogtitle}}" />
    <meta property="og:description" content="{{ogdescription}}" />
    @*my choice for small pic*@
    <meta id="ogimg1" property="og:image" content="{{ogimage1}}" />
    @*<meta property="og:image" content="/assets/DescriptionImage2048x1088.jpg" />*@
    <meta id="ogimg2" property="og:image" content="{{ogimage2}}" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="SearchingFor Ad Listing, buy, sell, rent" />
    <meta name="description" content="{{ogdescription}}">
    <meta name="author" content="Searchingfor co">
    <meta name="google-site-verification" content="DkzsoO9hS2u-Tk7VWhc1ZaTExaXbeeQHalKDSpR1vUk" />

    @*GOOGLE LOGIN*@
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="954115798607-5k0bn7s2dmo8g9a0aevc72834jfu11ct.apps.googleusercontent.com">

    @*Facebook Pixel*@
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '234863116911884');
        fbq('track', "PageView");</script>
    <noscript>
        <img height="1" width="1" style="display: none"
             src="https://www.facebook.com/tr?id=234863116911884&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- CSS -->
    <link rel="stylesheet" href="./Content/SiteOverride.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/owl.carousel.css">
    <link rel="stylesheet" href="./assets/css/slidr.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link rel="stylesheet" href="./assets/css/jquery.fancybox.min.css">

    <!-- font -->
    <link href="./assets/css/ubuntu.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/signika.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/budicon.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    @*for angular charts*@
    <link rel="stylesheet" href="~/Scripts/angularjs/angular-chart.min.css">
    @*for angular loading bar*@
    <link rel="stylesheet" href="~/Scripts/angularjs/angular-loading-bar0.7.1.min.css">
    @*for toaster*@
    <link href="~/Scripts/angularjs/ng-toastr.min.css" rel="stylesheet" />
    @*for inline edit*@
    @*<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="~/Scripts/angularjs/angular-inline-edit/xeditable.css" rel="stylesheet" />*@
    @*for image popup on postpage*@
    <link href="~/Scripts/angularjs/angular-bootstrap-lightbox/angular-bootstrap-lightbox.css" rel="stylesheet" />

    @System.Web.Optimization.Scripts.Render("~/bundles/jqueries")
    @System.Web.Optimization.Scripts.Render("~/bundles/otherJavascripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/angularCore")

    @*textangular*@
    <link href="~/Scripts/angularjs/textAngular/textAngular.css" rel="stylesheet" />
    <script src="~/Scripts/angularjs/textAngular/textAngular-rangy.min.js"></script>
    <script src="~/Scripts/angularjs/textAngular/textAngular-sanitize.min.js"></script>
    <script src="~/Scripts/angularjs/textAngular/textAngular.min.js"></script>

    @*angular select*@
    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
        <link href="~/Scripts/angular-ui/ui-select.css" rel="stylesheet" />
        <script src="~/Scripts/angular-ui/ui-select.js"></script>*@
    <link href="~/Scripts/angular-ui/ui-select.css" rel="stylesheet" />
    <script src="~/Scripts/angular-ui/ui-select.js"></script>
    @*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">*@
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">*@


    @*signalr*@
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>

    @*FB*@
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>


    @*bootstrap angular*@
    @*<script type="text/javascript" src="./Scripts/angularjs/angularUtil-pagination/dirPagination.js"></script>*@
    <script type="text/javascript" src="./Scripts/angularjs/angular-bootstrap-select.js"></script>
    @*Setting of angular*@

    @*@Scripts.Render("~/app/AngularControllersServices")*@
    <script src="~/app/Others/Constants.js"></script>
    <script src="app/apps.js"></script>
    <script src="~/app/Controllers/MainController.js"></script>
    <script src="~/app/Controllers/DashboardController.js"></script>
    <script src="~/app/Controllers/UserController.js"></script>
    <script src="~/app/Controllers/PostController.js"></script>
    <script src="~/app/Controllers/PostsController.js"></script>
    <script src="~/app/Controllers/PostingController.js"></script>
    <script src="~/app/Controllers/ErrorController.js"></script>
    <script src="~/app/Controllers/NotificationController.js"></script>
    <script src="~/app/Controllers/Profile/ProfileDashboardController.js"></script>
    <script src="~/app/Controllers/Profile/ProfileMyAdsController.js"></script>
    <script src="~/app/Controllers/Profile/ProfileSettingsController.js"></script>
    <script src="~/app/Controllers/Profile/ProfileReviewsController.js"></script>
    <script src="~/app/Controllers/Profile/ProfileLogsController.js"></script>
    <script src="~/app/Controllers/AdminController.js"></script>
    <script src="~/app/Controllers/Admin/AccountsController.js"></script>
    <script src="~/app/Controllers/Admin/AdminContactController.js"></script>
    <script src="~/app/Controllers/Admin/AuditLogsController.js"></script>
    <script src="~/app/Controllers/VerifiedEmailController.js"></script>
    <script src="~/app/Controllers/VerifyEmailController.js"></script>
    <script src="~/app/Controllers/PremiumShopController.js"></script>
    <script src="~/app/Controllers/Premium/PremiumShopBuyCreditsController.js"></script>
    <script src="~/app/Controllers/Premium/PremiumShopKeywordWatchController.js"></script>
    <script src="~/app/Controllers/Premium/PremiumShopFeatureBidController.js"></script>
    <script src="~/app/Controllers/Premium/PremiumShopFeatureAdController.js"></script>
    <script src="~/app/Controllers/ModalController.js"></script>
    <script src="~/app/Controllers/ForgotPasswordController.js"></script>

    <script src="~/app/Services/CategoryService.js"></script>
    <script src="~/app/Services/SharedDataService.js"></script>
    <script src="~/app/Services/PostService.js"></script>
    <script src="~/app/Services/CommentService.js"></script>
    <script src="~/app/Services/UserService.js"></script>
    <script src="~/app/Services/PopupService.js"></script>
    <script src="~/app/Services/NotificationService.js"></script>
    <script src="~/app/Services/MetaService.js"></script>
    <script src="~/app/Services/UtilityService.js"></script>
    <script src="~/app/Services/LookupService.js"></script>
    <script src="~/app/Services/ReviewService.js"></script>
    <script src="~/app/Services/AuthService.js"></script>
    <script src="~/app/Services/DropdownService.js"></script>
    <script src="~/app/Services/TabService.js"></script>
    <script src="~/app/Services/LogService.js"></script>
    <script src="~/app/Services/TextModifierService.js"></script>
    <script src="~/app/Services/HubProxyService.js"></script>
    <script src="~/app/Services/FileService.js"></script>
    <script src="~/app/Services/KeywordService.js"></script>
    <script src="~/app/Services/PremiumService.js"></script>
    <script src="~/app/Services/ContactService.js"></script>
    <script src="~/app/Services/SelectCategoryPageLogicService.js"></script>
    <script src="~/app/Directives/angular-owl-carousel-directive.js"></script>
    <script src="~/app/Directives/BootstrapDirectives.js"></script>
    <script src="~/app/Directives/OtherDirectives.js"></script>

</head>
@* id="body" cz-shortcut-listen="true"
    class="post-submit" data-userimg="images/user-thumb-94x94.png" data-userlink="author.html"*@
<body id="body"  ng-cloak ng-model-options="{ debounce: { 'default': 200, 'blur': 0 } }">
    @*overlay when loading*@ 
    <div id="overlay"></div>
    <!-- header -->
    <header id="header" class="clearfix">
        <!-- navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- navbar-header -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="Dashboard">
                        <img class="img-responsive" src="./assets/img/logo.png" alt="Logo">
                    </a>
                </div>
                <!-- /navbar-header -->
                <!-- nav-right -->
                <div class="nav-right">
                    <div ng-if="mc.Auth.IsAuthenticated">
                        <!--Listing-->
                        <div class="dropdown user-dropdown">
                            <a href="Posts" data-toggle="tooltip" data-placement="bottom" title="Listings">
                                <i class="bi_web-reading-list"></i>
                            </a>
                        </div>
                        <!-- Premium shop -->
                        <div class="dropdown user-dropdown">
                            <a href="PremiumShop" data-toggle="tooltip" data-placement="bottom" title="Premium Shop">
                                <i class="bi_ecommerce-bag"></i>
                            </a>
                        </div>
                        <!-- notification -->
                        <div class="dropdown user-dropdown">
                            <a href="Notifications" title="Notification">
                                <i class="bi_interface-bell"></i><i class="fa fa-circle" ng-show="mc.notifyCount">{{mc.notifyCount}}</i>
                            </a>
                        </div>
                        <!-- user-dropdown -->
                        <div class="dropdown user-dropdown">
                            <a data-toggle="dropdown" style="cursor: pointer"><i class="bi_user-single-round"></i><span class="change-text username-wrap">{{mc.Auth.UserData.Email}}</span> <i class="bi_interface-bottom"></i></a>
                            <ul class="dropdown-menu user-options" style="cursor: pointer">
                                <li><a ng-href="/Profile/{{::mc.Auth.UserData.ID}}/Dashboard">My Profile</a></li>
                                <li><a ng-href="/Profile/{{::mc.Auth.UserData.ID}}/My Ads">My Ads</a></li>
                                <li><a ng-href="/PremiumShop">Premium Shop</a></li>
                                <li><a ng-href="/Profile/{{::mc.Auth.UserData.ID}}/Settings">Settings</a></li>
                                <li><a ng-click="mc.Auth.me.Logout()">Sign Out</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- user-dropdown -->
                    <!-- sign-in -->
                    <ul ng-if="!mc.Auth.IsAuthenticated"
                        class="sign-in">
                        <li>
                            <a href="Posts" data-toggle="tooltip" data-placement="bottom" title="Listings"
                               style="padding: 7px">
                                <i class="bi_web-reading-list"></i>
                            </a>
                        </li>
                        <li><i class="bi_user-single-round"></i></li>
                        <li><a href="/Login">Login </a></li>
                        <li><a href="/Signup">Register</a></li>
                    </ul>
                    <!-- sign-in -->

                    <a href="/Posting" class="btn">Post Your Ad</a>
                </div>
                <!-- nav-right -->
            </div>
            <!-- container -->
        </nav>
        <!-- navbar -->
    </header>
    <!-- header -->

    <div ng-view></div>

    <!-- post ad for free panel -->
    <section id="something-sell" class="clearfix parallax-section"
             ng-if="showPostAddFreeSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="title">Are you searchingfor something?</h2>
                    <h4>Post about it and let them find you!</h4>
                    <a href="/Posting" class="btn btn-primary">Post Ad for FREE</a>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- contaioner -->
    </section>
    <!-- post ad for free panel -->
    @*Footer*@
    <footer id="footer" class="clearfix">
        <!-- footer-top -->
        <section class="footer-top clearfix">
            <div class="container">
                <div class="row">
                    <!-- footer-widget -->
                    <div class="col-sm-3">
                        <div class="footer-widget">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="About">About Us</a></li>
                                <li><a href="Contact">Contact Us</a></li>
                                <li><a href="PrivacyPolicy">Privacy Policy</a></li>
                                <li><a href="Terms">Terms &amp; Conditions</a></li>
                                <li><a href="Help">Help &amp; Support</a></li>
                                @*<li><a href="advertise.html">Advertise With Us</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget -->
                    <!-- footer-widget -->
                    <div class="col-sm-3">
                        <div class="footer-widget">
                            <h3>Questions?</h3>
                            <ul>
                                @*<li><a href="how-to-sell.html">How to sell fast</a></li>*@
                                @*<li><a href="membership.html">Membership</a></li>*@
                                <li><a href="Premium">Using premium services</a></li>
                                <li><a href="AdPolicy">Ad Policy</a></li>
                                <li><a href="FAQ">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget -->
                    <!-- footer-widget -->
                    <div class="col-sm-3">
                        <div class="footer-widget social-widget">
                            <h3>Follow us on</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/searchingfor.co/">
                                        <img src="./assets/img/facebook-logo.svg">
                                    </a>
                                    @* <a href="#!">
                                            <img src="./assets/img/twitter-logo.svg"></a>
                                        <a href="#!">
                                            <img src="./assets/img/instagram-logo.svg"></a>*@
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget -->
                    <!-- footer-widget -->
                    <div class="col-sm-3">
                        <div class="footer-widget news-letter">
                            <h3>Newsletter</h3>
                            <p>Subsribe to get latest news and updates</p>
                            <!-- form -->
                            <div ng-form="emailForm">
                                <input type="email"
                                       ng-model="mc.email"
                                       class="form-control validation" placeholder="Your email address">
                                <button type="button"
                                        ng-click="mc.Subscribe(mc.email)"
                                        ng-disabled="!mc.email"
                                        class="btn btn-primary">
                                    Subscribe
                                </button>
                            </div>
                            <!-- form -->
                        </div>
                    </div>
                    <!-- footer-widget -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </section>
        <!-- footer-top -->


        <div class="footer-bottom clearfix text-center">
            <div class="container">
                <p>Copyright © 2016 SearchingFor. All rights reserved</p>
            </div>
        </div>
        <!-- footer-bottom -->
    </footer>
    <!-- footer -->


</body>

<script async="async" type="text/javascript" src="//go.mobisla.com/notice.php?p=812661&interactive=1&pushup=1"></script>

@*Design scripts*@
@*<script src="./assets/js/jquery.min.js"></script>*@
<script src="./assets/js/jquery.fancybox.min.js"></script>

<script src="./assets/js/modernizr.min.js"></script>
<script src="./assets/js/bootstrap3.3.6.min.js"></script>
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/price-range.js"></script>

<script src="./assets/js/custom.js"></script>
</html>
