﻿@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
@{
    Layout = null;
}

<html ng-app="SearchingforModule">
<head>
    @*to activate html5*@
    <base href="/">
    <meta name="fragment" content="!">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="SearchingFor Ad Listing, buy, sell, rent" />
    <meta name="description" content="Ad Listing Buy Sell">
    <meta name="author" content="jeo talavera">
    <title>Searchingfor</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/fontello.css" />
    <link rel="stylesheet" href="~/assets/css/jquery.filer.css" />
    <link rel="stylesheet" href="~/assets/css/jquery.filer-dragdropbox-theme.css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/css/component.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" href='~/assets/css/mapbox.css' />
    <link rel="stylesheet" rel="stylesheet" href='~/assets/css/chosen.css' />
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">*@
    <link rel="stylesheet" href="./assets/css/main.css" />
    <!-- IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->




    @*for angular charts*@
    <link rel="stylesheet" href="~/Scripts/angularjs/angular-chart.min.css">
    @*for angular loading bar*@
    <link rel="stylesheet" href="~/Scripts/angularjs/angular-loading-bar0.7.1.min.css">
    @*for toaster*@
    <link href="~/Scripts/angularjs/ng-toastr.min.css" rel="stylesheet" />

    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>*@
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueries")
    @System.Web.Optimization.Scripts.Render("~/bundles/otherJavascripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/angularCore")

    <style>
        select {
            color: grey;
        }

        option:first-child {
            color: grey;
        }

        .underline {
            text-decoration: underline;
        }
    </style>

    <style>
        .thumb {
            width: 24px;
            height: 24px;
            float: none;
            position: relative;
            top: 7px;
        }

        form .progress {
            line-height: 15px;
        }

        .progress {
            display: inline-block;
            width: 100px;
            border: 3px groove #CCC;
        }

            .progress div {
                font-size: smaller;
                background: orange;
                width: 0;
            }
    </style>
    @*bootstrap angular*@
    @*<script type="text/javascript" src="./Scripts/angularjs/angularUtil-pagination/dirPagination.js"></script>*@
    <script type="text/javascript" src="./Scripts/angularjs/angular-bootstrap-select.js"></script>
    @*<script src="app/apps.js"></script>*@
    <script src="app/apps.js"></script>

    @*@Scripts.Render("~/app/AngularControllersServices")*@
    <script src="~/app/Controllers/MainController.js"></script>
    <script src="~/app/Controllers/DashboardController.js"></script>
    <script src="~/app/Controllers/UserController.js"></script>
    <script src="~/app/Controllers/PostController.js"></script>
    <script src="~/app/Controllers/PostsController.js"></script>
    <script src="~/app/Controllers/PostingController.js"></script>
    <script src="~/app/Controllers/AdminController.js"></script>
    <script src="~/app/Controllers/Admin/AccountsController.js"></script>
    <script src="~/app/Controllers/Admin/LogsController.js"></script>

    <script src="~/app/Services/CategoryService.js"></script>
    <script src="~/app/Services/SharedDataService.js"></script>
    <script src="~/app/Services/PostService.js"></script>
    <script src="~/app/Services/CommentService.js"></script>
    <script src="~/app/Services/UserService.js"></script>
    <script src="~/app/Services/PopupService.js"></script>
    <script src="~/app/Services/UtilityService.js"></script>
    <script src="~/app/Services/LookupService.js"></script>
    <script src="~/app/Services/AuthService.js"></script>

    @*<script src="~/app/Directives/BootstrapDirectives.js"></script>*@

</head>
<body id="body" cz-shortcut-listen="true"
    class="post-submit" data-userimg="images/user-thumb-94x94.png" data-userlink="author.html">

    <div id="page" ng-cloak>
        <header class="header-bg" ng-controller="MainController as vm">
            <div class="topbar visible-sm visible-xs visible-md visible-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 text-left">
                            <ul class="topbar-menu">
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 text-right">
                            <div ng-if="!vm.Auth.IsAuthenticated">
                                <ul class="topbar-menu">
                                    <li>
                                        <a href="/Signup">Sign In / Register</a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="vm.Auth.IsAuthenticated">
                                <div class="join-now after-login join-user-info">
                                    <ul>
                                        <li>
                                            <span>
                                                <img src="./assets/img/placeholder.png" alt="user"><span class="label label-danger label-notify">1</span>
                                            </span>
                                            <a>Hi {{::vm.Auth.UserData.Email}}!</a>
                                            <ul class="user-menu list-style-none">
                                                <li><a href="/#/Profile">Profile </a></li>
                                                <li><a href="/#/Ads?show=ads">My Ads</a></li>
                                                <li><a href="/#/Ads?show=expired">Expired Ads</a></li>
                                                <li><a href="/#/Profile?tab=Notifications">Notifications <span class="label label-danger pull-right">1</span></a></li>
                                                <li><a href="/#/Premium">Premium Upgrades</a></li>
                                                <li><a ng-click="::vm.Auth.this.Logout()">Sign out </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ../topbar -->

            <!-- Overlay for Popup -->
            <div class="menu-bar  menu-bar-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="logo">
                                <a href="/Dashboard">
                                    <img src="./assets/img/logo-main.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-8 menu-container visible-sm visible-xs visible-md visible-lg">
                            <div class="pull-right add-listing-btn">
                                <a href="/#/Posting" class="btn btn-post">Post an Ad for free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ../Home Search Container -->


            <!-- ../menu-bar -->
        </header>


        <div class="ng-view">
        </div>

        @*Footer*@
        <footer>
            <div class="footer-upper-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="footer-menu">
                                <li>Copyright © 2016 SearchingFor All rights reserved
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="footer-menu pull-right">
                                <li><a href="/#/About">About</a>
                                </li>
                                <li><a href="#/Privacy">Privacy Policy</a>
                                </li>
                                <li><a href="#/Terms">Terms &amp; Conditions</a>
                                </li>
                                <li><a href="#/Contacts">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    @*        <a href="/#/Posting" class="add-listing-mobile btn-success">Post an Ad</a>*@

</body>

@*for modal*@
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
@*Design scripts*@
<script type="text/javascript" src="./assets/js/jquery-lib.js"></script>
<script type="text/javascript" src="./assets/js/jquery-migrate-1.3.0.min.js"></script>
<script type="text/javascript" src="./assets/js/build.min.js"></script>
<script type="text/javascript" src="./assets/js/chosen.jquery.js"></script>
@*<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>*@
<script type="text/javascript" src="./assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="./assets/js/uploader.js"></script>
<script type="text/javascript" src="./assets/js/slick.min.js"></script>
<script type="text/javascript" src="./assets/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="./assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="./assets/js/jquery.filer.min.js"></script>
<script type="text/javascript" src="./assets/js/bootstrap-rating.js"></script>
<script type="text/javascript" src="./assets/js/classie.js"></script>
<script type="text/javascript" src="./assets/js/main.js"></script>


@*for popup*@
@*<link type="text/css" rel="stylesheet" href="~/assets/css/bootstrap.lightbox.css" />
<script rel="text/javascript" src="~/assets/js/bootstrap.lightbox.min.js"></script>*@

</html>
