@font-face {
  font-family: 'budicon';
  src: url('../fonts/budicon.eot');
  src: url('../fonts/budicon.eot') format('embedded-opentype'),
       url('../fonts/budicon.woff') format('woff'),
       url('../fonts/budicon.ttf') format('truetype'),
       url('../fonts/budicon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'budicon';
    src: url('../font/budicon.svg?42886572#budicon') format('svg');
  }
}
*/

 [class^="bi_"]:before, [class*=" bi_"]:before {
  font-family: "budicon";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.bi_animal-monkey:before { content: '\e806'; } /* '' */
.bi_animal-monkey-a:before { content: '\e807'; } /* '' */
.bi_animal-mouse:before { content: '\e808'; } /* '' */
.bi_animal-pig:before { content: '\e809'; } /* '' */
.bi_animal-pig-a:before { content: '\e80a'; } /* '' */
.bi_animal-sheep:before { content: '\e80b'; } /* '' */
.bi_animal-shrimp:before { content: '\e80c'; } /* '' */
.bi_animal-wolf:before { content: '\e80d'; } /* '' */
.bi_animal-bull:before { content: '\e80e'; } /* '' */
.bi_animal-cat:before { content: '\e80f'; } /* '' */
.bi_animal-chicken:before { content: '\e810'; } /* '' */
.bi_animal-cow:before { content: '\e811'; } /* '' */
.bi_animal-cow-a:before { content: '\e812'; } /* '' */
.bi_animal-dog:before { content: '\e813'; } /* '' */
.bi_com-bubble-dot-b:before { content: '\e814'; } /* '' */
.bi_com-bubble-line:before { content: '\e815'; } /* '' */
.bi_com-bubble-line-a:before { content: '\e816'; } /* '' */
.bi_com-bubble-line-b:before { content: '\e817'; } /* '' */
.bi_com-chat:before { content: '\e818'; } /* '' */
.bi_com-check-box:before { content: '\e819'; } /* '' */
.bi_com-email:before { content: '\e81a'; } /* '' */
.bi_com-email-cross:before { content: '\e81b'; } /* '' */
.bi_com-email-minus:before { content: '\e81c'; } /* '' */
.bi_com-email-o:before { content: '\e81d'; } /* '' */
.bi_com-email-plus:before { content: '\e81e'; } /* '' */
.bi_com-email-tick:before { content: '\e81f'; } /* '' */
.bi_com-envelope:before { content: '\e820'; } /* '' */
.bi_com-feather-pen:before { content: '\e821'; } /* '' */
.bi_com-fountain-pen:before { content: '\e822'; } /* '' */
.bi_com-group-bubble:before { content: '\e823'; } /* '' */
.bi_com-group-bubble-a:before { content: '\e824'; } /* '' */
.bi_com-group-bubble-b:before { content: '\e825'; } /* '' */
.bi_com-group-bubble-c:before { content: '\e826'; } /* '' */
.bi_com-group-bubble-d:before { content: '\e827'; } /* '' */
.bi_com-help:before { content: '\e828'; } /* '' */
.bi_com-help-a:before { content: '\e829'; } /* '' */
.bi_com-megaphone:before { content: '\e82a'; } /* '' */
.bi_com-megaphone-a:before { content: '\e82b'; } /* '' */
.bi_com-mic:before { content: '\e82c'; } /* '' */
.bi_com-mic-mute:before { content: '\e82d'; } /* '' */
.bi_com-paperplane:before { content: '\e82e'; } /* '' */
.bi_com-phone:before { content: '\e82f'; } /* '' */
.bi_com-phone-a:before { content: '\e830'; } /* '' */
.bi_com-pictures:before { content: '\e831'; } /* '' */
.bi_com-voicemail:before { content: '\e832'; } /* '' */
.bi_com-bell:before { content: '\e833'; } /* '' */
.bi_com-bell-a:before { content: '\e834'; } /* '' */
.bi_com-broadcast:before { content: '\e835'; } /* '' */
.bi_com-broadcast-a:before { content: '\e836'; } /* '' */
.bi_com-bubble:before { content: '\e837'; } /* '' */
.bi_com-bubble-a:before { content: '\e838'; } /* '' */
.bi_com-bubble-b:before { content: '\e839'; } /* '' */
.bi_com-bubble-dot:before { content: '\e83a'; } /* '' */
.bi_com-bubble-dot-a:before { content: '\e83b'; } /* '' */
.bi_doc-analytic-blank:before { content: '\e83c'; } /* '' */
.bi_doc-analytic-line:before { content: '\e83d'; } /* '' */
.bi_doc-analytic-line-a:before { content: '\e83e'; } /* '' */
.bi_doc-article:before { content: '\e83f'; } /* '' */
.bi_doc-article-a:before { content: '\e840'; } /* '' */
.bi_doc-article-b:before { content: '\e841'; } /* '' */
.bi_doc-attachment:before { content: '\e842'; } /* '' */
.bi_doc-attachment-a:before { content: '\e843'; } /* '' */
.bi_doc-binder-blank:before { content: '\e844'; } /* '' */
.bi_doc-binder-four:before { content: '\e845'; } /* '' */
.bi_doc-binder-one:before { content: '\e846'; } /* '' */
.bi_doc-binder-three:before { content: '\e847'; } /* '' */
.bi_doc-binder-two:before { content: '\e848'; } /* '' */
.bi_doc-binder-zero:before { content: '\e849'; } /* '' */
.bi_doc-book:before { content: '\e84a'; } /* '' */
.bi_doc-book-a:before { content: '\e84b'; } /* '' */
.bi_doc-book-b:before { content: '\e84c'; } /* '' */
.bi_doc-book-c:before { content: '\e84d'; } /* '' */
.bi_doc-book-d:before { content: '\e84e'; } /* '' */
.bi_doc-bookmark:before { content: '\e84f'; } /* '' */
.bi_doc-book-mark:before { content: '\e850'; } /* '' */
.bi_doc-box:before { content: '\e851'; } /* '' */
.bi_doc-briefcase:before { content: '\e852'; } /* '' */
.bi_doc-briefcase-a:before { content: '\e853'; } /* '' */
.bi_doc-briefcase-b:before { content: '\e854'; } /* '' */
.bi_doc-briefcase-c:before { content: '\e855'; } /* '' */
.bi_doc-briefcase-d:before { content: '\e856'; } /* '' */
.bi_doc-compose:before { content: '\e857'; } /* '' */
.bi_doc-compose-a:before { content: '\e858'; } /* '' */
.bi_doc-documents:before { content: '\e859'; } /* '' */
.bi_doc-documents-minus:before { content: '\e85a'; } /* '' */
.bi_doc-documents-plus:before { content: '\e85b'; } /* '' */
.bi_doc-download:before { content: '\e85c'; } /* '' */
.bi_doc-drawer:before { content: '\e85d'; } /* '' */
.bi_doc-drawer-a:before { content: '\e85e'; } /* '' */
.bi_doc-drawer-b:before { content: '\e85f'; } /* '' */
.bi_doc-drawer-blank:before { content: '\e860'; } /* '' */
.bi_doc-drawer-download:before { content: '\e861'; } /* '' */
.bi_doc-drawer-line:before { content: '\e862'; } /* '' */
.bi_doc-drawer-upload:before { content: '\e863'; } /* '' */
.bi_doc-envelope:before { content: '\e864'; } /* '' */
.bi_doc-file-blank:before { content: '\e865'; } /* '' */
.bi_doc-file-blank-a:before { content: '\e866'; } /* '' */
.bi_doc-file-cross:before { content: '\e867'; } /* '' */
.bi_doc-file-cross-a:before { content: '\e868'; } /* '' */
.bi_doc-file-line:before { content: '\e869'; } /* '' */
.bi_doc-file-line-a:before { content: '\e86a'; } /* '' */
.bi_doc-file-minus:before { content: '\e86b'; } /* '' */
.bi_doc-file-minus-a:before { content: '\e86c'; } /* '' */
.bi_doc-file-plus:before { content: '\e86d'; } /* '' */
.bi_doc-file-plus-a:before { content: '\e86e'; } /* '' */
.bi_doc-file-stack:before { content: '\e86f'; } /* '' */
.bi_doc-file-tick:before { content: '\e870'; } /* '' */
.bi_doc-file-tick-a:before { content: '\e871'; } /* '' */
.bi_doc-folder:before { content: '\e872'; } /* '' */
.bi_doc-folder-a:before { content: '\e873'; } /* '' */
.bi_doc-folder-check-a:before { content: '\e874'; } /* '' */
.bi_doc-folder-cross:before { content: '\e875'; } /* '' */
.bi_doc-folder-cross-a:before { content: '\e876'; } /* '' */
.bi_doc-folder-minus:before { content: '\e877'; } /* '' */
.bi_doc-folder-minus-a:before { content: '\e878'; } /* '' */
.bi_doc-folder-plus:before { content: '\e879'; } /* '' */
.bi_doc-folder-plus-a:before { content: '\e87a'; } /* '' */
.bi_doc-folder-s:before { content: '\e87b'; } /* '' */
.bi_doc-folder-sync:before { content: '\e87c'; } /* '' */
.bi_doc-folder-tick:before { content: '\e87d'; } /* '' */
.bi_doc-list:before { content: '\e87e'; } /* '' */
.bi_doc-news:before { content: '\e87f'; } /* '' */
.bi_doc-newspaper:before { content: '\e880'; } /* '' */
.bi_doc-newspaper-a:before { content: '\e881'; } /* '' */
.bi_doc-newspaper-b:before { content: '\e882'; } /* '' */
.bi_doc-notebook:before { content: '\e883'; } /* '' */
.bi_doc-notebook-a:before { content: '\e884'; } /* '' */
.bi_doc-note-pen:before { content: '\e885'; } /* '' */
.bi_doc-paper-line:before { content: '\e886'; } /* '' */
.bi_doc-papers:before { content: '\e887'; } /* '' */
.bi_doc-paper-stack:before { content: '\e888'; } /* '' */
.bi_doc-photo-stack:before { content: '\e889'; } /* '' */
.bi_doc-pie:before { content: '\e88a'; } /* '' */
.bi_doc-pie-a:before { content: '\e88b'; } /* '' */
.bi_doc-pie-b:before { content: '\e88c'; } /* '' */
.bi_doc-pin:before { content: '\e88d'; } /* '' */
.bi_doc-pin-a:before { content: '\e88e'; } /* '' */
.bi_doc-print:before { content: '\e88f'; } /* '' */
.bi_doc-print-a:before { content: '\e890'; } /* '' */
.bi_doc-profile:before { content: '\e891'; } /* '' */
.bi_doc-profile-a:before { content: '\e892'; } /* '' */
.bi_doc-upload:before { content: '\e893'; } /* '' */
.bi_doc-wboard-line:before { content: '\e894'; } /* '' */
.bi_doc-wboard-tick:before { content: '\e895'; } /* '' */
.bi_media-glass:before { content: '\e896'; } /* '' */
.bi_media-glass-a:before { content: '\e897'; } /* '' */
.bi_media-image:before { content: '\e898'; } /* '' */
.bi_media-image-a:before { content: '\e899'; } /* '' */
.bi_media-image-b:before { content: '\e89a'; } /* '' */
.bi_media-image-c:before { content: '\e89b'; } /* '' */
.bi_media-image-d:before { content: '\e89c'; } /* '' */
.bi_media-negative:before { content: '\e89d'; } /* '' */
.bi_media-negative-a:before { content: '\e89e'; } /* '' */
.bi_media-video:before { content: '\e89f'; } /* '' */
.bi_media-video-a:before { content: '\e8a0'; } /* '' */
.bi_media-video-clip:before { content: '\e8a1'; } /* '' */
.bi_media-video-r:before { content: '\e8a2'; } /* '' */
.bi_business-tie:before { content: '\e8a3'; } /* '' */
.bi_business-tie-a:before { content: '\e8a4'; } /* '' */
.bi_business-tie-b:before { content: '\e8a5'; } /* '' */
.bi_doc-analytic-bar:before { content: '\e8a6'; } /* '' */
.bi_ecommerce-basket:before { content: '\e8a7'; } /* '' */
.bi_ecommerce-bill:before { content: '\e8a8'; } /* '' */
.bi_ecommerce-bill-a:before { content: '\e8a9'; } /* '' */
.bi_ecommerce-bill-b:before { content: '\e8aa'; } /* '' */
.bi_ecommerce-bowtie:before { content: '\e8ab'; } /* '' */
.bi_ecommerce-cash:before { content: '\e8ac'; } /* '' */
.bi_ecommerce-cash-a:before { content: '\e8ad'; } /* '' */
.bi_ecommerce-coins:before { content: '\e8ae'; } /* '' */
.bi_ecommerce-coins-a:before { content: '\e8af'; } /* '' */
.bi_ecommerce-creditcard:before { content: '\e8b0'; } /* '' */
.bi_ecommerce-creditcard-b:before { content: '\e8b1'; } /* '' */
.bi_ecommerce-creditcard-c:before { content: '\e8b2'; } /* '' */
.bi_ecommerce-creditcard-d:before { content: '\e8b3'; } /* '' */
.bi_ecommerce-diamon:before { content: '\e8b4'; } /* '' */
.bi_ecommerce-digital-download:before { content: '\e8b5'; } /* '' */
.bi_ecommerce-digital-upload:before { content: '\e8b6'; } /* '' */
.bi_ecommerce-dollar:before { content: '\e8b7'; } /* '' */
.bi_ecommerce-euro:before { content: '\e8b8'; } /* '' */
.bi_ecommerce-gift:before { content: '\e8b9'; } /* '' */
.bi_ecommerce-hanger:before { content: '\e8ba'; } /* '' */
.bi_ecommerce-jeans:before { content: '\e8bb'; } /* '' */
.bi_ecommerce-lipstick:before { content: '\e8bc'; } /* '' */
.bi_ecommerce-market:before { content: '\e8bd'; } /* '' */
.bi_ecommerce-mastercard:before { content: '\e8be'; } /* '' */
.bi_ecommerce-pack:before { content: '\e8bf'; } /* '' */
.bi_ecommerce-pack-a:before { content: '\e8c0'; } /* '' */
.bi_ecommerce-pounds:before { content: '\e8c1'; } /* '' */
.bi_ecommerce-ring:before { content: '\e8c2'; } /* '' */
.bi_ecommerce-safebox:before { content: '\e8c3'; } /* '' */
.bi_ecommerce-shirt:before { content: '\e8c4'; } /* '' */
.bi_ecommerce-shirt-a:before { content: '\e8c5'; } /* '' */
.bi_ecommerce-shoes:before { content: '\e8c6'; } /* '' */
.bi_ecommerce-shop:before { content: '\e8c7'; } /* '' */
.bi_ecommerce-shopcart:before { content: '\e8c8'; } /* '' */
.bi_ecommerce-shopcart-a:before { content: '\e8c9'; } /* '' */
.bi_ecommerce-shopcart-a-download:before { content: '\e8ca'; } /* '' */
.bi_ecommerce-shopcart-a-fill:before { content: '\e8cb'; } /* '' */
.bi_ecommerce-shopcart-c:before { content: '\e8cc'; } /* '' */
.bi_ecommerce-shopcart-d:before { content: '\e8cd'; } /* '' */
.bi_ecommerce-shopcart-download:before { content: '\e8ce'; } /* '' */
.bi_ecommerce-shopcart-fill:before { content: '\e8cf'; } /* '' */
.bi_ecommerce-short:before { content: '\e8d0'; } /* '' */
.bi_ecommerce-suitcase:before { content: '\e8d1'; } /* '' */
.bi_ecommerce-suitcase-a:before { content: '\e8d2'; } /* '' */
.bi_ecommerce-tag:before { content: '\e8d3'; } /* '' */
.bi_ecommerce-tag-a:before { content: '\e8d4'; } /* '' */
.bi_ecommerce-tag-a-s:before { content: '\e8d5'; } /* '' */
.bi_ecommerce-tag-b:before { content: '\e8d6'; } /* '' */
.bi_ecommerce-tag-b-s:before { content: '\e8d7'; } /* '' */
.bi_ecommerce-tag-c:before { content: '\e8d8'; } /* '' */
.bi_ecommerce-tag-cross:before { content: '\e8d9'; } /* '' */
.bi_ecommerce-tag-c-s:before { content: '\e8da'; } /* '' */
.bi_ecommerce-tag-minus:before { content: '\e8db'; } /* '' */
.bi_ecommerce-tag-plus:before { content: '\e8dc'; } /* '' */
.bi_ecommerce-tag-tick:before { content: '\e8dd'; } /* '' */
.bi_ecommerce-tracking:before { content: '\e8de'; } /* '' */
.bi_ecommerce-tshirt:before { content: '\e8df'; } /* '' */
.bi_ecommerce-wallet:before { content: '\e8e0'; } /* '' */
.bi_ecommerce-wallet-a:before { content: '\e8e1'; } /* '' */
.bi_ecommerce-woman-bag:before { content: '\e8e2'; } /* '' */
.bi_ecommerce-yen:before { content: '\e8e3'; } /* '' */
.bi_ecommerce-backpack:before { content: '\e8e4'; } /* '' */
.bi_ecommerce-backpack-a:before { content: '\e8e5'; } /* '' */
.bi_ecommerce-bag:before { content: '\e8e6'; } /* '' */
.bi_ecommerce-bag-a:before { content: '\e8e7'; } /* '' */
.bi_ecommerce-bag-b:before { content: '\e8e8'; } /* '' */
.bi_editorial-pencil-s:before { content: '\e8e9'; } /* '' */
.bi_editorial-pen-s:before { content: '\e8ea'; } /* '' */
.bi_editorial-redo:before { content: '\e8eb'; } /* '' */
.bi_editorial-right-align:before { content: '\e8ec'; } /* '' */
.bi_editorial-trash:before { content: '\e8ed'; } /* '' */
.bi_editorial-trash-a:before { content: '\e8ee'; } /* '' */
.bi_editorial-trash-a-l:before { content: '\e8ef'; } /* '' */
.bi_editorial-trash-l:before { content: '\e8f0'; } /* '' */
.bi_editorial-undo:before { content: '\e8f1'; } /* '' */
.bi_editorial-write:before { content: '\e8f2'; } /* '' */
.bi_editorial-write-s:before { content: '\e8f3'; } /* '' */
.bi_editorial-ascending:before { content: '\e8f4'; } /* '' */
.bi_editorial-bookmark:before { content: '\e8f5'; } /* '' */
.bi_editorial-bookmark-a:before { content: '\e8f6'; } /* '' */
.bi_editorial-brush:before { content: '\e8f7'; } /* '' */
.bi_editorial-center-align:before { content: '\e8f8'; } /* '' */
.bi_editorial-compose:before { content: '\e8f9'; } /* '' */
.bi_editorial-descending:before { content: '\e8fa'; } /* '' */
.bi_editorial-left-align:before { content: '\e8fb'; } /* '' */
.bi_editorial-pen:before { content: '\e8fc'; } /* '' */
.bi_editorial-pencil:before { content: '\e8fd'; } /* '' */
.bi_editorial-pencil-a:before { content: '\e8fe'; } /* '' */
.bi_editorial-pencil-a-s:before { content: '\e8ff'; } /* '' */
.bi_building-drawer-a:before { content: '\e900'; } /* '' */
.bi_building-house:before { content: '\e901'; } /* '' */
.bi_building-house-a:before { content: '\e902'; } /* '' */
.bi_building-museum:before { content: '\e903'; } /* '' */
.bi_building-office:before { content: '\e904'; } /* '' */
.bi_building-office-a:before { content: '\e905'; } /* '' */
.bi_building-office-b:before { content: '\e906'; } /* '' */
.bi_building-sofa:before { content: '\e907'; } /* '' */
.bi_building-sofa-a:before { content: '\e908'; } /* '' */
.bi_building-sofa-b:before { content: '\e909'; } /* '' */
.bi_building-sofa-twin:before { content: '\e90a'; } /* '' */
.bi_building-sofa-twin-a:before { content: '\e90b'; } /* '' */
.bi_building-table-lamp:before { content: '\e90c'; } /* '' */
.bi_building-table-lamp-a:before { content: '\e90d'; } /* '' */
.bi_building-tower:before { content: '\e90e'; } /* '' */
.bi_building-tree:before { content: '\e90f'; } /* '' */
.bi_environment-flower:before { content: '\e910'; } /* '' */
.bi_environment-flower-a:before { content: '\e911'; } /* '' */
.bi_environment-flower-b:before { content: '\e912'; } /* '' */
.bi_environment-leaf:before { content: '\e913'; } /* '' */
.bi_environment-leaf-a:before { content: '\e914'; } /* '' */
.bi_environment-mountain:before { content: '\e915'; } /* '' */
.bi_environment-mountain-a:before { content: '\e916'; } /* '' */
.bi_environment-no-smoke:before { content: '\e917'; } /* '' */
.bi_environment-plant:before { content: '\e918'; } /* '' */
.bi_environment-sign:before { content: '\e919'; } /* '' */
.bi_environment-smoke:before { content: '\e91a'; } /* '' */
.bi_environment-tree:before { content: '\e91b'; } /* '' */
.bi_building-apartment:before { content: '\e91c'; } /* '' */
.bi_building-bed:before { content: '\e91d'; } /* '' */
.bi_building-bulb:before { content: '\e91e'; } /* '' */
.bi_building-cabinet:before { content: '\e91f'; } /* '' */
.bi_building-desk:before { content: '\e920'; } /* '' */
.bi_building-desk-a:before { content: '\e921'; } /* '' */
.bi_building-desk-b:before { content: '\e922'; } /* '' */
.bi_building-desk-c:before { content: '\e923'; } /* '' */
.bi_building-door:before { content: '\e924'; } /* '' */
.bi_building-drawer:before { content: '\e925'; } /* '' */
.bi_beverage-cocktail-a:before { content: '\e926'; } /* '' */
.bi_beverage-coffee:before { content: '\e927'; } /* '' */
.bi_beverage-coffee-a:before { content: '\e928'; } /* '' */
.bi_beverage-coffee-b:before { content: '\e929'; } /* '' */
.bi_beverage-coffee-cup:before { content: '\e92a'; } /* '' */
.bi_beverage-coffee-cup-a:before { content: '\e92b'; } /* '' */
.bi_beverage-cokctail:before { content: '\e92c'; } /* '' */
.bi_beverage-cup-straw:before { content: '\e92d'; } /* '' */
.bi_beverage-empty-glass:before { content: '\e92e'; } /* '' */
.bi_beverage-milk:before { content: '\e92f'; } /* '' */
.bi_beverage-milk-a:before { content: '\e930'; } /* '' */
.bi_beverage-tea:before { content: '\e931'; } /* '' */
.bi_beverage-tea-a:before { content: '\e932'; } /* '' */
.bi_beverage-tea-cup:before { content: '\e933'; } /* '' */
.bi_beverage-tea-cup-a:before { content: '\e934'; } /* '' */
.bi_beverage-water:before { content: '\e935'; } /* '' */
.bi_beverage-water-a:before { content: '\e936'; } /* '' */
.bi_beverage-water-glass:before { content: '\e937'; } /* '' */
.bi_beverage-wine:before { content: '\e938'; } /* '' */
.bi_food-apple:before { content: '\e939'; } /* '' */
.bi_food-bowl:before { content: '\e93a'; } /* '' */
.bi_food-cherry:before { content: '\e93b'; } /* '' */
.bi_food-cherry-a:before { content: '\e93c'; } /* '' */
.bi_food-chinese-food:before { content: '\e93d'; } /* '' */
.bi_food-chinese-food-a:before { content: '\e93e'; } /* '' */
.bi_food-chinese-food-b:before { content: '\e93f'; } /* '' */
.bi_food-drumstick:before { content: '\e940'; } /* '' */
.bi_food-egg:before { content: '\e941'; } /* '' */
.bi_food-grape:before { content: '\e942'; } /* '' */
.bi_food-hamburger:before { content: '\e943'; } /* '' */
.bi_food-hamburger-a:before { content: '\e944'; } /* '' */
.bi_food-ice-cream:before { content: '\e945'; } /* '' */
.bi_food-ice-cream-a:before { content: '\e946'; } /* '' */
.bi_food-ice-cream-b:before { content: '\e947'; } /* '' */
.bi_food-ice-cream-c:before { content: '\e948'; } /* '' */
.bi_food-melon:before { content: '\e949'; } /* '' */
.bi_food-noodle:before { content: '\e94a'; } /* '' */
.bi_food-noodle-a:before { content: '\e94b'; } /* '' */
.bi_food-onigiri:before { content: '\e94c'; } /* '' */
.bi_food-onigiri-a:before { content: '\e94d'; } /* '' */
.bi_food-white-bread:before { content: '\e94e'; } /* '' */
.bi_kitchen-fork-knife:before { content: '\e94f'; } /* '' */
.bi_kitchen-fork-knife-a:before { content: '\e950'; } /* '' */
.bi_kitchen-fridge:before { content: '\e951'; } /* '' */
.bi_kitchen-grill:before { content: '\e952'; } /* '' */
.bi_kitchen-heat:before { content: '\e953'; } /* '' */
.bi_kitchen-heat-a:before { content: '\e954'; } /* '' */
.bi_kitchen-hood:before { content: '\e955'; } /* '' */
.bi_kitchen-hood-a:before { content: '\e956'; } /* '' */
.bi_kitchen-jam:before { content: '\e957'; } /* '' */
.bi_kitchen-ketchup:before { content: '\e958'; } /* '' */
.bi_kitchen-leaf:before { content: '\e959'; } /* '' */
.bi_kitchen-microwave:before { content: '\e95a'; } /* '' */
.bi_kitchen-pepper:before { content: '\e95b'; } /* '' */
.bi_kitchen-plate:before { content: '\e95c'; } /* '' */
.bi_kitchen-recipe-book:before { content: '\e95d'; } /* '' */
.bi_kitchen-salt:before { content: '\e95e'; } /* '' */
.bi_kitchen-spatula:before { content: '\e95f'; } /* '' */
.bi_kitchen-spoon-fork:before { content: '\e960'; } /* '' */
.bi_kitchen-spoon-fork-a:before { content: '\e961'; } /* '' */
.bi_kitchen-tissue:before { content: '\e962'; } /* '' */
.bi_kitchen-water:before { content: '\e963'; } /* '' */
.bi_beverage-alt-glass:before { content: '\e964'; } /* '' */
.bi_beverage-alt-glass-a:before { content: '\e965'; } /* '' */
.bi_beverage-alt-glass-b:before { content: '\e966'; } /* '' */
.bi_beverage-alt-glass-c:before { content: '\e967'; } /* '' */
.bi_beverage-beer:before { content: '\e968'; } /* '' */
.bi_beverage-chinese-tea:before { content: '\e969'; } /* '' */
.bi_beverage-chinese-tea-a:before { content: '\e96a'; } /* '' */
.bi_beverage-chinese-tea-a-s:before { content: '\e96b'; } /* '' */
.bi_beverage-chinese-tea-s:before { content: '\e96c'; } /* '' */
.bi_setting-switch:before { content: '\e96d'; } /* '' */
.bi_setting-switch-a:before { content: '\e96e'; } /* '' */
.bi_setting-wrench:before { content: '\e96f'; } /* '' */
.bi_setting-wrench-a:before { content: '\e970'; } /* '' */
.bi_setting-airplane:before { content: '\e971'; } /* '' */
.bi_setting-component:before { content: '\e972'; } /* '' */
.bi_setting-eq:before { content: '\e973'; } /* '' */
.bi_setting-eq-a:before { content: '\e974'; } /* '' */
.bi_setting-gear:before { content: '\e975'; } /* '' */
.bi_setting-gear-a:before { content: '\e976'; } /* '' */
.bi_setting-gear-b:before { content: '\e977'; } /* '' */
.bi_setting-hotspot:before { content: '\e978'; } /* '' */
.bi_setting-notification:before { content: '\e979'; } /* '' */
.bi_sport-tape:before { content: '\e97a'; } /* '' */
.bi_sport-tennisball:before { content: '\e97b'; } /* '' */
.bi_sport-time:before { content: '\e97c'; } /* '' */
.bi_sport-trophy:before { content: '\e97d'; } /* '' */
.bi_sport-trophy-a:before { content: '\e97e'; } /* '' */
.bi_sport-tv:before { content: '\e97f'; } /* '' */
.bi_sport-tv-a:before { content: '\e980'; } /* '' */
.bi_medicine-heart:before { content: '\e981'; } /* '' */
.bi_medicine-lab:before { content: '\e982'; } /* '' */
.bi_medicine-lab-a:before { content: '\e983'; } /* '' */
.bi_sport-alt-badge:before { content: '\e984'; } /* '' */
.bi_sport-alt-badge-a:before { content: '\e985'; } /* '' */
.bi_sport-badge:before { content: '\e986'; } /* '' */
.bi_sport-badge-a:before { content: '\e987'; } /* '' */
.bi_sport-badge-b:before { content: '\e988'; } /* '' */
.bi_sport-badge-c:before { content: '\e989'; } /* '' */
.bi_sport-badge-one:before { content: '\e98a'; } /* '' */
.bi_sport-badge-one-a:before { content: '\e98b'; } /* '' */
.bi_sport-baseball:before { content: '\e98c'; } /* '' */
.bi_sport-basketball:before { content: '\e98d'; } /* '' */
.bi_sport-basketball-a:before { content: '\e98e'; } /* '' */
.bi_sport-bottle:before { content: '\e98f'; } /* '' */
.bi_sport-cards:before { content: '\e990'; } /* '' */
.bi_sport-dumbell:before { content: '\e991'; } /* '' */
.bi_sport-dumbell-a:before { content: '\e992'; } /* '' */
.bi_sport-flag:before { content: '\e993'; } /* '' */
.bi_sport-flag-a:before { content: '\e994'; } /* '' */
.bi_sport-football:before { content: '\e995'; } /* '' */
.bi_sport-medic:before { content: '\e996'; } /* '' */
.bi_sport-mic:before { content: '\e997'; } /* '' */
.bi_sport-puzzle:before { content: '\e998'; } /* '' */
.bi_sport-stadium:before { content: '\e999'; } /* '' */
.bi_sport-stadium-a:before { content: '\e99a'; } /* '' */
.bi_time-alarm:before { content: '\e99b'; } /* '' */
.bi_time-alt-wall-clock:before { content: '\e99c'; } /* '' */
.bi_time-calendar:before { content: '\e99d'; } /* '' */
.bi_time-calendar-a:before { content: '\e99e'; } /* '' */
.bi_time-calendar-b:before { content: '\e99f'; } /* '' */
.bi_time-clock:before { content: '\e9a0'; } /* '' */
.bi_time-clock-a:before { content: '\e9a1'; } /* '' */
.bi_time-clock-b:before { content: '\e9a2'; } /* '' */
.bi_time-clock-c:before { content: '\e9a3'; } /* '' */
.bi_time-hour-glass:before { content: '\e9a4'; } /* '' */
.bi_time-speed-meter:before { content: '\e9a5'; } /* '' */
.bi_time-stopwatch:before { content: '\e9a6'; } /* '' */
.bi_time-stopwatch-a:before { content: '\e9a7'; } /* '' */
.bi_time-stopwatch-b:before { content: '\e9a8'; } /* '' */
.bi_time-timer:before { content: '\e9a9'; } /* '' */
.bi_time-wall-clock:before { content: '\e9aa'; } /* '' */
.bi_time-watches:before { content: '\e9ab'; } /* '' */
.bi_time-watches-a:before { content: '\e9ac'; } /* '' */
.bi_time-watches-b:before { content: '\e9ad'; } /* '' */
.bi_location-alt-pin:before { content: '\e9ae'; } /* '' */
.bi_location-avenue:before { content: '\e9af'; } /* '' */
.bi_location-compass:before { content: '\e9b0'; } /* '' */
.bi_location-map:before { content: '\e9b1'; } /* '' */
.bi_location-pin:before { content: '\e9b2'; } /* '' */
.bi_location-pin-blank:before { content: '\e9b3'; } /* '' */
.bi_location-pin-check:before { content: '\e9b4'; } /* '' */
.bi_location-pin-map:before { content: '\e9b5'; } /* '' */
.bi_location-pin-map-a:before { content: '\e9b6'; } /* '' */
.bi_location-pin-minus:before { content: '\e9b7'; } /* '' */
.bi_location-pin-plus:before { content: '\e9b8'; } /* '' */
.bi_location-pin-regular:before { content: '\e9b9'; } /* '' */
.bi_location-sign-street:before { content: '\e9ba'; } /* '' */
.bi_tool-console:before { content: '\e9bb'; } /* '' */
.bi_tool-console-a:before { content: '\e9bc'; } /* '' */
.bi_tool-console-old:before { content: '\e9bd'; } /* '' */
.bi_tool-disk:before { content: '\e9be'; } /* '' */
.bi_tool-disk-a:before { content: '\e9bf'; } /* '' */
.bi_tool-flashlight:before { content: '\e9c0'; } /* '' */
.bi_tool-flashlight-a:before { content: '\e9c1'; } /* '' */
.bi_tool-flashlight-a-s:before { content: '\e9c2'; } /* '' */
.bi_tool-flashlight-s:before { content: '\e9c3'; } /* '' */
.bi_tool-gameboy:before { content: '\e9c4'; } /* '' */
.bi_tool-hammer:before { content: '\e9c5'; } /* '' */
.bi_tool-headphone:before { content: '\e9c6'; } /* '' */
.bi_tool-headphone-a:before { content: '\e9c7'; } /* '' */
.bi_tool-laptop:before { content: '\e9c8'; } /* '' */
.bi_tool-magic-wand:before { content: '\e9c9'; } /* '' */
.bi_tool-magic-wand-a:before { content: '\e9ca'; } /* '' */
.bi_tool-magnet:before { content: '\e9cb'; } /* '' */
.bi_tool-magnifier:before { content: '\e9cc'; } /* '' */
.bi_tool-medical-tape:before { content: '\e9cd'; } /* '' */
.bi_tool-mobile:before { content: '\e9ce'; } /* '' */
.bi_tool-mobile-l:before { content: '\e9cf'; } /* '' */
.bi_tool-monitor:before { content: '\e9d0'; } /* '' */
.bi_tool-monitor-a:before { content: '\e9d1'; } /* '' */
.bi_tool-mouse:before { content: '\e9d2'; } /* '' */
.bi_tool-net:before { content: '\e9d3'; } /* '' */
.bi_tool-paint-roler:before { content: '\e9d4'; } /* '' */
.bi_tool-projector:before { content: '\e9d5'; } /* '' */
.bi_tool-radio:before { content: '\e9d6'; } /* '' */
.bi_tool-ruler:before { content: '\e9d7'; } /* '' */
.bi_tool-scissor:before { content: '\e9d8'; } /* '' */
.bi_tool-tablet:before { content: '\e9d9'; } /* '' */
.bi_tool-tablet-l:before { content: '\e9da'; } /* '' */
.bi_tool-television:before { content: '\e9db'; } /* '' */
.bi_tool-toothbrush:before { content: '\e9dc'; } /* '' */
.bi_tool-umbrella:before { content: '\e9dd'; } /* '' */
.bi_tool-video:before { content: '\e9de'; } /* '' */
.bi_tool-alt-camera:before { content: '\e9df'; } /* '' */
.bi_tool-alt-camera-a:before { content: '\e9e0'; } /* '' */
.bi_tool-android:before { content: '\e9e1'; } /* '' */
.bi_tool-android-l:before { content: '\e9e2'; } /* '' */
.bi_tool-binoculars:before { content: '\e9e3'; } /* '' */
.bi_tool-brush:before { content: '\e9e4'; } /* '' */
.bi_tool-brush-a:before { content: '\e9e5'; } /* '' */
.bi_tool-calculator:before { content: '\e9e6'; } /* '' */
.bi_tool-camera:before { content: '\e9e7'; } /* '' */
.bi_tool-camera-a:before { content: '\e9e8'; } /* '' */
.bi_tool-camera-b:before { content: '\e9e9'; } /* '' */
.bi_tool-compass:before { content: '\e9ea'; } /* '' */
.bi_transport-car-b:before { content: '\e9eb'; } /* '' */
.bi_transport-car-c:before { content: '\e9ec'; } /* '' */
.bi_transport-ship:before { content: '\e9ed'; } /* '' */
.bi_transport-train:before { content: '\e9ee'; } /* '' */
.bi_transport-truck:before { content: '\e9ef'; } /* '' */
.bi_transport-truck-a:before { content: '\e9f0'; } /* '' */
.bi_transport-alt-bus:before { content: '\e9f1'; } /* '' */
.bi_transport-bicycle:before { content: '\e9f2'; } /* '' */
.bi_transport-bicycle-a:before { content: '\e9f3'; } /* '' */
.bi_transport-boat:before { content: '\e9f4'; } /* '' */
.bi_transport-bus:before { content: '\e9f5'; } /* '' */
.bi_transport-bus-a:before { content: '\e9f6'; } /* '' */
.bi_transport-car:before { content: '\e9f7'; } /* '' */
.bi_transport-car-a:before { content: '\e9f8'; } /* '' */
.bi_user-male:before { content: '\e9f9'; } /* '' */
.bi_user-male-check:before { content: '\e9fa'; } /* '' */
.bi_user-male-cross:before { content: '\e9fb'; } /* '' */
.bi_user-male-minus:before { content: '\e9fc'; } /* '' */
.bi_user-male-plus:before { content: '\e9fd'; } /* '' */
.bi_user-male-sign:before { content: '\e9fe'; } /* '' */
.bi_user-password:before { content: '\e9ff'; } /* '' */
.bi_user-password-u:before { content: '\ea00'; } /* '' */
.bi_user-password-u-a:before { content: '\ea01'; } /* '' */
.bi_user-single:before { content: '\ea02'; } /* '' */
.bi_user-single-a:before { content: '\ea03'; } /* '' */
.bi_user-single-a-check:before { content: '\ea04'; } /* '' */
.bi_user-single-a-cross:before { content: '\ea05'; } /* '' */
.bi_user-single-a-group:before { content: '\ea06'; } /* '' */
.bi_user-single-a-list:before { content: '\ea07'; } /* '' */
.bi_user-single-a-minus:before { content: '\ea08'; } /* '' */
.bi_user-single-a-plus:before { content: '\ea09'; } /* '' */
.bi_user-single-check:before { content: '\ea0a'; } /* '' */
.bi_user-single-cross:before { content: '\ea0b'; } /* '' */
.bi_user-single-minus:before { content: '\ea0c'; } /* '' */
.bi_user-single-plus:before { content: '\ea0d'; } /* '' */
.bi_user-single-round:before { content: '\ea0e'; } /* '' */
.bi_user-alt:before { content: '\ea0f'; } /* '' */
.bi_user-alt-check:before { content: '\ea10'; } /* '' */
.bi_user-alt-cross:before { content: '\ea11'; } /* '' */
.bi_user-alt-group:before { content: '\ea12'; } /* '' */
.bi_user-alt-list:before { content: '\ea13'; } /* '' */
.bi_user-alt-minus:before { content: '\ea14'; } /* '' */
.bi_user-alt-plus:before { content: '\ea15'; } /* '' */
.bi_user-contact-book:before { content: '\ea16'; } /* '' */
.bi_user-female:before { content: '\ea17'; } /* '' */
.bi_user-female-cross:before { content: '\ea18'; } /* '' */
.bi_user-female-group:before { content: '\ea19'; } /* '' */
.bi_user-female-list:before { content: '\ea1a'; } /* '' */
.bi_user-female-minus:before { content: '\ea1b'; } /* '' */
.bi_user-female-plus:before { content: '\ea1c'; } /* '' */
.bi_user-female-sign:before { content: '\ea1d'; } /* '' */
.bi_user-female-tick:before { content: '\ea1e'; } /* '' */
.bi_user-key:before { content: '\ea1f'; } /* '' */
.bi_user-lock:before { content: '\ea20'; } /* '' */
.bi_user-lock-u:before { content: '\ea21'; } /* '' */
.bi_user-lock-u-a:before { content: '\ea22'; } /* '' */
.bi_weather-sunset-a:before { content: '\ea23'; } /* '' */
.bi_weather-wind:before { content: '\ea24'; } /* '' */
.bi_weather-wind-pressure:before { content: '\ea25'; } /* '' */
.bi_weather-wind-pressure-a:before { content: '\ea26'; } /* '' */
.bi_weather-cloud:before { content: '\ea27'; } /* '' */
.bi_weather-cloud-a:before { content: '\ea28'; } /* '' */
.bi_weather-cloud-rainy:before { content: '\ea29'; } /* '' */
.bi_weather-cloud-rainy-a:before { content: '\ea2a'; } /* '' */
.bi_weather-cloud-snow:before { content: '\ea2b'; } /* '' */
.bi_weather-cloud-snow-a:before { content: '\ea2c'; } /* '' */
.bi_weather-cloud-stormy:before { content: '\ea2d'; } /* '' */
.bi_weather-cloud-stormy-a:before { content: '\ea2e'; } /* '' */
.bi_weather-cloud-sun:before { content: '\ea2f'; } /* '' */
.bi_weather-humid:before { content: '\ea30'; } /* '' */
.bi_weather-moon:before { content: '\ea31'; } /* '' */
.bi_weather-moon-a:before { content: '\ea32'; } /* '' */
.bi_weather-moon-b:before { content: '\ea33'; } /* '' */
.bi_weather-moon-r:before { content: '\ea34'; } /* '' */
.bi_weather-sun-a:before { content: '\ea35'; } /* '' */
.bi_weather-sun-b:before { content: '\ea36'; } /* '' */
.bi_weather-sun-r:before { content: '\ea37'; } /* '' */
.bi_weather-sunrise:before { content: '\ea38'; } /* '' */
.bi_web-bug:before { content: '\ea39'; } /* '' */
.bi_web-code:before { content: '\ea3a'; } /* '' */
.bi_web-database:before { content: '\ea3b'; } /* '' */
.bi_web-download:before { content: '\ea3c'; } /* '' */
.bi_web-graph:before { content: '\ea3d'; } /* '' */
.bi_web-inspect:before { content: '\ea3e'; } /* '' */
.bi_web-internet:before { content: '\ea3f'; } /* '' */
.bi_web-internet-a:before { content: '\ea40'; } /* '' */
.bi_web-logout:before { content: '\ea41'; } /* '' */
.bi_web-menu-collapse-down:before { content: '\ea42'; } /* '' */
.bi_web-menu-collapse-left:before { content: '\ea43'; } /* '' */
.bi_web-menu-collapse-right:before { content: '\ea44'; } /* '' */
.bi_web-menu-collapse-up:before { content: '\ea45'; } /* '' */
.bi_web-reading-list:before { content: '\ea46'; } /* '' */
.bi_web-report:before { content: '\ea47'; } /* '' */
.bi_web-report-a:before { content: '\ea48'; } /* '' */
.bi_web-rss:before { content: '\ea49'; } /* '' */
.bi_web-share:before { content: '\ea4a'; } /* '' */
.bi_web-share-a:before { content: '\ea4b'; } /* '' */
.bi_web-share-b:before { content: '\ea4c'; } /* '' */
.bi_web-statistic:before { content: '\ea4d'; } /* '' */
.bi_web-traffic:before { content: '\ea4e'; } /* '' */
.bi_web-traffic-a:before { content: '\ea4f'; } /* '' */
.bi_web-traffic-b:before { content: '\ea50'; } /* '' */
.bi_web-traffic-c:before { content: '\ea51'; } /* '' */
.bi_web-upload:before { content: '\ea52'; } /* '' */
.bi_web-url:before { content: '\ea53'; } /* '' */
.bi_web-url-a:before { content: '\ea54'; } /* '' */
.bi_web-url-b:before { content: '\ea55'; } /* '' */
.bi_web-warning:before { content: '\ea56'; } /* '' */
.bi_web-webcam:before { content: '\ea57'; } /* '' */
.bi_web-broken-link:before { content: '\ea58'; } /* '' */
.bi_web-browser:before { content: '\ea59'; } /* '' */
.bi_web-browser-a:before { content: '\ea5a'; } /* '' */
.bi_web-browser-b:before { content: '\ea5b'; } /* '' */
.bi_web-browser-cross:before { content: '\ea5c'; } /* '' */
.bi_web-browser-minus:before { content: '\ea5d'; } /* '' */
.bi_web-browser-plus:before { content: '\ea5e'; } /* '' */
.bi_web-browser-tab:before { content: '\ea5f'; } /* '' */
.bi_web-browser-tab-cross:before { content: '\ea60'; } /* '' */
.bi_web-browser-tab-minus:before { content: '\ea61'; } /* '' */
.bi_web-browser-tab-plus:before { content: '\ea62'; } /* '' */
.bi_web-browser-tab-tick:before { content: '\ea63'; } /* '' */
.bi_web-browser-tick:before { content: '\ea64'; } /* '' */
.bi_web-browser-window:before { content: '\ea65'; } /* '' */
.bi_logo-vimeo:before { content: '\ea66'; } /* '' */
.bi_logo-windows:before { content: '\ea67'; } /* '' */
.bi_logo-zerply:before { content: '\ea68'; } /* '' */
.bi_logo-amazon:before { content: '\ea69'; } /* '' */
.bi_logo-dribbble:before { content: '\ea6a'; } /* '' */
.bi_logo-dropbox:before { content: '\ea6b'; } /* '' */
.bi_logo-evernote:before { content: '\ea6c'; } /* '' */
.bi_logo-facebook:before { content: '\ea6d'; } /* '' */
.bi_logo-grooveshark:before { content: '\ea6e'; } /* '' */
.bi_logo-instagram:before { content: '\ea6f'; } /* '' */
.bi_logo-linkedin:before { content: '\ea70'; } /* '' */
.bi_logo-musio:before { content: '\ea71'; } /* '' */
.bi_logo-path:before { content: '\ea72'; } /* '' */
.bi_logo-paypal:before { content: '\ea73'; } /* '' */
.bi_logo-picasa:before { content: '\ea74'; } /* '' */
.bi_logo-pinterest:before { content: '\ea75'; } /* '' */
.bi_logo-rdio:before { content: '\ea76'; } /* '' */
.bi_logo-squarespace:before { content: '\ea77'; } /* '' */
.bi_logo-squareup:before { content: '\ea78'; } /* '' */
.bi_logo-twitter:before { content: '\ea79'; } /* '' */
.bi_misc-one-click:before { content: '\ea7a'; } /* '' */
.bi_misc-pointer:before { content: '\ea7b'; } /* '' */
.bi_misc-pointer-swipe-l:before { content: '\ea7c'; } /* '' */
.bi_misc-pointer-swipe-r:before { content: '\ea7d'; } /* '' */
.bi_misc-puzzle:before { content: '\ea7e'; } /* '' */
.bi_misc-wifi:before { content: '\ea7f'; } /* '' */
.bi_misc-crown:before { content: '\ea80'; } /* '' */
.bi_misc-cube:before { content: '\ea81'; } /* '' */
.bi_misc-dice-five:before { content: '\ea82'; } /* '' */
.bi_misc-dice-four:before { content: '\ea83'; } /* '' */
.bi_misc-dice-one:before { content: '\ea84'; } /* '' */
.bi_misc-dice-six:before { content: '\ea85'; } /* '' */
.bi_misc-dice-three:before { content: '\ea86'; } /* '' */
.bi_misc-dice-two:before { content: '\ea87'; } /* '' */
.bi_misc-double-click:before { content: '\ea88'; } /* '' */
.bi_misc-female-gender:before { content: '\ea89'; } /* '' */
.bi_misc-globe:before { content: '\ea8a'; } /* '' */
.bi_misc-male-gender:before { content: '\ea8b'; } /* '' */
.bi_misc-mood-happy:before { content: '\ea8c'; } /* '' */
.bi_misc-mood-sad:before { content: '\ea8d'; } /* '' */
.bi_music-mic:before { content: '\ea8e'; } /* '' */
.bi_music-mic-a:before { content: '\ea8f'; } /* '' */
.bi_music-next:before { content: '\ea90'; } /* '' */
.bi_music-next-l:before { content: '\ea91'; } /* '' */
.bi_music-next-l-a:before { content: '\ea92'; } /* '' */
.bi_music-pause:before { content: '\ea93'; } /* '' */
.bi_music-pause-a:before { content: '\ea94'; } /* '' */
.bi_music-pause-b:before { content: '\ea95'; } /* '' */
.bi_music-play:before { content: '\ea96'; } /* '' */
.bi_music-playlist:before { content: '\ea97'; } /* '' */
.bi_music-previous:before { content: '\ea98'; } /* '' */
.bi_music-previous-l:before { content: '\ea99'; } /* '' */
.bi_music-previous-l-a:before { content: '\ea9a'; } /* '' */
.bi_music-radio:before { content: '\ea9b'; } /* '' */
.bi_music-record:before { content: '\ea9c'; } /* '' */
.bi_music-record-a:before { content: '\ea9d'; } /* '' */
.bi_music-repeat:before { content: '\ea9e'; } /* '' */
.bi_music-repeat-a:before { content: '\ea9f'; } /* '' */
.bi_music-repeat-one:before { content: '\eaa0'; } /* '' */
.bi_music-repeat-one-a:before { content: '\eaa1'; } /* '' */
.bi_music-shuffle:before { content: '\eaa2'; } /* '' */
.bi_music-shuffle-a:before { content: '\eaa3'; } /* '' */
.bi_music-song-note:before { content: '\eaa4'; } /* '' */
.bi_music-song-note-a:before { content: '\eaa5'; } /* '' */
.bi_music-speaker:before { content: '\eaa6'; } /* '' */
.bi_music-speaker-a:before { content: '\eaa7'; } /* '' */
.bi_music-stop:before { content: '\eaa8'; } /* '' */
.bi_music-stop-a:before { content: '\eaa9'; } /* '' */
.bi_volume-high:before { content: '\eaaa'; } /* '' */
.bi_volume-high-a:before { content: '\eaab'; } /* '' */
.bi_volume-low:before { content: '\eaac'; } /* '' */
.bi_volume-low-a:before { content: '\eaad'; } /* '' */
.bi_volume-medium:before { content: '\eaae'; } /* '' */
.bi_volume-medium-a:before { content: '\eaaf'; } /* '' */
.bi_volume-mute:before { content: '\eab0'; } /* '' */
.bi_volume-mute-a:before { content: '\eab1'; } /* '' */
.bi_music-album:before { content: '\eab2'; } /* '' */
.bi_music-album-a:before { content: '\eab3'; } /* '' */
.bi_music-album-b:before { content: '\eab4'; } /* '' */
.bi_music-album-c:before { content: '\eab5'; } /* '' */
.bi_music-album-cd:before { content: '\eab6'; } /* '' */
.bi_music-cd:before { content: '\eab7'; } /* '' */
.bi_music-eject:before { content: '\eab8'; } /* '' */
.bi_music-eq:before { content: '\eab9'; } /* '' */
.bi_music-eq-a:before { content: '\eaba'; } /* '' */
.bi_music-group-note:before { content: '\eabb'; } /* '' */
.bi_music-group-note-a:before { content: '\eabc'; } /* '' */
.bi_music-headphone:before { content: '\eabd'; } /* '' */
.bi_music-headphone-a:before { content: '\eabe'; } /* '' */
.bi_music-list:before { content: '\eabf'; } /* '' */
.bi_interface-backspace:before { content: '\eac0'; } /* '' */
.bi_interface-backspace-a:before { content: '\eac1'; } /* '' */
.bi_interface-bell:before { content: '\eac2'; } /* '' */
.bi_interface-bell-a:before { content: '\eac3'; } /* '' */
.bi_interface-block:before { content: '\eac4'; } /* '' */
.bi_interface-bottom:before { content: '\eac5'; } /* '' */
.bi_interface-bottom-k:before { content: '\eac6'; } /* '' */
.bi_interface-bottom-r:before { content: '\eac7'; } /* '' */
.bi_interface-box-bottom:before { content: '\eac8'; } /* '' */
.bi_interface-box-bottom-a:before { content: '\eac9'; } /* '' */
.bi_interface-box-cross:before { content: '\eaca'; } /* '' */
.bi_interface-box-left:before { content: '\eacb'; } /* '' */
.bi_interface-box-left-a:before { content: '\eacc'; } /* '' */
.bi_interface-box-minus:before { content: '\eacd'; } /* '' */
.bi_interface-box-plus:before { content: '\eace'; } /* '' */
.bi_interface-box-right:before { content: '\eacf'; } /* '' */
.bi_interface-box-right-a:before { content: '\ead0'; } /* '' */
.bi_interface-box-tick:before { content: '\ead1'; } /* '' */
.bi_interface-box-top:before { content: '\ead2'; } /* '' */
.bi_interface-box-top-a:before { content: '\ead3'; } /* '' */
.bi_interface-bulleye:before { content: '\ead4'; } /* '' */
.bi_interface-calendar:before { content: '\ead5'; } /* '' */
.bi_interface-circle:before { content: '\ead6'; } /* '' */
.bi_interface-circle-cross:before { content: '\ead7'; } /* '' */
.bi_interface-circle-minus:before { content: '\ead8'; } /* '' */
.bi_interface-circle-plus:before { content: '\ead9'; } /* '' */
.bi_interface-circle-tick:before { content: '\eada'; } /* '' */
.bi_interface-circle-tick-a:before { content: '\eadb'; } /* '' */
.bi_interface-clock:before { content: '\eadc'; } /* '' */
.bi_interface-clock-a:before { content: '\eadd'; } /* '' */
.bi_interface-clock-b:before { content: '\eade'; } /* '' */
.bi_interface-cloud-download:before { content: '\eadf'; } /* '' */
.bi_interface-cloud-upload:before { content: '\eae0'; } /* '' */
.bi_interface-cmd:before { content: '\eae1'; } /* '' */
.bi_interface-crop:before { content: '\eae2'; } /* '' */
.bi_interface-cross:before { content: '\eae3'; } /* '' */
.bi_interface-dashboard:before { content: '\eae4'; } /* '' */
.bi_interface-direction:before { content: '\eae7'; } /* '' */
.bi_interface-downloading:before { content: '\eae8'; } /* '' */
.bi_interface-enlarge:before { content: '\eae9'; } /* '' */
.bi_interface-enlarge-a:before { content: '\eaea'; } /* '' */
.bi_interface-enlarge-c:before { content: '\eaeb'; } /* '' */
.bi_interface-expand:before { content: '\eaec'; } /* '' */
.bi_interface-forward:before { content: '\eaed'; } /* '' */
.bi_interface-fullscreen:before { content: '\eaee'; } /* '' */
.bi_interface-fullscreen-a:before { content: '\eaef'; } /* '' */
.bi_interface-fullscreen-wide:before { content: '\eaf0'; } /* '' */
.bi_interface-hamburger:before { content: '\eaf1'; } /* '' */
.bi_interface-heart:before { content: '\eaf2'; } /* '' */
.bi_interface-help:before { content: '\eaf3'; } /* '' */
.bi_interface-help-a:before { content: '\eaf4'; } /* '' */
.bi_interface-home:before { content: '\eaf5'; } /* '' */
.bi_interface-home-a:before { content: '\eaf6'; } /* '' */
.bi_interface-horizontal:before { content: '\eaf7'; } /* '' */
.bi_interface-horizontal-a:before { content: '\eaf8'; } /* '' */
.bi_interface-in-link:before { content: '\eaf9'; } /* '' */
.bi_interface-left:before { content: '\eafa'; } /* '' */
.bi_interface-left-b-k:before { content: '\eafb'; } /* '' */
.bi_interface-left-k:before { content: '\eafc'; } /* '' */
.bi_interface-left-r:before { content: '\eafd'; } /* '' */
.bi_interface-left-t-k:before { content: '\eafe'; } /* '' */
.bi_interface-list-view:before { content: '\eaff'; } /* '' */
.bi_interface-login:before { content: '\eb00'; } /* '' */
.bi_interface-logout-a:before { content: '\eb01'; } /* '' */
.bi_interface-minimize:before { content: '\eb02'; } /* '' */
.bi_interface-minus:before { content: '\eb03'; } /* '' */
.bi_interface-more:before { content: '\eb04'; } /* '' */
.bi_interface-number:before { content: '\eb05'; } /* '' */
.bi_interface-out-link:before { content: '\eb06'; } /* '' */
.bi_interface-pixel:before { content: '\eb07'; } /* '' */
.bi_interface-places:before { content: '\eb08'; } /* '' */
.bi_interface-places-a:before { content: '\eb09'; } /* '' */
.bi_interface-plus:before { content: '\eb0a'; } /* '' */
.bi_interface-popup:before { content: '\eb0b'; } /* '' */
.bi_interface-power:before { content: '\eb0c'; } /* '' */
.bi_interface-refresh:before { content: '\eb0d'; } /* '' */
.bi_interface-repeating:before { content: '\eb0e'; } /* '' */
.bi_interface-reply:before { content: '\eb0f'; } /* '' */
.bi_interface-resize-full:before { content: '\eb10'; } /* '' */
.bi_interface-resize-full-a:before { content: '\eb11'; } /* '' */
.bi_interface-resize-normal:before { content: '\eb12'; } /* '' */
.bi_interface-reverse:before { content: '\eb13'; } /* '' */
.bi_interface-right:before { content: '\eb14'; } /* '' */
.bi_interface-right-k:before { content: '\eb15'; } /* '' */
.bi_interface-right-r:before { content: '\eb16'; } /* '' */
.bi_interface-rigth-b-k:before { content: '\eb17'; } /* '' */
.bi_interface-rigth-t-k:before { content: '\eb18'; } /* '' */
.bi_interface-search:before { content: '\eb19'; } /* '' */
.bi_interface-search-cross:before { content: '\eb1a'; } /* '' */
.bi_interface-search-minus:before { content: '\eb1b'; } /* '' */
.bi_interface-search-plus:before { content: '\eb1c'; } /* '' */
.bi_interface-search-tick:before { content: '\eb1d'; } /* '' */
.bi_interface-sidebar-hamburger:before { content: '\eb1e'; } /* '' */
.bi_interface-star:before { content: '\eb1f'; } /* '' */
.bi_interface-star-a:before { content: '\eb20'; } /* '' */
.bi_interface-target:before { content: '\eb21'; } /* '' */
.bi_interface-thumbnail:before { content: '\eb22'; } /* '' */
.bi_interface-tick:before { content: '\eb23'; } /* '' */
.bi_interface-top:before { content: '\eb24'; } /* '' */
.bi_interface-top-k:before { content: '\eb25'; } /* '' */
.bi_interface-top-r:before { content: '\eb26'; } /* '' */
.bi_interface-undo:before { content: '\eb27'; } /* '' */
.bi_interface-uploading:before { content: '\eb28'; } /* '' */
.bi_interface-vertical:before { content: '\eb29'; } /* '' */
.bi_interface-vertical-a:before { content: '\eb2a'; } /* '' */
.bi_interface-view:before { content: '\eb2b'; } /* '' */
.bi_interface-warning:before { content: '\eb2c'; } /* '' */
.bi_interface-window:before { content: '\eb2d'; } /* '' */
.bi_layout-footer:before { content: '\eb2e'; } /* '' */
.bi_layout-grid:before { content: '\eb2f'; } /* '' */
.bi_layout-half:before { content: '\eb30'; } /* '' */
.bi_layout-header:before { content: '\eb31'; } /* '' */
.bi_layout-sidebar-l:before { content: '\eb32'; } /* '' */
.bi_layout-sidebar-l-a:before { content: '\eb33'; } /* '' */
.bi_layout-sidebar-l-half:before { content: '\eb34'; } /* '' */
.bi_layout-sidebar-l-half-a:before { content: '\eb35'; } /* '' */
.bi_layout-sidebar-r:before { content: '\eb36'; } /* '' */
.bi_layout-sidebar-r-a:before { content: '\eb37'; } /* '' */
.bi_layout-sidebar-r-half:before { content: '\eb38'; } /* '' */
.bi_layout-sidebar-r-half-a:before { content: '\eb39'; } /* '' */
.bi_layout-third-h:before { content: '\eb3a'; } /* '' */
.bi_layout-third-v:before { content: '\eb3b'; } /* '' */
.bi_layout-wireframe:before { content: '\eb3c'; } /* '' */
.bi_layout-wireframe-a:before { content: '\eb3d'; } /* '' */
.bi_interface-alt-cross:before { content: '\eb3e'; } /* '' */
.bi_interface-alt-fullscreen:before { content: '\eb3f'; } /* '' */
.bi_interface-alt-minus:before { content: '\eb40'; } /* '' */
.bi_interface-alt-plus:before { content: '\eb41'; } /* '' */
.bi_interface-alt-tick:before { content: '\eb42'; } /* '' */
.bi_interface-alt-widescreen:before { content: '\eb43'; } /* '' */
.bi_interface-arrow-all:before { content: '\eb44'; } /* '' */
.bi_interface-arrow-bottom:before { content: '\eb45'; } /* '' */
.bi_interface-arrow-bottom-circle:before { content: '\eb46'; } /* '' */
.bi_interface-arrow-left:before { content: '\eb47'; } /* '' */
.bi_interface-arrow-left-b:before { content: '\eb48'; } /* '' */
.bi_interface-arrow-left-circle:before { content: '\eb49'; } /* '' */
.bi_interface-arrow-left-t:before { content: '\eb4a'; } /* '' */
.bi_interface-arrow-right:before { content: '\eb4b'; } /* '' */
.bi_interface-arrow-right-b:before { content: '\eb4c'; } /* '' */
.bi_interface-arrow-right-circle:before { content: '\eb4d'; } /* '' */
.bi_interface-arrow-right-t:before { content: '\eb4e'; } /* '' */
.bi_interface-arrow-top:before { content: '\eb4f'; } /* '' */
.bi_interface-arrow-top-circle:before { content: '\eb50'; } /* '' */
.bi_animal-dog-a:before { content: '\eb51'; } /* '' */
.bi_interface-horizontal-a-1:before { content: '\eb52'; } /* '' */
.bi_interface-vertical-a-1:before { content: '\eb53'; } /* '' */
.bi_interface-diag:before { content: '\eb54'; } /* '' */
.bi_interface-diag-a:before { content: '\eb55'; } /* '' */
