﻿<div class="col-sm-12 col-md-9">
    <div class="my-notifications section">
        <!-- reviews -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Payment</h3>
                <!-- Paypal-->
                <div class="notif-box credit-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <a ng-href="Profile/{{vm.Auth.UserData.ID}}/Payment%20Settings">
                                <img src="./assets/img/paypal.png" class="width-140">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Dragon Pay-->
                <div class="notif-box credit-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <a ng-href="Profile/{{vm.Auth.UserData.ID}}/Payment%20Settings">
                                <img src="./assets/img/creditcards.jpg" class="width-250">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Dragon Pay-->
                  <div class="notif-box credit-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="c-info-choice">Over-the-Counter Bank Transfer - 
                            coming soon.</h5>
                            <img src="./assets/img/dragonpay.png" class="width-140">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-top-20 text-right">
                <a ng-href="Profile/{{vm.Auth.UserData.ID}}/Payment%20Settings"
                    class="btn btn-primary btn-buy-credits">Buy Credits</a>
            </div>
        </div>
        <!--row-->
    </div>
    <!-- my notif-->
