﻿<div class="col-sm-12 col-md-9" ng-controller="PremiumShopFeatureBidController as psfbc"
    ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="my-notifications section">
        <!-- reviews -->
        <div class="row">
            <!-- review 1-->
            <div class="col-sm-12">
                <h3>Feature your Bids</h3>
                <h4>Featuring your Bids will allow you to stand out.</h4>
                <h4>SMS message will be sent to the advertisement owner for them to be notified of your bid.</h4>
                <h4>As well as your bid will be highlighted to be given emphasis so they notice your offer first.</h4>
                <!-- Credit 100-->
                <div ng-if="vm.Premiums.length<=0 || !vm.Premiums">
                    <button type="submit" class="btn btn-primary"
                        ng-click="OpenPurchasePremiumModal('lg')">
                        BUY THIS PREMIUM</button>
                </div>
                   <div ng-if="vm.Premiums.length>=1">
                    <b>Featured for {{vm.Premiums[0].DurationInDays}} days</b>
                    <br />
                    <b>Feature expire <span am-time-ago="vm.Premiums[0].ExpirationDate"></span></b>
                    <br />
                    <button type="submit" class="btn btn-primary"
                        ng-click="OpenExtendPremiumModal('lg')">
                        EXTEND PREMIUM DURATION</button>
                </div>
                <!--   <div class="notif-box">
                   
                </div>-->
                <!-- <div class="col-md-12 margin-top-20 text-right">
                    <button type="submit" class="btn btn-primary btn-buy-credits">Buy Keywords</button>
                </div>-->
            </div>
            <!--row-->
        </div>
        <!-- my notif-->
    </div>



    <script type="text/ng-template" id="PurchasePremiumModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Purchase Feature Ad</h3>
        </div>
        <div class="modal-body">
                <div class="col-sm-12">
                <!-- Credit 100-->
                <div class="row">
                    <div class="col-sm-6" ng-repeat="choice in psfbc.Choices">
                        <a ng-click="psfbc.SelectPricing(choice)">
                            <div ng-class="psfbc.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                                <!--credit-box-selected-->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="credit-info premium-info">
                                            <p>{{choice.Label}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Purchase Feature Ad</button>
        </div>
    </script>

    <script type="text/ng-template" id="ExtendPremiumModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Extend The Feature Ad duration</h3>
        </div>
        <div class="modal-body">
            <div class="col-sm-12">
                <!-- Credit 100-->
                <div class="row">
                    <div class="col-sm-6" ng-repeat="choice in psfbc.Choices">
                        <a ng-click="psfbc.SelectPricing(choice)">
                            <div ng-class="psfbc.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                                <!--credit-box-selected-->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="credit-info premium-info">
                                            <p>{{choice.Label}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Extend Duration</button>
        </div>
    </script>
