﻿<div class="col-sm-12 col-md-9" ng-controller="PremiumShopFeatureAdController as psfac"
    ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="my-notifications section">
        <!-- reviews -->
        <div class="row">
            <h3>Feature your advertisment.</h3>
            <div class="col-sm-12">
                <div ng-if="psfac.Posts.List.length<=0">
                    No advertisment yet.
                </div>
                <!-- All -->
                <div class="listing" ng-repeat="post in psfac.Posts.List">
                    <div class="ad-info listing-details">
                        <div class="row">
                            <div class="col-xs-2 col-sm-4 col-md-2">
                                <div class="responsive-container">
                                    <div class="img-container">
                                        <img ng-src="{{vm.Util.GetPostPrimaryImageLink(post)}}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-md-6 job-info">
                                <span class="location">{{::psfac.TextModifierService.RequestText(post)}}: </span>
                                <br />
                                <span class="item-buy"><a ng-href="/Post/{{::post.LinkPostfix}}">{{::post.Title}}</a></span>
                                <span class="budget">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</span>
                                <span ng-if="post.Status == 'expired'" class="label label-danger">ADVERTISMENT EXPIRED</span>
                                <div ng-show="post.Premium">
                                    <span ng-if="post.Featured" class="label label-default">Feature expire <span am-time-ago="post.Premium.ExpirationDate"></span></span>
                                    <br>
                                </div>
                                <!--<br>-->
                                <div class="meta-content">
                                    <span class="dated" style="font-size: 13px">
                                        <i class="bi_time-wall-clock"></i><span am-time-ago="::post.ModifiedOn"></span>
                                        <i class="bi_location-alt-pin"></i>{{::post.DisplayLocation}}</span><br>
                                </div>
                                <!--<span class="negotiable">(Negotiable)</span>-->
                            </div>
                            <div class="col-xs-4 col-sm-12 col-md-4 text-center">
                                <div class="width-100-per">
                                    <div class="col-xs-4 col-sm-12 col-md-4 text-center">
                                        <div class="width-100-per">
                                            <div ng-show="post.Premium">
                                                <button class="btn btn-primary btn-view-job"
                                                    ng-click="OpenExtendPremiumModal('lg',post)">
                                                    EXTEND DURATION</button>
                                            </div>
                                            <div ng-show="!post.Premium">
                                                <button ng-show="!post.Premium" class="btn btn-primary btn-view-job"
                                                    ng-click="OpenPurchasePremiumModal('lg',post)">
                                                    FEATURE THIS AD</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--row -->
                    </div>
                </div>
            </div>
        </div>
        <!--row-->
    </div>
    <!-- my notif-->
</div>
<!-- col -->

<script type="text/ng-template" id="PurchasePremiumModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Purchase Feature Ad</h3>
        </div>
        <div class="modal-body">
                <div class="col-sm-12">
                <!-- Credit 100-->
                <div class="row">
                    <div class="col-sm-6" ng-repeat="choice in psfac.Choices">
                        <a ng-click="psfac.SelectPricing(choice)">
                            <div ng-class="psfac.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                                <!--credit-box-selected-->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="credit-info premium-info">
                                            <p>{{choice.Label}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Purchase Feature Ad</button>
        </div>
</script>

<script type="text/ng-template" id="ExtendPremiumModal.html">
<div class="modal-header">
     <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Extend The Feature Ad duration</h3>
</div>
<div class="modal-body">
    <div class="col-sm-12">
            <!-- Credit 100-->
        <div class="row">
            <div class="col-sm-6" ng-repeat="choice in psfac.Choices">
                <a ng-click="psfac.SelectPricing(choice)">
                    <div ng-class="psfac.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                        <!--credit-box-selected-->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="credit-info premium-info">
                                    <p>{{choice.Label}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Extend Duration</button>
</div>
</script>
