﻿<div class="col-sm-12 col-md-9" ng-controller="PremiumShopFeatureAdController as psfac"
    ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="my-notifications section">
        <!-- reviews -->
        <div class="row">
            <h3>Feature your advertisment.</h3>
            <div class="col-sm-12">
                <!-- All -->
                <div class="notif-box credit-box" ng-repeat="post in psfac.Posts.List">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="margin-top-7 premium-ad-title">Title: <span class="small">{{post.Title}}</span></h4>
                           <div ng-show="post.Premium">
                               <b>Featured for {{post.Premium.DurationInDays}} days</b>
                               <br />
                               <div ng-if="!post.Featured">FEATURE EXPIRED</div>
                               <div ng-if="post.Status = 'expired'">ADVERTISMENT EXPIRED</div>
                               <b>Feature expire <span am-time-ago="post.Premium.ExpirationDate"></span></b>
                               <br />
                                <button class="btn btn-primary"
                                ng-click="OpenExtendPremiumModal('lg',post)">
                                        EXTEND DURATION</button>
                           </div>
                            <button ng-show="!post.Premium" class="btn btn-primary"
                                ng-click="OpenPurchasePremiumModal('lg',post)">
                                FEATURE THIS AD</button>
                        </div>
                    </div>
                </div>
            </div>
        <!--    <div class="col-md-12 margin-top-20 text-right">
                <a href="!" type="submit" class="btn btn-primary btn-buy-credits">Buy Upgrades</a>
            </div>-->
        </div>
        <!--row-->
    </div>
    <!-- my notif-->
</div>
<!-- col -->

<script type="text/ng-template" id="PurchasePremiumModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Purchase Feature Ad</h3>
        </div>
        <div class="modal-body">
                <div class="col-sm-12">
                <h4>Step 1: Select Duration</h4>
                <!-- Credit 100-->
                <div class="row">
                    <div class="col-sm-6" ng-repeat="choice in psfac.Choices">
                        <a ng-click="psfac.SelectPricing(choice)">
                            <div ng-class="psfac.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                                <!--credit-box-selected-->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="credit-info premium-info">
                                            <p>{{choice.Label}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Purchase Feature Ad</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>

<script type="text/ng-template" id="ExtendPremiumModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Extend The Feature Ad duration</h3>
        </div>
        <div class="modal-body">
            <div class="col-sm-12">
                <h4>Step 1: Select Duration</h4>
                <!-- Credit 100-->
                <div class="row">
                    <div class="col-sm-6" ng-repeat="choice in psfac.Choices">
                        <a ng-click="psfac.SelectPricing(choice)">
                            <div ng-class="psfac.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                                <!--credit-box-selected-->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="credit-info premium-info">
                                            <p>{{choice.Label}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Extend Duration</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>
