﻿<div class="col-sm-12 col-md-9" ng-controller="PremiumShopFeatureBidController as psfbc"
    ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="my-notifications section">
        <!-- reviews -->
        <div class="row">
            <!-- review 1-->
            <div class="col-sm-12">
                <h3>Feature Bid</h3>
                <div class="notif-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <p>
                                    Featuring your Bids will allow you to stand out.
                                </p>
                                <p>
                                    SMS message will be sent to the advertisement owner for them to be notified of your bid.

                              As well as your bid will be highlighted to be given emphasis so they notice your offer first.
                                </p>
                            </div>
                        </div>
                        <div ng-if="vm.Premiums.length<=0 || !vm.Premiums">
                            <button type="submit" class="btn btn-primary"
                                ng-click="OpenPurchasePremiumModal('lg')">
                                BUY THIS PREMIUM</button>
                        </div>
                        <div ng-if="vm.Premiums.length>0">

                            <div class="margin-top-20">
                                <small>Purchased : {{vm.Premiums[0].StartDate}}</small>
                            </div>

                            <div class="margin-top-8">
                                <span class="label label-default">Featured for {{vm.Premiums[0].DurationInDays}} Days</span><br>
                                <span class="label label-danger">featured expire <span am-time-ago="vm.Premiums[0].ExpirationDate"></span></span>
                            </div>

                            <div class="col-sm-12 margin-top-8">
                                <button class="btn btn-primary btn-add-keyword"
                                    ng-click="OpenExtendPremiumModal('lg')">
                                   <div ng-show="!vm.Util.IfExpired(vm.Premiums[0].ExpirationDate)">
                                        Extend
                                    </div>
                                    <div ng-show="vm.Util.IfExpired(vm.Premiums[0].ExpirationDate)">
                                        Expired/Inactive
                                    </div>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--row-->
        </div>
        <!-- my notif-->
    </div>



    <script type="text/ng-template" id="PurchasePremiumModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Purchase Feature Ad</h3>
        </div>
        <div class="modal-body">
                <div class="col-sm-12">
                <!-- Credit 100-->
                <div class="row">
                    <div class="col-sm-6" ng-repeat="choice in psfbc.Choices">
                        <a ng-click="psfbc.SelectPricing(choice)">
                            <div ng-class="psfbc.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                                <!--credit-box-selected-->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="credit-info premium-info">
                                            <p>{{choice.Label}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Purchase Feature Ad</button>
        </div>
    </script>

    <script type="text/ng-template" id="ExtendPremiumModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Extend The Feature Ad duration</h3>
        </div>
        <div class="modal-body">
            <div class="col-sm-12">
                <!-- Credit 100-->
                <div class="row">
                    <div class="col-sm-6" ng-repeat="choice in psfbc.Choices">
                        <a ng-click="psfbc.SelectPricing(choice)">
                            <div ng-class="psfbc.SelectedPricing.Label == choice.Label?'notif-box credit-box credit-box-selected':'notif-box credit-box'">
                                <!--credit-box-selected-->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="credit-info premium-info">
                                            <p>{{choice.Label}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="credit-price premium-upgrade">{{choice.CreditCost}} Credits</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Extend Duration</button>
        </div>
    </script>
