﻿<div>
    <data-owl-carousel class="owl-carousel" data-options="options">
        <div owl-carousel-item="" ng-repeat="post in posts.List">
            <!-- featured -->
            <div class="featured">
                <div class="featured-image">
                    <a ng-href="/Post/{{::post.LinkPostfix}}">
                        <img ng-src="{{::UtilityService.GetPostPrimaryImageLink(post)}}" alt="" class="img-respocive">
                    </a>
                </div>
                <!-- ad-info -->
                <div class="ad-info">
                    <h3 class="item-price">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</h3>
                    <h4 class="item-title"><a ng-href="/Post/{{::post.LinkPostfix}}"> {{::TextModifierService.RequestText(post)}} : {{::post.Title}}</a></h4>
                    <!--<div class="item-cat"> <span><a href="#">Electronics</a></span></div>-->
                    <span class="label label-default" ng-show="::post.Featured">featured</span>
                </div>
                <!-- ad-info -->
                <!-- ad-meta -->
                <div class="ad-meta">
                    <div class="meta-content">
                        <span class="dated"><i class="fa fa-clock-o"></i> <span am-time-ago="::post.ModifiedOn"></span> <i class="fa fa-map-marker"></i> <small>{{::post.DisplayLocation}}</small></span>
                    </div>
                    <!-- item-info-right -->
                    <!--<div class="user-option pull-right">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-heart"></i> </a>
                    </div>-->
                    <!-- item-info-right -->
                </div>
                <!-- ad-meta -->
            </div>
            <!-- featured -->
        </div>
    </data-owl-carousel>
</div>
