﻿<div>
    <!--If there is no list to show-->
    <div ng-class="posts.LookCss" dir-paginate="post in posts.List | itemsPerPage: paginationSetting.PageSize"
        total-items="posts.Count" pagination-id='paginationId+"_id"'
        current-page="paginationSetting.Current">
        <div class="featured">
            <div class="featured-image">
                <a ng-href="/Post/{{::post.LinkPostfix}}">
                    <img ng-src="{{UtilityService.GetPostPrimaryImageLink(post)}}" alt="" class="img-respocive"></a>
            </div>
            <!-- ad-info -->
            <div class="ad-info">
                <h3 class="item-price">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</h3>
                <h4 class="item-title"><a ng-href="/Post/{{::post.LinkPostfix}}">{{::TextModifierService.RequestText(post)}}: {{::post.Title}}</a></h4>
                <span ng-show="post.Featured" class="label label-default">Featured</span>
                <span ng-show="post.Status =='expired'" class="label label-expired">Expired Ad</span>

                
                
                <div class="item-cat">
                    <span ng-if="IsOwner(post)">Expires:<i class="bi_time-wall-clock"></i> <span am-time-ago="::post.ExpirationDate"></span>
                </span>
                    <!--<span><a>{{::post.Category.Name}}</a></span>-->
                </div>
            </div>
            <!-- ad-info -->
            <!-- ad-meta -->
            <div class="ad-meta">
                <div class="meta-content">
                    <span class="dated"><i class="fa fa-clock-o"></i><span am-time-ago="::post.ModifiedOn"></span>
                        <i class="fa fa-map-marker"></i>{{::post.DisplayLocation}}</span>
                </div>
                <!-- item-info-right -->
                <!-- <div class="user-option pull-right">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-heart"></i></a>
            </div>-->
                <!-- item-info-right -->
            </div>
            <!-- ad-meta -->
        </div>
        <!-- featured -->
    </div>

    <div ng-if="posts.List.length<=0 || !posts.List">
        <h4 class="text-center">No Advertisments.. yet</h4>
    </div>
    <!---->
    <!-- pagination  -->
    <div class="col-xs-12" ng-if="posts.List.length>0">
        <div class="text-center">
            <dir-pagination-controls
                pagination-id='paginationId+"_id"'
                class="pagination"
                max-size="10"
                on-page-change="func({newPageNumber:newPageNumber,oldPageNumber:oldPageNumber})"
                auto-hide="true">
            </dir-pagination-controls>
        </div>
    </div>

    <!--newPageNumber, oldPageNumber-->
</div>
